@page "/dashboard"
@inject IDivisionService DivisionService
@inject IDepartmentService DepartmentService
@inject ISectionService SectionService
@inject IPositionService PositionService
@inject IAddressService AddressService
@inject IAreaService AreaService
@inject IEmployeeService EmployeeService
@inject IToastService _toastService
@inject IImageService ImageService
@inject IEducationService EducationService
@inject IPayrollService PayrollService
@inject ILicenseTrainingService LicenseTrainingService
@inject IEmployeeService EmployeeService
@inject NavigationManager NavigationManager
@inject SweetAlertService Swal
@inject IToastService _toastService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject GlobalConfigService GlobalConfigService
@inject AuditlogGlobal AuditlogGlobal

@attribute [Authorize(Roles = "Admin, HR, User")]

<PageTitle>Dashboard</PageTitle>
    <style>
    .rightcard.mud-card-content {
        padding: 22px 25px 20px 25px;
        height: 100%;
    }
    
    .rightmudcard {
        height: 25rem;
        border-radius: 10px;
        background: #e9ecef;
        border: none;
        box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
        border-radius: 20px;
        padding: 10px 15px 10px 15px;
        overflow: auto;
    }

    </style>

<MudGrid Style="margin-top: 20px;" Spacing="5">
    <MudItem xs="12" sm="3">
        <TopCards title="Total Active Employees" value="@_countActiveEmployees" icon="@Icons.Material.TwoTone.Person4" iconColor="font-size: 5rem; color: #427D9D" OnIconClick="@(()=>NavIconBtns("employee"))" />
    </MudItem>
    <MudItem xs="12" sm="3">
        <TopCards title="Total Inactive Employees" value="@_countInactiveEmployees" icon="@Icons.Material.TwoTone.PersonOff" iconColor="font-size: 5rem; color: #FF9800" OnIconClick=@(()=>NavIconBtns("inactiveEmployee")) />
    </MudItem>
    <MudItem xs="12" sm="3">
        <TopCards title="Total Vacancies as of Today" value="@_totalVacancy.ToString()" icon="@Icons.Material.TwoTone.RunningWithErrors" iconColor="font-size: 5rem; color: #E97777" OnIconClick=@(()=>NavIconBtns("vacancy")) />
    </MudItem>
    @* <h1>@GlobalConfigService.Fullname</h1> *@
    
    @*<h1>@FULLNAME</h1>*@
</MudGrid>