@page "/dashboard"
@inject IDivisionService DivisionService
@inject IDepartmentService DepartmentService
@inject ISectionService SectionService
@inject IPositionService PositionService
@inject IAddressService AddressService
@inject IAreaService AreaService
@inject IEmployeeService EmployeeService
@inject IToastService _toastService
@inject IImageService ImageService
@inject IEducationService EducationService
@inject IPayrollService PayrollService
@inject ILicenseTrainingService LicenseTrainingService
@inject IEmployeeService EmployeeService
@inject NavigationManager NavigationManager
@inject SweetAlertService Swal
@inject IToastService _toastService
@inject NavigationManager NavigationManager
@inject GlobalConfigService GlobalConfigService
@inject JMColors jmcolors

@using ChartJs.Blazor.BarChart

@attribute [Authorize(Roles = "System Administrator, HR, User")]

<PageTitle>Dashboard</PageTitle>

<MudGrid Spacing="4">
    <MudItem xs="12" sm="9">
        <MudGrid Spacing="4">
            <MudItem xs="12">
                <MudCard Class="evalpanel">
                    <MudCardContent Class="d-flex h-100 flex-column justify-content-between flex-grow-1">
                        <div class="d-flex flex-column gap-2">
                            <span style="font-size: 24px;">Welcome, <b>@FULLNAME</b>!</span>
                            <span style="font-size: 20px;">You have @_countForEval employees pending for performance evaluation!</span>
                        </div>
                        <div class="">
                            <MudButton id="evalpanelbtn" OnClick="NavForEval" Class="btnadd">Check Now</MudButton>
                        </div>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" sm="3">
                <TopCards title="Active Employees" value="@_countActiveEmployees" icon="@Icons.Material.TwoTone.Person4" iconColor="font-size: 4.5rem; color: #427D9D" OnIconClick="@(()=>NavIconBtns("employee"))" />
            </MudItem>
            <MudItem xs="12" sm="3">
                <TopCards title="Inactive Employees" value="@_countInactiveEmployees" icon="@Icons.Material.TwoTone.PersonOff" iconColor="font-size: 4.5rem; color: #FF9800" OnIconClick=@(()=>NavIconBtns("inactiveEmployee")) />
            </MudItem>
            <MudItem xs="12" sm="3">
                <TopCards title="Required Manpower" value="@_totalPlantilla.ToString()" icon="@Icons.Material.TwoTone.Group" iconColor="font-size: 4.5rem; color: #9A98E3" OnCardClick=@(()=>NavIconBtns("totalPlantilla")) OnIconClick=@(()=>NavIconBtns("totalPlantilla")) />
            </MudItem>
            <MudItem xs="12" sm="3">
                <TopCards title="Vacancies as of Today" value="@_totalVacancy.ToString()" icon="@Icons.Material.TwoTone.RunningWithErrors" iconColor="font-size: 4.5rem; color: #E97777" OnCardClick=@(()=>NavIconBtns("vacancy")) OnIconClick=@(()=>NavIconBtns("vacancy")) />
            </MudItem>
        </MudGrid>

    </MudItem>
    <MudItem xs="12" sm="3">
        <MudCard Class="bdaypanel">
            <MudCardContent>
                <div class="d-flex justify-content-between align-items-center">
                    <span class="bdaytitle"><strong>Birthdays</strong></span>
                    <MudMenu FullWidth="true" ActivationEvent="@MouseEvent.LeftClick">
                        <ActivatorContent>
                            <MudChip Variant="Variant.Outlined" Color="Color.Dark" Style="width: 130px">@cmbBdyTitle <MudIcon Icon="@Icons.Material.Rounded.KeyboardArrowDown" Style="font-size: 1.3em; margin-left: 5px;" /></MudChip>
                        </ActivatorContent>
                        <ChildContent>
                            <MudMenuItem OnClick="BdayThisMonth">This Month</MudMenuItem>
                            <MudMenuItem OnClick="BdayThisDay">Today</MudMenuItem>
                        </ChildContent>
                    </MudMenu>
                </div>
                <div class="d-flex flex-column divlistbday">
                    @foreach (var item in employeeBdayL)
                    {
                        <div class="d-flex justify-content-between" style="margin-bottom:15px;">
                            <EmployeeBdyComponent verify="@item.Verify_Id" />
                            <span style="color: #757A90">@item.Birthdate.ToString("MM/dd/")@DateTime.Now.Year</span>
                        </div>
                    }
                </div>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem xs="12" sm="9">
        <MudCard Class="bargraph">
            <MudCardContent Style="">
                <span style="color: #424242;font-size: 16px;font-weight: bold;">Employee Count by Division</span>
                <div class="divbarchart" style="margin-top: 10px">
                    <Chart Config="_config"></Chart>
                </div>
            </MudCardContent>
        </MudCard>
    </MudItem>
    

    <MudItem xs="12" sm="12">
        <MudCard Class="bdaypanel">
            <MudCardContent>
                <span style="color: #424242;font-size: 16px;font-weight: bold;"></span>
                <div class="divbarchart" style="margin-top: 10px">
                    <Chart Config="_lineconfig"></Chart>
                </div>
            </MudCardContent>
        </MudCard>
    </MudItem>

    

</MudGrid>
