<MudDialog Style="background-color: #e9ecef;">
    <DialogContent>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="addmainassetcont">
                        <MudTabs Elevation="0" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6" @ref="@tabs" @bind-ActivePanelIndex="@activeIndex" Centered=true>
                            <MudIconButton Icon="@Icons.Material.Rounded.Close" aria-label="cancel" OnClick="Cancel" Style="color: slategray;position: fixed;right: 61px;top: 11px;" />

                            <MudTabPanel TabContent="@tabHeader(0)">
                                <div class="row firsttabrow">
                                    <div class="col-12 col-md-3">
                                        <div class="section-title">Image</div>
                                        @if (imgBase64 == "./images/addIconImage.png")
                                        {
                                            <MudFileUpload T="IBrowserFile" OnFilesChanged="@uploadImage" Accept="image/*" capture>
                                                <ButtonTemplate>
                                                    <MudButton Class="@imguploadclass" DisableElevation HtmlTag="label" Variant="Variant.Outlined" for="@context">
                                                        <div style="height: 240px; display: flex; justify-content: center; align-items: center; ">
                                                            <MudImage Src="@imgBase64" Style="height: 100px; width: 100px; " />
                                                        </div>
                                                    </MudButton>
                                                </ButtonTemplate>
                                            </MudFileUpload>
                                        }
                                        else
                                        {
                                            <MudFileUpload T="IBrowserFile" OnFilesChanged="@uploadImage" Accept="image/*" capture>
                                                <ButtonTemplate>
                                                    <MudButton Class="w-100 btnimagewithimage" DisableElevation HtmlTag="label" for="@context">
                                                        <div style="height: 240px; display: flex; justify-content: center; align-items: center;  border-radius: 20px; padding:0px">
                                                            <MudImage Src="@imgBase64" Style="height: 95%; width: auto; max-width:100%; border-radius: 20px; border: none; " />
                                                        </div>
                                                    </MudButton>
                                                </ButtonTemplate>
                                            </MudFileUpload>
                                        }
                                    </div>
                                    <div class="col">
                                        <div class="section-title">Details</div>
                                        <div class="row">
                                            <div class="col-12">
                                                <MudText Typo="Typo.body2">Type</MudText>
                                                <MudSelect T="int" ValueChanged="OnChangeType" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;">
                                                    <MudSelectItem Disabled="true" Value="0">Select</MudSelectItem>
                                                    @foreach (var sec in TYPES)
                                                    {
                                                        <MudSelectItem Value="@sec.Id">@sec.AType_Name</MudSelectItem>
                                                    }
                                                </MudSelect>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <MudText Typo="Typo.body2">Category</MudText>
                                                <MudSelect T="int" ValueChanged="OnChangeCat" Disabled="@disabledcat" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;">
                                                    <MudSelectItem Disabled="true" Value="0">Select</MudSelectItem>
                                                    @foreach (var sec in CAT)
                                                    {
                                                        <MudSelectItem Value="@sec.Id">@sec.ACat_Name</MudSelectItem>
                                                    }
                                                </MudSelect>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <MudText Typo="Typo.body2">Sub Category</MudText>
                                                <MudSelect T="int" ValueChanged="OnChangeSCat" Disabled="@disabledsubcat" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;">
                                                    <MudSelectItem Disabled="true" Value="0">Select</MudSelectItem>
                                                    @foreach (var sec in SUBCAT.Where(e => e.CategoryId == obj.CategoryId))
                                                    {
                                                        <MudSelectItem Value="@sec.Id">@sec.ASubCat_Name</MudSelectItem>
                                                    }
                                                </MudSelect>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <MudText Typo="Typo.body2">Asset Code</MudText>
                                                <MudTextField @bind-Value="obj.AssetCode" ReadOnly Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;font-weight:bold;" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <MudText Typo="Typo.body2">Location</MudText>
                                                <MudSelect @bind-Value="obj.AreaId" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;">
                                                    <MudSelectItem Disabled="true" Value="0">Select</MudSelectItem>
                                                    @foreach (var sec in AREA)
                                                    {
                                                        <MudSelectItem Value="@sec.Id">@sec.Name</MudSelectItem>
                                                    }
                                                </MudSelect>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <MudText Typo="Typo.body2">Description</MudText>
                                                <MudTextField @bind-Value="obj.Description" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-col-sm-12 col-md-6">
                                                <MudText Typo="Typo.body2">Purchase Date</MudText>
                                                <MudDatePicker Editable="true" @bind-Date="obj.PurchaseDate" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                            </div>

                                            <div class="col-col-sm-12 col-md-6">
                                                <MudText Typo="Typo.body2">Purchase Amount</MudText>
                                                <MudTextField @bind-Value="obj.PurchaseAmount" Mask="@currMask" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <MudText Typo="Typo.body2">End of Useful Life (Months)</MudText>
                                                <MudTextField @bind-Value="obj.EUF" Mask="@(new PatternMask("00000"))" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 tab-buttons d-flex justify-content-end">
                                        <button type="button" class="save btn" @onclick="()=> Activate(1)">Next</button>
                                    </div>
                                </div>
                            </MudTabPanel>
                            <MudTabPanel TabContent="@tabHeader(1)">
                                <div class="row">
                                    <div class="col-12">
                                        <MudText Typo="Typo.body2">Name</MudText>
                                        <MudTextField @bind-Value="obj.Name" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-4">
                                        <MudText Typo="Typo.body2">Brand</MudText>
                                        <MudTextField @bind-Value="obj.Brand" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <MudText Typo="Typo.body2">Model</MudText>
                                        <MudTextField @bind-Value="obj.Model" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <MudText Typo="Typo.body2">Quantity</MudText>
                                        <MudTextField @bind-Value="obj.Quantity" Mask="@(new PatternMask("000000000"))" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <MudText Typo="Typo.body2">Serial</MudText>
                                        <MudTextField @bind-Value="obj.Serial" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <MudText Typo="Typo.body2">Device ID</MudText>
                                        <MudTextField @bind-Value="obj.DeviceID" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <MudText Typo="Typo.body2">Product ID</MudText>
                                        <MudTextField @bind-Value="obj.ProductID" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <MudText Typo="Typo.body2">Processor</MudText>
                                        <MudTextField @bind-Value="obj.Processor" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <MudText Typo="Typo.body2">RAM (GB) Recommended 8</MudText>
                                        <MudTextField @bind-Value="obj.RAM" Mask="@(new PatternMask("000000000"))" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <MudText Typo="Typo.body2">Storage (GB) Recommended 500</MudText>
                                        <MudTextField @bind-Value="obj.Storage" Mask="@(new PatternMask("000000000"))" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <MudText Typo="Typo.body2">Storage Type Recommended SSD</MudText>
                                        <MudSelect @bind-Value="obj.StorageType" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;">
                                            <MudSelectItem Value="@("SSD")" />
                                            <MudSelectItem Value="@("HDD")" />
                                            <MudSelectItem Value="@("NVME")" />
                                        </MudSelect>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <MudText Typo="Typo.body2">Mac Address</MudText>
                                        <MudTextField @bind-Value="obj.MacAddress" Mask="@MacAddMask" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <MudText Typo="Typo.body2">Client IP</MudText>
                                        <MudTextField @bind-Value="obj.ClientIP" Mask="@ipv4Mask" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <MudText Typo="Typo.body2">Username Admin</MudText>
                                        <MudTextField @bind-Value="obj.UsernameAdmin" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <MudText Typo="Typo.body2">Password Admin</MudText>
                                        <MudTextField @bind-Value="obj.PasswordAdmin" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    </div>
                                </div>
                                @* <div class="row">
                                    <div class="col-12">
                                        <MudText Typo="Typo.body2">Remarks</MudText>
                                        <MudTextField @bind-Value="obj.Remarks" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    </div>
                                </div> *@
                                <div class="d-flex flex-column">
                                    <div class="flex-grow-1">
                                        <MudText Typo="Typo.body2">Remarks</MudText>
                                        <div class="d-flex">
                                            <MudTextField @bind-Value="newRemark" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                            <MudButton Style="width: 150px;" Class="btnsmallsapos" Variant="Variant.Filled" OnClick="@(() => AddNewRemark(obj.AssetCode, newRemark))">Add Remark</MudButton>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-wrap flex-grow-1">
                                        <MudChipSet AllClosable="true" OnClose="CloseRemark">
                                            @foreach (var item in listOfNewRemarks)
                                            {
                                                <MudChip Style="color: #fafaf5; background-color: #424242;" Text="@item.Remark"></MudChip>
                                            }
                                        </MudChipSet>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 tab-buttons d-flex justify-content-between">
                                        <button type="button" class="save-back btn" @onclick="()=> Activate(0)">Back</button>
                                        <button type="button" class="save btn" @onclick="ConfirmCreate">Save</button>
                                    </div>
                                </div>
                            </MudTabPanel>
                        </MudTabs>

                    </div>
                </div>
            </div>
        </div>
    </DialogContent>
</MudDialog>