<MudDialog Style="background-color: #e9ecef;">
    <DialogContent>
        <div class="modal-title">
            Add Accessory
        </div>

        <div>
            <div class="row">
                <div class="col-12">
                    <MudText Typo="Typo.body2">Category</MudText>
                    <MudSelect T="int" ValueChanged="OnChangeCat" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;">
                        <MudSelectItem Disabled="true" Value="0">Select</MudSelectItem>
                        @foreach (var sec in CAT)
                        {
                            <MudSelectItem Value="@sec.Id">@sec.ACat_Name</MudSelectItem>
                        }
                    </MudSelect>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <MudText Typo="Typo.body2">Sub Category</MudText>
                    <MudSelect T="int" ValueChanged="OnChangeSCat" Disabled="disabledsubcat" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;">
                        <MudSelectItem Disabled="true" Value="0">Select</MudSelectItem>
                        @foreach (var sec in SUBCAT.Where(e => e.CategoryId == obj.CategoryId))
                        {
                            <MudSelectItem Value="@sec.Id">@sec.ASubCat_Name</MudSelectItem>
                        }
                    </MudSelect>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <MudText Typo="Typo.body2">Accessory</MudText>
                    <MudAutocomplete T="AssetAccessoryT" Placeholder="Type to search..." @bind-Value="fieldObj" Disabled="disabledacc" HelperText="Code / Brand / Model"
                                     SearchFunc="@Search1"
                                     ResetValueOnEmptyText="true"
                                     CoerceText="true" CoerceValue="false" Dense="true" Margin="Margin.Dense" Variant="Variant.Outlined"
                                     ToStringFunc="@(e => e==null?null : $"{e.AssetCode} / {e.Brand} / {e.Model}")" ShowProgressIndicator="true" Clearable="true">
                        <NoItemsTemplate>
                            <MudText Align="Align.Center" Class="px-4 py-1">
                                No items found
                            </MudText>
                        </NoItemsTemplate>
                    </MudAutocomplete>
                </div>
            </div>
        </div>
    </DialogContent>
    <DialogActions>
        <div class="dialogbtns">
            <button type="button" class="btn cancel" @onclick="Cancel">Cancel</button>
            <button type="button" class="save btn" @onclick="SaveUpdate">Save</button>
        </div>
    </DialogActions>
</MudDialog>
