@layout NewApplicantLayout
@page "/application"

@inject IApplicantService ApplicantService
@inject IStaticService StaticService

<PageTitle>New Applicant</PageTitle>

<div class="container">
    <div class="tabdiv">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <span class="spantitle" style="font-size: 1.5em;">Application For Employment</span>
            <img src="./images/SonicSales.png" height="40px" alt="">
        </div>

        <MudTabs Elevation="0" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6" @ref="tabs" @bind-ActivePanelIndex="activeIndex" Centered=true>
            <MudTabPanel TabContent="tabHeader(0)">
                <EditForm Model="applicant" OnValidSubmit="@(() => Activate(1))">
                      <DataAnnotationsValidator />
                      <MudCard Class="py-3 px-3" Elevation="0">
                          <MudCardContent>
                              <div class="row mb-2">
                                    <div class="col-md-6 ">
                                         <MudText Typo="Typo.body2">Position Applied for 1 </MudText>
                                          <MudTextField @bind-Value="applicant.App_PosApplied1" Class="mdtextfield" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                    </div>
                                     <div class="col-md-6 ">
                                             <MudText Typo="Typo.body2">Position Applied for 2 </MudText>
                                              <MudTextField @bind-Value="applicant.App_PosApplied2" Class="mdtextfield" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                     </div>
                      </div>
                      <div class="row mb-2">
                          <div class="col-md-6 ">
                                 <MudText Typo="Typo.body2">Present Salary</MudText>
                              <MudTextField @bind-Value="applicant.App_PresSalary" Class="mdtextfield" Variant="Variant.Outlined" Margin="Margin.Dense" />
                         </div>
                         <div  class="col-md-6 ">
                                <MudText Typo="Typo.body2">Expected Salary</MudText>
                              <MudTextField @bind-Value="applicant.App_ExpSalary" Class="mdtextfield" Variant="Variant.Outlined" Margin="Margin.Dense" />
                         </div>
                      </div>
                      <div  class="col mb-2">
                                <MudText Typo="Typo.body2">Source of Application</MudText>
                              <MudTextField @bind-Value="applicant.App_SourceApp" Class="mdtextfield" Variant="Variant.Outlined" Margin="Margin.Dense" />
                     </div>
                          </MudCardContent>
                      </MudCard>
                      

                     <MudDivider DividerType="DividerType.Middle" Class="my-6" />

                     <MudCard Class="py-3 px-3" Elevation="0">
                         <MudCardContent>
                              <span class="spantitle">Personal Background</span>
                         <div class="row mb-2 mt-3">
                              <div class="col-sm col-md-3 ">
                                     <MudText Typo="Typo.body2">Last Name</MudText>
                                      <MudTextField @bind-Value="applicant.App_LastName" For="@(() => applicant.App_LastName)" Class="mdtextfield" Variant="Variant.Outlined" Margin="Margin.Dense" />
                             </div>
                             <div  class="col-sm col-md-4 ">
                                     <MudText Typo="Typo.body2">First Name</MudText>
                                      <MudTextField @bind-Value="applicant.App_FirstName" For="@(() => applicant.App_FirstName)" Class="mdtextfield" Variant="Variant.Outlined" Margin="Margin.Dense" />
                             </div>
                             <div  class="col-sm col-md-3 ">
                                     <MudText Typo="Typo.body2">Middle Name</MudText>
                                      <MudTextField @bind-Value="applicant.App_MiddleName" For="@(() => applicant.App_MiddleName)" Class="mdtextfield" Variant="Variant.Outlined" Margin="Margin.Dense" />
                             </div
                             <div  class="col-sm col-md-2 ">
                                     <MudText Typo="Typo.body2">Suffix</MudText>
                                      <MudTextField @bind-Value="applicant.App_Suffix" For="@(() => applicant.App_Suffix)" Class="mdtextfield" Variant="Variant.Outlined" Margin="Margin.Dense" />
                             </div>
                          </div>
                          <div class="row mb-2">
                              <div class="col-sm col-md-6 ">
                                     <MudText Typo="Typo.body2">Contact Nos</MudText>
                                      <MudTextField @bind-Value="applicant.App_ContactNo" For="@(() => applicant.App_ContactNo)" Class="mdtextfield" Variant="Variant.Outlined" Margin="Margin.Dense" />
                             </div>
                             <div  class="col-sm col-md-6 ">
                                     <MudText Typo="Typo.body2">Email</MudText>
                                      <MudTextField @bind-Value="applicant.App_Email" For="@(() => applicant.App_Email)" Class="mdtextfield" Variant="Variant.Outlined" Margin="Margin.Dense" />
                             </div>
                          </div>
                          <div class="row mb-2">
                              <div class="col-sm col-md-4 ">
                                     <MudText Typo="Typo.body2">Date of Birth (mm/dd/yyyy)</MudText>
                                      <MudDatePicker Class="mdtextfield" DisableUnderLine @bind-Date="@applicant.App_DOB" For="@(() => applicant.App_DOB)" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Editable="true" Variant="Variant.Outlined" Margin="Margin.Dense" />
                              </div>
                              <div  class="col-sm col-md-4 ">
                                      <MudText Typo="Typo.body2">Age</MudText>
                                        <MudTextField @bind-Value="applicant.App_Age" For="@(() => applicant.App_Age)" Class="mdtextfield" Variant="Variant.Outlined" Margin="Margin.Dense" />
                              </div
                              <div  class="col-sm col-md-4 ">
                                      <MudText Typo="Typo.body2">Gender</MudText>
                                       <MudSelect @bind-Value="applicant.App_GenderId" For="@(() => applicant.App_GenderId)" Class="mdtextfield" Variant="Variant.Outlined" Margin="Margin.Dense">
                                                      <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                                                    @foreach (var gender in GendersL)
                                        {
                                                            <MudSelectItem Value="@gender.Id">@gender.Name</MudSelectItem>
                                        }
                                      </MudSelect>
                                       <ValidationMessage For="@(() => applicant.App_GenderId)" class="mb-2"/>  
                             </div>
                          </div>
                          <div class="row mb-2">
                              <div class="col-sm col-md-4 ">
                                     <MudText Typo="Typo.body2">Citizenship</MudText>
                                      <MudTextField @bind-Value="applicant.App_Citizenship" Class="mdtextfield" Variant="Variant.Outlined" Margin="Margin.Dense" />
                             </div>
                             <div  class="col-sm col-md-4 ">
                                     <MudText Typo="Typo.body2">Civil Status</MudText>
                                     <MudSelect @bind-Value="applicant.App_CivilStatusId" Class="mdtextfield" Variant="Variant.Outlined" Margin="Margin.Dense">
                                                     <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                                                    @foreach (var cs in CivilStatusL)
                                        {
                                                            <MudSelectItem Value="@cs.Id">@cs.Name</MudSelectItem>
                                        }
                                      </MudSelect>
                             </div
                             <div  class="col-sm col-md-4 ">
                                     <MudText Typo="Typo.body2">Religion</MudText>
                                      <MudSelect @bind-Value="applicant.App_ReligionId" Class="mdtextfield" Variant="Variant.Outlined" Margin="Margin.Dense">
                                                     <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                                                    @foreach (var rel in ReligionsL)
                                        {
                                                            <MudSelectItem Value="@rel.Id">@rel.Name</MudSelectItem>
                                        }
                                      </MudSelect>
                             </div>
                          </div>
                         </MudCardContent>
                         <MudCardActions>
                                 <MudItem xs="12" Class="d-flex justify-content-end">
                                    <MudButton EndIcon="@Icons.Material.Rounded.NavigateNext" Class="btnnext" ButtonType="ButtonType.Submit">NEXT</MudButton>
                                </MudItem>
                         </MudCardActions>
                      </MudCard>
                </EditForm>
            </MudTabPanel>
            <MudTabPanel TabContent="tabHeader(1)"></MudTabPanel>
            <MudTabPanel TabContent="tabHeader(2)"></MudTabPanel>
            <MudTabPanel TabContent="tabHeader(3)"></MudTabPanel>
            <MudTabPanel TabContent="tabHeader(4)"></MudTabPanel>

        </MudTabs>

    </div>
</div>


@code {
    
}
