@page "/profile"
@page "/profile/{USERNAME}"
@attribute [Authorize]
<PageTitle>Profile</PageTitle>

<div class="@*tabdiv*@ pt-2">
    <MudGrid Spacing="3">
        <MudItem xs="12" lg="3">
            <MudCard Class="empdleft" Elevation="0">
                <MudCardContent>
                    <div class="d-flex flex-column justify-content-center ">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <span class="spantitle" style="font-family: 'Poppins', sans-serif !important">Employee Details</span>
                            </div>

                            <MudTooltip Text="View Your Confidential Data">
                                <MudIconButton Icon="@_dataDisplayIcon" aria-label="show password" OnClick="OpenEnterPass" Style="color: #757A90;font-size: 16px;" />
                            </MudTooltip>
                        </div>
                        <div class="d-flex justify-content-center">
                            <MudAvatar Class="@StatusAvatarColor(employee.EmploymentStatus?.Name)">
                                <MudImage Src="@ImageData"></MudImage>
                            </MudAvatar>
                        </div>
                        <div>
                            <MudText Align="Align.Center" Style="font-family: 'Poppins', sans-serif !important;font-weight: bold; font-size: 1.2em;letter-spacing: 1px;margin-top: 1rem;">@FUpper(employee.FirstName) @FUpper(employee.LastName)</MudText>
                        </div>
                        <div class="d-flex flex-grow-1 justify-content-center mt-1">
                            <div class="@StatusChipColor(employee.Status?.Name)">
                                <MudText Align="Align.Center" Style="font-family: 'Poppins', sans-serif !important;font-size: 0.9em">@FUpper(employee.Status?.Name)</MudText>
                            </div>
                        </div>
                        <div class="d-flex flex-column gap-2" style="margin-top: 1rem;">
                            <div class="divsingledetails">
                                <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Employment Status</MudText>
                                <MudText Align="Align.Start" Class="@StatusTextColor(employee.EmploymentStatus?.Name)" Style="font-weight:bold;" Typo="Typo.body2">@employee.EmploymentStatus?.Name</MudText>
                            </div>
                            <div class="divsingledetails">
                                <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Company ID No.</MudText>
                                <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.EmployeeNo</MudText>
                            </div>
                            <div class="divsingledetails">
                                <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Date Hired</MudText>
                                <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.DateHired.ToString("MM/dd/yyyy")</MudText>
                            </div>
                            <div class="divsingledetails">
                                <div class="d-flex flex-row">
                                    <div class="flex-grow-1">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Email</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Email</MudText>
                                    </div>
                                </div>
                            </div>
                            <div class="divsingledetails">
                                <div class="d-flex flex-row">
                                    <div class="flex-grow-1">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Phone</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">+63 @employee.MobileNumber</MudText>
                                    </div>
                                </div>
                            </div>
                            <div class="divsingledetails">
                                <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Position</MudText>
                                @foreach (var item in SubPositionsL)
                                {
                                    if (item.Id == employee.PositionId)
                                    {
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@item.Description</MudText>
                                    }
                                }

                            </div>
                            <div class="divsingledetails">
                                <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Department</MudText>
                                <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Department?.Name</MudText>
                            </div>
                        </div>
                    </div>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem Class="empdmainbox" xs="12" lg="9" Style="margin-top: 1rem;">
            <MudTabs Elevation="0" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6" @ref="tabs" @bind-ActivePanelIndex="activeIndex">
                <MudTabPanel TabContent="TabHeader(0)">
                    <MudCard Class="empdmain">
                        <MudCardContent>
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <span class="spantitle">Personal Data</span>
                                @* <AuthorizeView Roles="HR, System Administrator, User">
                                <Authorized>
                                <button class="Btn" onclick="@(() => OpenDrawer(Anchor.End, "personalandjobOpen"))">

                                <div class="sign"><MudIcon Icon="@Icons.Material.Rounded.Edit"></MudIcon></div>

                                <div class="text">Update</div>
                                </button>
                                </Authorized>
                                </AuthorizeView> *@
                            </div>
                            <div class="d-flex flex-column gap-3">
                                <div class="divsingledetails">
                                    <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Full Name</MudText>
                                    <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@FUpper(employee.FirstName) @FUpper(employee.MiddleName) @FUpper(employee.LastName) @FUpper(employee.Extension)</MudText>
                                </div>
                                <div class="d-flex flex-row gap-4">
                                    <MudItem xs="12" sm="4" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Birthdate</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Birthdate.ToString("MM/dd/yyyy")</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="4" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Age</MudText>
                                        @if (Bday.HasValue)
                                        {
                                            DateTime currentDate = DateTime.Today;
                                            int age = currentDate.Year - Bday.Value.Year;

                                            if (Bday.Value > currentDate.AddYears(-age))
                                                age--;

                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@age</MudText>
                                        }
                                    </MudItem>
                                    <MudItem xs="12" sm="4" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Gender</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Gender?.Name</MudText>
                                    </MudItem>
                                </div>
                                <div class="d-flex flex-row gap-4">
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Nationality</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Nationality</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Civil Status</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.CivilStatus?.Name</MudText>
                                    </MudItem>
                                </div>
                                <div class="d-flex flex-row gap-4">
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Phone</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.MobileNumber</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Email</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Email</MudText>
                                    </MudItem>
                                </div>
                                <div class="d-flex flex-row gap-4">
                                    <MudItem xs="12" sm="4" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Religion</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Religion?.Name</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="4" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Weight(kg)</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Weight</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="4" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Height(cm)</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Height</MudText>
                                    </MudItem>
                                </div>
                                <div class="d-flex flex-row gap-4">
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">PHIC No.</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_pHealthHolder</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">HDMF No.</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_pagIbigHolder</MudText>
                                    </MudItem>
                                </div>
                                <div class="d-flex flex-row gap-4">
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">SSS No.</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_sssHolder</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">TIN No.</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_tinHolder</MudText>
                                    </MudItem>
                                </div>
                            </div>
                        </MudCardContent>
                    </MudCard>

                    <MudCard Class="empdmain" Style="margin-top: 2rem;">
                        <MudCardContent>
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <span class="spantitle">Address Information</span>
                                @* <AuthorizeView Roles="HR, System Administrator, User">
                                <Authorized>
                                <button class="Btn" onclick="@(() => OpenDrawer(Anchor.End, "addressOpen"))">

                                <div class="sign"><MudIcon Icon="@Icons.Material.Rounded.Edit"></MudIcon></div>

                                <div class="text">Update</div>
                                </button>
                                </Authorized>
                                </AuthorizeView> *@
                            </div>
                            <span class="spantitle mb-2" style="font-size:14px">Present Address</span>
                            <div class="d-flex flex-column gap-3 mb-3">
                                <div class="divsingledetails">
                                    <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">(Unit/House/Building/Street Number, Street Name, Barangay Name)</MudText>
                                    <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_address.CurrentAdd</MudText>
                                </div>
                                <div class="d-flex flex-row gap-4">
                                    <MudItem xs="12" sm="3" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">City</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_address.CurrentCity</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="3" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Province</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_address.CurrentProvince</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="3" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">ZipCode</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_address.CurrentZipCode</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="3" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Country</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_address.CurrentCountry</MudText>
                                    </MudItem>
                                </div>
                            </div>
                            <span class="spantitle mb-2" style="font-size:14px">Permanent Address</span>
                            <div class="d-flex flex-column gap-3">
                                <div class="divsingledetails">
                                    <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">(Unit/House/Building/Street Number, Street Name, Barangay Name)</MudText>
                                    <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_address.PermanentAdd</MudText>
                                </div>
                                <div class="d-flex flex-row gap-4">
                                    <MudItem xs="12" sm="3" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">City</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_address.PermanentCity</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="3" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Province</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_address.PermanentProvince</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="3" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">ZipCode</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_address.PermanentZipCode</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="3" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Country</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_address.PermanentCountry</MudText>
                                    </MudItem>
                                </div>
                            </div>
                        </MudCardContent>
                    </MudCard>

                    <MudCard Class="empdmain" Style="margin-top: 2rem;">
                        <MudCardContent>
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <span class="spantitle">Person to Notify in Case of Emergency</span>
                                @* <AuthorizeView Roles="HR, System Administrator, User">
                                <Authorized>
                                <button class="Btn" onclick="@(() => OpenDrawer(Anchor.End, "emerOpen"))">

                                <div class="sign"><MudIcon Icon="@Icons.Material.Rounded.Edit"></MudIcon></div>

                                <div class="text">Update</div>
                                </button>
                                </Authorized>
                                </AuthorizeView> *@
                            </div>
                            <div class="d-flex flex-column gap-3">
                                <div class="divsingledetails">
                                    <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Name</MudText>
                                    <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.EmerName</MudText>
                                </div>
                                <div class="d-flex flex-row gap-4">
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Relationship</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.EmerRelationship?.Name</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Phone</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">+63 @employee.EmerMobNum</MudText>
                                    </MudItem>
                                </div>
                                <div class="divsingledetails">
                                    <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Address</MudText>
                                    <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.EmerAddress</MudText>
                                </div>
                            </div>
                        </MudCardContent>
                    </MudCard>
                </MudTabPanel>
                <MudTabPanel TabContent="TabHeader(1)">
                    <MudCard Class="empdmain">
                        <MudCardContent>
                            <EmployeePrimary VerifyCode="@VERIFY" />
                        </MudCardContent>
                    </MudCard>
                    <MudCard Class="empdmain" Style="margin-top: 2rem;">
                        <MudCardContent>
                            <EmployeeSecondary VerifyCode="@VERIFY" />
                        </MudCardContent>
                    </MudCard>
                    <MudCard Class="empdmain" Style="margin-top: 2rem;">
                        <MudCardContent>
                            <EmployeeSHS VerifyCode="@VERIFY" />
                        </MudCardContent>
                    </MudCard>
                    <MudCard Class="empdmain" Style="margin-top: 2rem;">
                        <MudCardContent>
                            <EmployeeCollege VerifyCode="@VERIFY" />
                        </MudCardContent>
                    </MudCard>
                    <MudCard Class="empdmain" Style="margin-top: 2rem;">
                        <MudCardContent>
                            <EmployeeMasteral VerifyCode="@VERIFY" />
                        </MudCardContent>
                    </MudCard>
                    <MudCard Class="empdmain" Style="margin-top: 2rem;">
                        <MudCardContent>
                            <EmployeeDoctorate VerifyCode="@VERIFY" />
                        </MudCardContent>
                    </MudCard>
                    <MudCard Class="empdmain" Style="margin-top: 2rem;">
                        <MudCardContent>
                            <EmployeeOtherEduc VerifyCode="@VERIFY" />
                        </MudCardContent>
                    </MudCard>
                </MudTabPanel>
                <MudTabPanel TabContent="TabHeader(2)">
                    <MudCard Class="empdmain">
                        <MudCardContent>
                            <EmployeeProfBackground VerifyCode="@VERIFY" />
                        </MudCardContent>
                    </MudCard>
                    <MudCard Class="empdmain" Style="margin-top: 2rem;">
                        <MudCardContent>
                            <EmployeeLicense VerifyCode="@VERIFY" />
                        </MudCardContent>
                    </MudCard>
                    <MudCard Class="empdmain" Style="margin-top: 2rem;">
                        <MudCardContent>
                            <EmployeeTraining VerifyCode="@VERIFY" />
                        </MudCardContent>
                    </MudCard>
                </MudTabPanel>
            </MudTabs>
        </MudItem>
    </MudGrid>

    <MudDialog @bind-IsVisible="isOpenEnterPass" Options="passdialogOptions">
        <TitleContent>
            <MudText Typo="Typo.h6">
                Show Confidential Data
            </MudText>
        </TitleContent>
        <DialogContent>
            @if (_showAlert)
            {
                <MudAlert Severity="@_severity" Class="mb-2">@_message</MudAlert>
            }
            <MudText Typo="Typo.body2">Enter password first:</MudText>
            <MudTextField @bind-Value="inputPassword" InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password" Variant="Variant.Outlined" Margin="Margin.Dense" Class="w-100 mt-1" />
        </DialogContent>
        <DialogActions>
            <div class="d-flex flex-grow-1" style="padding: 12px 15px 10px 15px;">
                <button type="button" @onclick="DisplayConfData" class="btn btnshowdata">Show</button>
            </div>
        </DialogActions>
    </MudDialog>
</div>

