@inject IAnnouncementService AnnouncementService
@inject StateService StateService
@inject IDialogService DialogService
@inject GlobalConfigService GlobalConfigService
@inject IAuditlogService AuditlogService

<MudDialog>
    <DialogContent>
        <EditForm Model="@obj" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="col-12">
                    <MudText Typo="Typo.body2">Title</MudText>
                    <MudTextField @bind-Value="obj.Ann_Title" For="@(() => obj.Ann_Title)" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                </div>
                <div class="col-12">
                    <MudText Typo="Typo.body2">Description</MudText>
                    <MudTextField @bind-Value="obj.Ann_Desc" For="@(() => obj.Ann_Desc)" Lines="5" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                </div>
                <div class="col-12">
                    <MudText Typo="Typo.body2">Start Date</MudText>
                    <MudDatePicker @bind-Date="obj.DateStart" For="@(() => obj.DateStart)" Placeholder="Enter Date" Editable="true" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                </div>
                <div class="col-12">
                    <MudText Typo="Typo.body2">End Date</MudText>
                    <MudDatePicker @bind-Date="obj.DateEnd" For="@(() => obj.DateEnd)" Placeholder="Enter Date" Editable="true" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 10px;" />
                </div>

                <div class="d-flex justify-content-end align-items-center gap-2 mt-4">
                    <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary">Save</MudButton>
                    <MudButton OnClick="Cancel">Cancel</MudButton>
                </div>
            </div>
        </EditForm>
    </DialogContent>
</MudDialog>

@code {
    #nullable disable

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    private AnnouncementT obj = new();


    void Cancel() => MudDialog.Cancel();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
        obj.DateStart = DateTime.Now;
    }

    bool success;
    private async void OnValidSubmit(EditContext context)
    {
        success = true;
        StateHasChanged();

        await ConfirmCreate();
        await AuditlogService.CreateLog(Int32.Parse(GlobalConfigService.User_Id), "CREATE", "Model", DateTime.Now);
    }

    private async Task ConfirmCreate()
    {
        obj.DateStart = obj.DateStart.Value.Date + DateTime.Now.TimeOfDay;
        await AnnouncementService.CreateAnnouncement(obj);

        MudDialog.Close();
        StateService.SetState("AnnouncementList", await AnnouncementService.GetAnnouncementList());
    }
}
