<main>
    <div style="text-align: center; margin-bottom: 10px;">
        <span style="font-size: x-large;">New Account</span>
    </div>
    <MudDivider DividerType="DividerType.Middle" Class="my-6" />
    @if (showAlert)
    {
        <MudAlert Severity="@_severity" ShowCloseIcon="true" CloseIconClicked="CloseMe" Class="mb-2">@message</MudAlert>
    }
    <EditForm Model="reg" OnValidSubmit="HandleRegistration">
        <DataAnnotationsValidator />
        <div class="d-flex flex-column flex-grow-1 gap-1 mb-3">
            <div class="flex-grow-1 mb-2">
                <MudText Typo="Typo.body2">Division</MudText>
                <MudSelect @bind-Value="divvar" Variant="Variant.Outlined" Margin="Margin.Dense">
                    <MudSelectItem Value=0 Disabled>---Select Division---</MudSelectItem>
                    @foreach (var div in DivisionsL)
                    {
                        <MudSelectItem Value="@div.Id">@div.Name</MudSelectItem>
                    }
                </MudSelect>
            </div>
            <div class="flex-grow-1 mb-2">
                <MudText Typo="Typo.body2">Department</MudText>
                @if (divvar != 0)
                {
                    <MudSelect @bind-Value="deptvar" Variant="Variant.Outlined" Margin="Margin.Dense">
                        <MudSelectItem Value=0 Disabled>---Select Department---</MudSelectItem>

                        @foreach (var dep in DepartmentsL.Where(d => d.DivisionId == divvar))
                        {
                            <MudSelectItem Value="@dep.Id">@dep.Name</MudSelectItem>
                        }
                    </MudSelect>
                }
                else
                {
                    <MudSelect @bind-Value="deptvar" Disabled Variant="Variant.Outlined" Margin="Margin.Dense">
                        <MudSelectItem Value=0 Disabled>---Select Department---</MudSelectItem>
                    </MudSelect>
                }
            </div>
            <div class="flex-grow-1 mb-2">
                <MudText Typo="Typo.body2">Employees</MudText>
                @if (divvar != 0 && deptvar != 0)
                {
                    <MudSelect Class="" @bind-Value="reg.EmployeeId" Variant="Variant.Outlined" Margin="Margin.Dense">
                        <MudSelectItem Value="0"
                                       Disabled>---Select Employee---</MudSelectItem>

                        @foreach (var emp in EmployeesL.Where(d => d.DivisionId == divvar && d.DepartmentId == deptvar && d.StatusId == 1))
                        {
                            <MudSelectItem Value="@emp.Id">@emp.FirstName @emp.LastName</MudSelectItem>
                        }
                    </MudSelect>
                }
                else
                {
                    <MudSelect Class="" Disabled @bind-Value="reg.EmployeeId" Variant="Variant.Outlined" Margin="Margin.Dense">
                        <MudSelectItem Value="0" bled>---Select Employee---</MudSelectItem>
                    </MudSelect>
                }
            </div>
            <div class="flex-grow-1 mb-2">
                <MudText Typo="Typo.body2">Role</MudText>
                <MudSelect Class="" @bind-Value="reg.Role" Variant="Variant.Outlined" Margin="Margin.Dense">
                    <MudSelectItem Value="@roleholder" Disabled>---Select Role---</MudSelectItem>
                    @foreach (var roles in UserRolesL)
                    {
                        <MudSelectItem Value="@roles.Name">@roles.Name</MudSelectItem>
                    }
                </MudSelect>
            </div>
            <div class="flex-grow-1  mb-4">
                <MudText Typo="Typo.body2">Username</MudText>
                @if (readonlyvar)
                {
                    <MudTextField T="string" Value="@GetFormattedUsername()" ReadOnly="@readonlyvar" Variant="Variant.Outlined" Margin="Margin.Dense" />
                }
                else
                {
                    <MudTextField @bind-Value="reg.Username" Immediate="true" Variant="Variant.Outlined" Margin="Margin.Dense" />
                }

            </div>
        </div>
        <div class="d-flex flex-column flex-grow-1">
            <MudButton Class="btnReg mb-2" Disabled="@_processing" ButtonType="ButtonType.Submit">
                @if (_processing)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    <MudText Class="ms-2">Registering</MudText>
                }
                else
                {
                    <MudText>Register Account</MudText>
                }
            </MudButton>
        </div>
    </EditForm>
</main>