@inject IAuthService AuthService
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthenticationStateProvider

<style>
    .card {
        background: #e9ecef;
        border: none;
        box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
        border-radius: 20px;
    }
</style>
<MudDialog Style="background: #e9ecef">
    <DialogContent>
        <div class="logincontainer">
            <div class="flex-grow-1 text-center">
                <img src="./images/SonicSales.png" width="150px" alt="logo" style="margin-bottom: 15px;">
            </div>
            @if (_showAlert)
            {
                <MudAlert Severity="@_severity" ShowCloseIcon="true" CloseIconClicked="CloseMe" Class="mb-2">@_message</MudAlert>
            }
            <EditForm Model="@_log" OnValidSubmit="@HandleLogin">
                <DataAnnotationsValidator />
                <div class="d-flex flex-column gap-2">
                    <div>
                        <MudText Typo="Typo.caption" Style="font-size: 16px">Username</MudText>
                        <InputText class="txf1 w-100" @bind-Value="_log.Username" />
                        <ValidationMessage For="@(() => _log.Username)" class="mb-2" />
                    </div>
                    <div>
                        <MudText Typo="Typo.caption" Style="font-size: 16px">Password</MudText>
                        <MudTextField DisableUnderLine @bind-Value="_log.Password" InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password" Class="txtpass w-100" />
                        <ValidationMessage For="@(() => _log.Password)" class="mb-2" />
                    </div>
                    <div class="flex-grow-1">
                        <MudButton Class="btnlogin" FullWidth=true Disabled="@_processing" ButtonType="ButtonType.Submit">
                            @if (_processing)
                            {
                                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                <MudText Class="ms-2">Logging In</MudText>
                            }
                            else
                            {
                                <MudText>Login</MudText>
                            }
                        </MudButton>
                    </div>
                </div>
            </EditForm>
        </div>

    </DialogContent>
</MudDialog>