@page "/department"
@attribute [Authorize(Roles = "System Administrator")]

<PageTitle>Department Management</PageTitle>

<div class="mb-5">
    <div class="d-flex flex-row mt-5 justify-content-between align-items-center">
        <span style="font-size: x-large;font-weight: 600;color: #424242;">Department Management</span>
        <AuthorizeView Roles="System Administrator">
            <Authorized>
                <MudButton OnClick="OpenAddDepartment" Variant="Variant.Filled" Size="Size.Medium" StartIcon="@Icons.Material.Rounded.Add" Class="btnadd"> Department</MudButton>
            </Authorized>
        </AuthorizeView>
    </div>
</div>
    <div class="box w-auto">
    <div class="d-flex flex-grow-1 mb-3">
        <div class="d-flex flex-grow-1 flex-wrap justify-content-between">
            <MudItem xs="12" lg="3">
                <MudSelect class="dddiv" T="int" ValueChanged="searchh" Margin="Margin.Dense" DisableUnderLine>
                    <MudSelectItem Value=0>All Division</MudSelectItem>
                    @foreach (var div in Divisions)
                    {
                        <MudSelectItem Value="@div.Id">@div.Name</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="12" lg="4">
                <MudTextField DisableUnderLine @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="tsearch mb-5" Immediate=true Margin="Margin.Dense" />
             </MudItem>
         </div>
     </div>
    @if (departmentList == null || departmentList.Count == 0)
    {
        <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Class="my-7" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="auto" />
        <MudCardContent>
            <MudSkeleton Width="30%" Height="42px;" />
            <MudSkeleton Width="80%" />
            <MudSkeleton Width="100%" />
        </MudCardContent>
        <MudCardActions>
            <MudSkeleton Width="64px" Height="40px" Class="ml-2" />
            <MudSkeleton Width="105px" Height="40px" Class="ml-3" />
        </MudCardActions>
        <MudOverlay Visible="isVisible" DarkBackground="true" Absolute="true">
            <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
        </MudOverlay>
    }
    else
    {
        <div style="height: calc(100% - 64px)">
            <MudTable Class="stable d-flex justify-content-between align-content-between flex-column h-100" Items="departmentList" Context="Departments" SortLabel="Sort By" FixedHeader="true" Elevation="0" HorizontalScrollbar="true" Dense="true" Hover="true" Bordered="false" Striped="true" Filter="new Func<DepartmentT,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
                <HeaderContent>
                    <MudTh Class="col-4" Style="background: #e9ecef; font-size: 16px;">
                        <div class="d-flex justify-content-between">
                            <div class="">Division</div>
                            <div class="">
                                <MudIcon Icon="@Icons.Material.Filled.KeyboardArrowRight" Title="Favorite" />
                            </div>
                        </div>
                    </MudTh>
                    <MudTh Class="col-4" Style="font-weight: bold; background: #e9ecef; font-size: 16px;">
                        <MudTableSortLabel SortBy="new Func<DepartmentT, object>(x=>x.Name)">
                            Department
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh Style="background: #e9ecef; font-size: 16px; text-align: center">Action</MudTh>
                </HeaderContent>
                <RowTemplate>

                    <MudTd DataLabel="Division">
                        <div class="d-flex justify-content-between">
                            @foreach (var div in Divisions)
                            {
                                if (div.Id == Departments.DivisionId)
                                {
                                    <div class="">@div.Name</div>
                                }
                            }
                            <div class="">
                                <MudIcon Icon="@Icons.Material.Filled.KeyboardArrowRight" Title="Favorite" Style="margin-left: 20px; color: #90A4AE;" />
                            </div>
                        </div>
                    </MudTd>
                    <MudTd DataLabel="Department" Style="font-weight: bold; background-color: rgb(197,207,210, 0.2);color: #264487;">@Departments.Name</MudTd>

                    <MudTd Style="text-align: center;">
                        <AuthorizeView Roles="System Administrator">
                            <Authorized>
                                <MudTooltip Text="Update">
                                    <MudIconButton Class="btnedit" OnClick="(() => OpenUpdateDepartment(Departments.Id))" Icon="@Icons.Material.Rounded.Edit" aria-label="Edit"></MudIconButton>
                                </MudTooltip>
                            </Authorized>
                            <NotAuthorized>
                                <MudIconButton Disabled Class="btnedit" OnClick="(() => OpenUpdateDepartment(Departments.Id))" Icon="@Icons.Material.Rounded.Edit" aria-label="Edit"></MudIconButton>
                            </NotAuthorized>
                            </AuthorizeView>
                            </MudTd>

                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager PageSizeOptions="new int[] { 10, 25, int.MaxValue }" InfoFormat="@($"Right {infoFormat}")" HorizontalAlignment="HorizontalAlignment.Right" />
                        </PagerContent>
                        </MudTable>

        </div>
                    }
                </div>



