@page "/department"
@inject IDepartmentService DepartmentService
@inject IDivisionService DivisionService
@inject IDialogService DialogService
@attribute [Authorize]

<PageTitle>Department Management</PageTitle>

<div class="mb-3">
    <div class="d-flex flex-row mt-3 justify-content-between">
        <h3 class="m-3 ms-0">Department Management</h3>
        <button class="btn btn-primary" @onclick="OpenAddDepartment"><i class="oi oi-plus me-1"></i> Add Department</button>
    </div>
</div>

<MudTable Items="departmentList" Context="Departments" Elevation="0" HorizontalScrollbar="true" Dense="true" Hover="true" Bordered="false" Striped="true" Filter="new Func<DepartmentT,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
    <ColGroup>
        <col style="width: 200px;" />
        <col style="width: 200px;" />

    </ColGroup>
    <ToolBarContent>
        @* ////////////////////////////// *@

        <select @onchange="searchh" class="form-select w-auto" >
            <option value="0">All Division</option>

            @foreach (var div in Divisions)
            {
                <option value="@div.Id">@div.Name</option>
            }

        </select>


        @* ////////////////////////////// *@
        <MudSpacer />
        <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>
            <div class="d-flex justify-content-between">
                <div class="">Division</div>
                <div class="">
                    <MudIcon Icon="@Icons.Material.Filled.KeyboardArrowRight" Title="Favorite" />
                </div>
            </div>
        </MudTh>
        <MudTh Style="font-weight: bold;">Department</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>

        <MudTd DataLabel="Division">
            <div class="d-flex justify-content-between">
                <div class="">@Departments.Division.Name</div>
                <div class="">
                    <MudIcon Icon="@Icons.Material.Filled.KeyboardArrowRight" Title="Favorite" Style="margin-left: 20px; color: #90A4AE;" />
                </div>
            </div>
        </MudTd>
        <MudTd DataLabel="Department" Style="font-weight: bold;">@Departments.Name</MudTd>

        <MudTd Class="text-sm-end">
            <button class="btn btn-primary" @onclick="(() => OpenUpdateDepartment(Departments.Id))"><i class="oi oi-pencil"></i></button>
        </MudTd>

    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] { 10, 25, int.MaxValue }" InfoFormat="@($"Right {infoFormat}")" HorizontalAlignment="HorizontalAlignment.Right" />
    </PagerContent>
</MudTable>




@code {
    private int searchDiv;
    private string AllDiv = string.Empty;

    private async Task searchh(ChangeEventArgs e)
    {
        if (Convert.ToInt32(e.Value) == 0)
        {
            await DepartmentService.GetDepartment();
            departmentList = DepartmentService.DepartmentTs;

        }
        else
        {
            departmentList = await DepartmentService.GetDeptByDivision(Convert.ToInt32(e.Value));
        }
        
    }

    private void SelectedCarsChanged(ChangeEventArgs e)
    {
        if (e.Value is not null)
        {
            Console.WriteLine(e.Value);
        }
    }
}