@page "/division"
@inject IDivisionService DivisionService
@inject NavigationManager NavigationManager
@inject IDialogService DialogService

@attribute [Authorize]

<PageTitle>Division Management</PageTitle>

<div class="mb-5 mt-3">
    <div class="d-flex flex-row mt-5 justify-content-between">
        <h3 class="m-0">Division Management</h3>
        <MudButton OnClick="OpenAddDivision" Variant="Variant.Filled" Size="Size.Medium" StartIcon="@Icons.Material.Rounded.Add" Class="btnadd">Add Division</MudButton>
    </div>
</div>

@if (DivisionService.DivisionTs == null || DivisionService.DivisionTs.Count == 0)
 {
    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="auto" />
    <MudCardContent>
        <MudSkeleton Width="30%" Height="42px;" />
        <MudSkeleton Width="80%" />
        <MudSkeleton Width="100%" />
    </MudCardContent>
    <MudCardActions>
        <MudSkeleton Width="64px" Height="40px" Class="ml-2" />
        <MudSkeleton Width="105px" Height="40px" Class="ml-3" />
    </MudCardActions>
    <MudOverlay Visible="isVisible" DarkBackground="true" Absolute="true">
        <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
    </MudOverlay>
}
else
{
    <div class="box w-auto">
        <MudTable Class="stable" Items="divisionList" Context="divisions" FixedHeader="true" Elevation="0" Height="620px" HorizontalScrollbar="true" Dense="true" Hover="true" Bordered="false" Striped="true" Filter="new Func<DivisionT,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
            <ToolBarContent>
                <MudSpacer />
                <MudSpacer />

                <div class="ssize">
                    <MudTextField DisableUnderLine @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="tsearch mb-5" Immediate=true Margin="Margin.Dense" />
                 </div>
             </ToolBarContent>
             <HeaderContent>
                 <MudTh Class="col-6" Style="background: #e9ecef; font-weight: bold;">Division</MudTh>
                 <MudTh Style="background: #e9ecef; font-weight: bold;">Action</MudTh>
             </HeaderContent>
             <RowTemplate>
                 <MudTd DataLabel="">@divisions.Name</MudTd>
                 <MudTd>
                     <MudIconButton Class="btnedit" OnClick="(() => OpenUpdateDivision(divisions.Id))" Icon="@Icons.Material.Rounded.Edit" aria-label="Edit"></MudIconButton>
                 </MudTd>

             </RowTemplate>
             <PagerContent>
                 <MudTablePager PageSizeOptions="new int[] { 10, 25, int.MaxValue }" InfoFormat="@($"Right {infoFormat}")" HorizontalAlignment="HorizontalAlignment.Right" />
             </PagerContent>
         </MudTable>
     </div>
}
