@page "/section"
@inject IDivisionService DivisionService
@inject IDepartmentService DepartmentService
@inject ISectionService SectionService
@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@attribute [Authorize]

<div class="mb-3">
    <div class="d-flex flex-row mt-3 justify-content-between">
        <h3 class="m-3 ms-0">Section Management</h3>
        <button class="btn btn-primary" @onclick="OpenAddSection"><i class="oi oi-plus me-1"></i> Add Section</button>
    </div>
</div>

<MudTable Items="sectionList" Context="Sections" Elevation="0" HorizontalScrollbar="true" Dense="true" Hover="true" Bordered="false" Striped="true" Filter="new Func<SectionT,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
    <ColGroup>
        <col style="width: 200px;" />
        <col style="width: 200px;" />
        <col style="width: auto;" />
    </ColGroup>
    <ToolBarContent>
        <MudSpacer />

        <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>
            <div class="d-flex justify-content-between">
                <div class="">Division</div>  
                <div class="">
                    <MudIcon Icon="@Icons.Material.Filled.KeyboardArrowRight" Title="Favorite" />
                </div>
            </div>
        </MudTh>
        <MudTh>
            <div class="d-flex justify-content-between">
                <div class="">Department</div>
                <div class="">
                    <MudIcon Icon="@Icons.Material.Filled.KeyboardDoubleArrowRight" Title="Favorite" />
                </div>
            </div>
        </MudTh>

        <MudTh Style="font-weight: bold;">Section</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
     
        @foreach (var item in DivisionService.DivisionTs)
        {
            if (item.Id == Sections.DivisionId)
            {
               
                <MudTd DataLabel="Division">
                    <div class="d-flex justify-content-between">
                        <div class="">@item.Name</div>
                        <div class="">
                            <MudIcon Icon="@Icons.Material.Filled.KeyboardArrowRight" Title="Favorite" Style="margin-left: 20px; color: #90A4AE;" />
                        </div>
                    </div>
                </MudTd>
            }
        }
        @foreach (var item in DepartmentService.DepartmentTs)
        {
            if (item.Id == Sections.DepartmentId)
            {
                <MudTd DataLabel="Department">
                    <div class="d-flex justify-content-between">
                        <div class="">@item.Name</div>
                        <div class="">
                            <MudIcon Icon="@Icons.Material.Filled.KeyboardDoubleArrowRight" Title="Favorite" Style="color: #90A4AE;" />
                        </div>
                    </div>
                </MudTd>
            }
        }
        <MudTd DataLabel="" Style="font-weight: bold;">@Sections.Name</MudTd>
        <MudTd Class="text-sm-end">
            <button class="btn btn-primary" @onclick="(() => OpenUpdateSection(Sections.Id))"><i class="oi oi-pencil"></i></button>
        </MudTd>

    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, int.MaxValue }" InfoFormat="@($"Right {infoFormat}")" HorizontalAlignment="HorizontalAlignment.Right" />
    </PagerContent>
</MudTable>

