@page "/employeelicense"
@inject ILicenseTrainingService LicenseTrainingService
@inject NavigationManager NavigationManager
@inject GlobalConfigService GlobalConfigService
@inject IAuditlogService AuditlogService

<style>
    .stable {
        background: #e9ecef;
        border-radius: 20px;
    }

    .txf1 {
        height: 45px;
        box-shadow: inset -5px -5px 10px #ffffff, inset 5px 5px 10px #bebebe;
        border-radius: 10px;
        border: 0;
        padding: 0 0 10px 15px;
        margin-top: 0;
        background: #e9ecef;
        padding-top: 10px;
        padding-right: 10px;
        width: 100%;
    }

    .spantitle {
        font-weight: bold;
        color: #26446e;
        font-size: 16px;
    }

    .btnnext {
        border: none;
        box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
        border-radius: 10px;
        background-color: #F1BC3A;
        color: #424242;
        padding-bottom: 10px;
        padding-top: 10px;
        font-weight: bold;
        width: 200px;
    }

        .btnnext:hover {
            background-color: #E38D0F;
            color: #fff;
        }

    .btnadd {
        border-radius: 15px;
        background-color: #26446e;
        color: #FAFAF5;
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }

        .btnadd:hover {
            background-color: #E38D0F;
            transform: scale(1.1);
        }
</style>
@if (licenseList.Count == 0 || licenseList == null)
{
    <div class="d-flex flex-grow-1 justify-content-between align-items-center">
        <span class="spantitle mb-3">No Licenses Information.</span>

        <AuthorizeView Roles="SysAdmin, GenAdmin, HR">
            <Authorized>
                <MudTooltip Text="Add">
                    <MudButton Class="btnadd" OnClick="@(() => OpenDrawer(Anchor.End, "LicenseOpen"))" Size="Size.Small">Add Information</MudButton>
                </MudTooltip>
            </Authorized>
        </AuthorizeView>
    </div>
}
else
{
    <MudTable Class="stable" Items="licenseList" Context="license" FixedHeader="true" Elevation="0" HorizontalScrollbar="true" Dense="true" Hover="true" Bordered="false" Striped="true" @bind-SelectedItem="selectedItem1">
        <ToolBarContent>
            <div class="d-flex flex-grow-1 justify-content-between align-items-center">
                <span class="spantitle mb-3">Licenses</span>

                <AuthorizeView Roles="SysAdmin, GenAdmin, HR">
                    <Authorized>
                        <MudTooltip Text="Add">
                            <MudButton Class="btnadd" OnClick="@(() => OpenDrawer(Anchor.End, "LicenseOpen"))" Size="Size.Small">Add Information</MudButton>
                        </MudTooltip>
                    </Authorized>
                </AuthorizeView>
            </div>
        </ToolBarContent>
        <HeaderContent>
            <MudTh Style="background: #e9ecef; font-weight: bold;">Licenses/Board Examinations Taken</MudTh>
            <MudTh Style="background: #e9ecef; font-weight: bold;">Date</MudTh>
            <MudTh Style="background: #e9ecef; font-weight: bold;">License No</MudTh>
            <MudTh Style="background: #e9ecef; font-weight: bold;">Rating %</MudTh>
            <MudTh Style="background: #e9ecef; font-weight: bold;">Action</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="">@license.Examination</MudTd>
            <MudTd DataLabel="">@license.Date?.ToString("MM/dd/yyyy")</MudTd>
            <MudTd DataLabel="">@license.LicenseNo</MudTd>
            <MudTd DataLabel="">@license.Rating</MudTd>
            <MudTd>
                <AuthorizeView Roles="SysAdmin, GenAdmin, HR">
                    <Authorized>
                        <MudTooltip Text="Remove">
                            <MudIconButton Class="btnedit" OnClick="@(() => DeleteLicense(license.Id))" Icon="@Icons.Material.Rounded.Delete" Size="Size.Small" aria-label="Delete" Style="color: #BB6464;"></MudIconButton>
                        </MudTooltip>
                    </Authorized>
                    <NotAuthorized>
                        <MudIconButton Class="btnedit" Disabled Icon="@Icons.Material.Rounded.Delete" Size="Size.Small" aria-label="Delete" Style="color: #BB6464;"></MudIconButton>
                    </NotAuthorized>
                </AuthorizeView>
            </MudTd>
        </RowTemplate>
    </MudTable>
}
<MudDrawer Class="drawerdetails" @bind-Open="@LicenseOpen" Width="@width" Height="@height" Anchor="@anchor" Elevation="1" Variant="@DrawerVariant.Temporary" Style=" margin: 10px;">
    <span class="spantitle mb-3">Licenses</span>
    <MudItem xs="12">
        <EditForm Model="license" OnValidSubmit="SaveLicense" class="d-flex flex-column flex-grow-1" style="margin-top: 13px;">
            <MudItem xs="12" Class="mb-2">
                <MudInputLabel>Professional Licenses/Board Examinations Taken</MudInputLabel>
                <MudTextField @bind-Value="license.Examination" Class="txf" DisableUnderLine Margin="Margin.Dense" />
            </MudItem>
            <MudItem xs="12" Class="mb-2">
                <MudInputLabel>Date(mm/dd/yy)</MudInputLabel>
                <MudDatePicker Class="txf" DisableUnderLine @bind-Date="license.Date" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Editable="true" Margin="Margin.Dense" />
            </MudItem>
            <MudItem xs="12" Class="mb-2">
                <MudInputLabel>License No.</MudInputLabel>
                <MudTextField @bind-Value="license.LicenseNo" Class="txf" DisableUnderLine Margin="Margin.Dense" />
            </MudItem>
            <MudItem xs="12" Class="mb-2">
                <MudInputLabel>Rating %</MudInputLabel>
                <MudTextField @bind-Value="license.Rating" Class="txf" DisableUnderLine Margin="Margin.Dense" />
            </MudItem>
            <MudItem xs="12" Class="d-flex justify-content-center mt-5">
                <MudButton EndIcon="@Icons.Material.Rounded.Save" Class="btnnext" ButtonType="ButtonType.Submit">SAVE</MudButton>
            </MudItem>
        </EditForm>
    </MudItem>
</MudDrawer>