@page "/employeetraining"
@inject ILicenseTrainingService LicenseTrainingService
@inject NavigationManager NavigationManager
@inject GlobalConfigService GlobalConfigService
@inject IAuditlogService AuditlogService

<style>
    .stable {
        background: #e9ecef;
        border-radius: 20px;
    }

    .txf1 {
        height: 45px;
        box-shadow: inset -5px -5px 10px #ffffff, inset 5px 5px 10px #bebebe;
        border-radius: 10px;
        border: 0;
        padding: 0 0 10px 15px;
        margin-top: 0;
        background: #e9ecef;
        padding-top: 10px;
        padding-right: 10px;
        width: 100%;
    }

    .spantitle {
        font-weight: bold;
        color: #26446e;
        font-size: 16px;
    }

    .btnnext {
        border: none;
        box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
        border-radius: 10px;
        background-color: #F1BC3A;
        color: #424242;
        padding-bottom: 10px;
        padding-top: 10px;
        font-weight: bold;
        width: 200px;
    }

        .btnnext:hover {
            background-color: #E38D0F;
            color: #fff;
        }

    .btnadd {
        border-radius: 15px;
        background-color: #26446e;
        color: #FAFAF5;
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }

        .btnadd:hover {
            background-color: #E38D0F;
            transform: scale(1.1);
        }
</style>
@if (_trainingListt.Count == 0 ||_trainingListt == null)
{
    <div class="d-flex flex-grow-1 justify-content-between align-items-center">
        <span class="spantitle mb-3">No Trainings Information.</span>
        
        <AuthorizeView Roles="HR, System Administrator">
            <Authorized>
                <MudTooltip Text="Add">
                    <MudButton Class="btnadd" OnClick="@(() => OpenDrawer(Anchor.End, "TrainingOpen"))" Size="Size.Small">Add Information</MudButton>
                </MudTooltip>
            </Authorized>
        </AuthorizeView>
    </div>
}
else
{
    <MudTable Class="stable" Items="_trainingListt" Context="training" FixedHeader="true" Elevation="0" HorizontalScrollbar="true" Dense="true" Hover="true" Bordered="false" Striped="true" @bind-SelectedItem="_selectedItem1">
        <ToolBarContent>
            <div class="d-flex flex-grow-1 justify-content-between align-items-center">
                <span class="spantitle mb-3">Trainings</span>
                
                <AuthorizeView Roles="HR, System Administrator">
                    <Authorized>
                        <MudTooltip Text="Add">
                            <MudButton Class="btnadd" OnClick="@(() => OpenDrawer(Anchor.End, "TrainingOpen"))" Size="Size.Small">Add Information</MudButton>
                        </MudTooltip>
                    </Authorized>
                </AuthorizeView>
            </div>
        </ToolBarContent>
        <HeaderContent>
            <MudTh Style="background: #e9ecef; font-weight: bold;">Title</MudTh>
            <MudTh Style="background: #e9ecef; font-weight: bold;">Sponsor / Speaker</MudTh>
            <MudTh Style="background: #e9ecef; font-weight: bold;">Date Attended</MudTh>
            <MudTh Style="background: #e9ecef; font-weight: bold;">Action</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="">@training.TrainingName</MudTd>
            <MudTd DataLabel="">@training.SponsorSpeaker</MudTd>
            <MudTd DataLabel="">@training.TrainingDate?.ToString("MM/dd/yyyy")</MudTd>
            <MudTd>
                <AuthorizeView Roles="HR, System Administrator">
                    <Authorized>
                        <MudTooltip Text="Remove">
                            <MudIconButton Class="btnedit" OnClick="@(() => DeleteTraining(training.Id))" Icon="@Icons.Material.Rounded.Delete" Size="Size.Small" aria-label="Delete" Style="color: #BB6464;"></MudIconButton>
                        </MudTooltip>
                    </Authorized>
                    <NotAuthorized>
                        <MudIconButton Class="btnedit" Disabled Icon="@Icons.Material.Rounded.Delete" Size="Size.Small" aria-label="Delete" Style="color: #BB6464;"></MudIconButton>
                     </NotAuthorized>
                </AuthorizeView>
            </MudTd>
        </RowTemplate>
    </MudTable>
}
<MudDrawer Class="drawerdetails" @bind-Open="@TrainingOpen" Width="@width" Height="@height" Anchor="@anchor" Elevation="1" Variant="@DrawerVariant.Temporary" Style=" margin: 10px;">
    <span class="spantitle mb-3">Trainings</span>
    <MudItem xs="12">
        <EditForm Model="training" OnValidSubmit="SaveTraining" class="d-flex flex-column flex-grow-1" style="margin-top: 13px;">
             <MudItem xs="12" Class="mb-2">
                <MudInputLabel>Title</MudInputLabel>
                 <MudTextField @bind-Value="training.TrainingName" Class="txf" DisableUnderLine Margin="Margin.Dense" />
             </MudItem>
             <MudItem xs="12" Class="mb-2">
                 <MudInputLabel>Sponsor / Speaker</MudInputLabel>
                 <MudTextField @bind-Value="training.SponsorSpeaker" Class="txf" DisableUnderLine Margin="Margin.Dense" />
             </MudItem>
             <MudItem xs="12" Class="mb-2">
                 <MudInputLabel>Date Attended(mm/dd/yyyy)</MudInputLabel>
                 <MudDatePicker Class="txf" DisableUnderLine @bind-Date="training.TrainingDate" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Editable="true" Margin="Margin.Dense" />
             </MudItem>
             <MudItem xs="12" Class="d-flex justify-content-center mt-5">
                 <MudButton EndIcon="@Icons.Material.Rounded.Save" Class="btnnext" ButtonType="ButtonType.Submit">SAVE</MudButton>
             </MudItem>
         </EditForm>
     </MudItem>
 </MudDrawer>