@page "/employeeprofbg"
@inject ILicenseTrainingService LicenseTrainingService
@inject NavigationManager NavigationManager
@inject GlobalConfigService GlobalConfigService
@inject IAuditlogService AuditlogService

<style>
    .stable {
        background: #e9ecef;
        border-radius: 20px;
    }

    .txf1 {
        height: 45px;
        box-shadow: inset -5px -5px 10px #ffffff, inset 5px 5px 10px #bebebe;
        border-radius: 10px;
        border: 0;
        padding: 0 0 10px 15px;
        margin-top: 0;
        background: #e9ecef;
        padding-top: 10px;
        padding-right: 10px;
        width: 100%;
    }

    .spantitle {
        font-weight: bold;
        color: #26446e;
        font-size: 16px;
    }

    .btnnext {
        border: none;
        box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
        border-radius: 10px;
        background-color: #F1BC3A;
        color: #424242;
        padding-bottom: 10px;
        padding-top: 10px;
        font-weight: bold;
        width: 200px;
    }

        .btnnext:hover {
            background-color: #E38D0F;
            color: #fff;
        }

    .btnadd {
        border-radius: 15px;
        background-color: #26446e;
        color: #FAFAF5;
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }

        .btnadd:hover {
            background-color: #E38D0F;
            transform: scale(1.1);
        }
</style>
@if (_profBgListt.Count == 0 || _profBgListt == null)
{
    <div class="d-flex flex-grow-1 justify-content-between align-items-center">
        <span class="spantitle mb-3">No Professional Background.</span>
        <MudTooltip Text="Add">
            <MudButton Class="btnadd" OnClick="@(() => OpenDrawer(Anchor.End, "TrainingOpen"))" Size="Size.Small">Add Information</MudButton>
        </MudTooltip>
    </div>
}
else
{
    <MudTable Class="stable" Items="_profBgListt" Context="training" FixedHeader="true" Elevation="0" HorizontalScrollbar="true" Dense="true" Hover="true" Bordered="false" Striped="true" @bind-SelectedItem="_selectedItem1">
        <ToolBarContent>
            <div class="d-flex flex-grow-1 justify-content-between align-items-center">
                <span class="spantitle mb-3">Professional Background</span>
                <MudTooltip Text="Add">
                    <MudButton Class="btnadd" OnClick="@(() => OpenDrawer(Anchor.End, "TrainingOpen"))" Size="Size.Small">Add Information</MudButton>
                </MudTooltip>
            </div>
        </ToolBarContent>
        <HeaderContent>
            <MudTh Style="background: #e9ecef; font-weight: bold;">Date From</MudTh>
            <MudTh Style="background: #e9ecef; font-weight: bold;">Date To</MudTh>
            <MudTh Style="background: #e9ecef; font-weight: bold;">Company Name</MudTh>
            <MudTh Style="background: #e9ecef; font-weight: bold;">Position</MudTh>
            <MudTh Style="background: #e9ecef; font-weight: bold;">Basic Salary</MudTh>
            <MudTh Style="background: #e9ecef; font-weight: bold;">Reason for Leaving</MudTh>
            <MudTh Style="background: #e9ecef; font-weight: bold;">Action</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="">@training.DateFrom?.ToString("MM/dd/yyyy")</MudTd>
            <MudTd DataLabel="">@training.DateTo?.ToString("MM/dd/yyyy")</MudTd>
            <MudTd DataLabel="">@training.CompanyName</MudTd>
            <MudTd DataLabel="">@training.Position</MudTd>
            <MudTd DataLabel="">@training.BasicSalary</MudTd>
            <MudTd DataLabel="">@training.RSLeaving</MudTd>
            <MudTd>
                <AuthorizeView Roles="HR, System Administrator">
                    <Authorized>
                        <MudTooltip Text="Remove">
                            <MudIconButton Class="btnedit" OnClick="@(() => DeleteProfbg(training.Id))" Icon="@Icons.Material.Rounded.Delete" Size="Size.Small" aria-label="Delete" Style="color: #BB6464;"></MudIconButton>
                        </MudTooltip>
                    </Authorized>
                </AuthorizeView>
            </MudTd>
        </RowTemplate>
    </MudTable>
}
<MudDrawer Class="drawerdetails" @bind-Open="@ProfBgOpen" Width="@width" Height="@height" Anchor="@anchor" Elevation="1" Variant="@DrawerVariant.Temporary" Style=" margin: 10px;">
    <span class="spantitle mb-3">Professional Background</span>
    <MudItem xs="12">
        <EditForm Model="profBg" OnValidSubmit="SaveBg" class="d-flex flex-column flex-grow-1" style="margin-top: 13px;">
             <MudItem xs="12" Class="mb-2">
                 <MudInputLabel>Date From(mm/dd/yyyy)</MudInputLabel>
                 <MudDatePicker Class="txf" DisableUnderLine @bind-Date="profBg.DateFrom" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Editable="true" Margin="Margin.Dense" />
             </MudItem>
             <MudItem xs="12" Class="mb-2">
                 <MudInputLabel>Date To(mm/dd/yyyy)</MudInputLabel>
                 <MudDatePicker Class="txf" DisableUnderLine @bind-Date="profBg.DateTo" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Editable="true" Margin="Margin.Dense" />
             </MudItem>
            <MudItem xs="12" Class="mb-2">
                <MudInputLabel>Company Name</MudInputLabel>
                <MudTextField @bind-Value="profBg.CompanyName" Class="txf" DisableUnderLine Margin="Margin.Dense" />
             </MudItem>
             <MudItem xs="12" Class="mb-2">
                 <MudInputLabel>Position</MudInputLabel>
                 <MudTextField @bind-Value="profBg.Position" Class="txf" DisableUnderLine Margin="Margin.Dense" />
             </MudItem>
             <MudItem xs="12" Class="mb-2">
                 <MudInputLabel>Basic Salary</MudInputLabel>
                 <MudTextField @bind-Value="profBg.BasicSalary" Class="txf" DisableUnderLine Margin="Margin.Dense" />
             </MudItem>
             <MudItem xs="12" Class="mb-2">
                 <MudInputLabel>Reason for Leaving</MudInputLabel>
                 <MudTextField @bind-Value="profBg.RSLeaving" Class="txf" DisableUnderLine Margin="Margin.Dense" />
             </MudItem>
             <MudItem xs="12" Class="d-flex justify-content-center mt-5">
                 <MudButton EndIcon="@Icons.Material.Rounded.Save" Class="btnnext" ButtonType="ButtonType.Submit">SAVE</MudButton>
             </MudItem>
         </EditForm>
     </MudItem>
 </MudDrawer>