@page "/employeeprimary"
@inherits MudComponentBase
@inject IEducationService EducationService
@inject NavigationManager NavigationManager

<style>
    .stable {
        background: #e9ecef;
        border-radius: 20px;
    }

    .txf1 {
        height: 45px;
        box-shadow: inset -5px -5px 10px #ffffff, inset 5px 5px 10px #bebebe;
        border-radius: 10px;
        border: 0;
        padding: 0 0 10px 15px;
        margin-top: 0;
        background: #e9ecef;
        padding-top: 10px;
        padding-right: 10px;
        width: 100%;
    }

    .spantitle {
        font-weight: bold;
        color: #26446e;
        font-size: 16px;
    }

    .btnnext {
        border: none;
        box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
        border-radius: 10px;
        background-color: #AEC3AE;
        color: #26446e;
        padding-bottom: 10px;
        padding-top: 10px;
        font-weight: bold;
        width: 200px;
    }
</style>
@if (primaryList.Count == 0 || primaryList == null)
{
    <div class="d-flex flex-grow-1 justify-content-between align-items-center">
        <span class="spantitle mb-3">No Primary Information.</span>
        <MudTooltip Text="Add">
            <MudButton Class="btnedit" OnClick="@(() => OpenDrawer(Anchor.End, "PrimaryOpen"))" Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary">Add Information</MudButton>
        </MudTooltip>
    </div>
}
else
{
    <MudTable Class="stable" Items="primaryList" Context="primary" FixedHeader="true" Elevation="0" HorizontalScrollbar="true" Dense="true" Hover="true" Bordered="false" Striped="true" Filter="new Func<PrimaryT,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
        <ToolBarContent>
            <div class="d-flex flex-grow-1 justify-content-between align-items-center">
                <span class="spantitle mb-3">Primary Education</span>
                <MudTooltip Text="Add">
                    <MudButton Class="btnedit" OnClick="@(() => OpenDrawer(Anchor.End, "PrimaryOpen"))" Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary">Add Information</MudButton>
                </MudTooltip>
            </div>
        </ToolBarContent>
        <HeaderContent>
            <MudTh Class="col-3" Style="background: #e9ecef; font-weight: bold;">School Name</MudTh>
            <MudTh Class="col-3" Style="background: #e9ecef; font-weight: bold;">Location</MudTh>
            <MudTh Class="col-3" Style="background: #e9ecef; font-weight: bold;">Awards</MudTh>
            <MudTh Class="col-3" Style="background: #e9ecef; font-weight: bold;">School Year</MudTh>
            <MudTh Style="background: #e9ecef; font-weight: bold;">Action</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="">@primary.PriSchoolName</MudTd>
            <MudTd DataLabel="">@primary.PriSchoolLoc</MudTd>
            <MudTd DataLabel="">@primary.PriAward</MudTd>
            <MudTd DataLabel="">@primary.PriSchoolYear</MudTd>
            <MudTd>
                <MudIconButton Class="btnedit" OnClick="@(() => DeletePrimary(primary.Id))" Icon="@Icons.Material.Rounded.Delete" Size="Size.Small" aria-label="Delete" Style="color: #BB6464;"></MudIconButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
}
<MudDrawer Class="drawerdetails" @bind-Open="@PrimaryOpen" Width="@width" Height="@height" Anchor="@anchor" Elevation="1" Variant="@DrawerVariant.Temporary" Style=" margin: 10px;">
    <span class="spantitle mb-3">Primary Education</span>
    <MudItem xs="12">
        <EditForm Model="_pri" OnValidSubmit="SavePrimary" class="d-flex flex-column flex-grow-1" style="margin-top: 13px;">
            <MudItem xs="12" Class="mb-2">
                <MudInputLabel>Name of School</MudInputLabel>
                <InputText Class="txf1" @bind-Value="_pri.PriSchoolName" />
                <ValidationMessage For="@(() => _pri.PriSchoolName)" class="mb-2 valmessage" />
            </MudItem>
            <MudItem xs="12" Class="mb-2">
                <MudInputLabel>School Location</MudInputLabel>
                <InputText Class="txf1" @bind-Value="_pri.PriSchoolLoc" />
                <ValidationMessage For="@(() => _pri.PriSchoolLoc)" class="mb-2 valmessage" />
            </MudItem>
            <MudItem xs="12" Class="mb-2">
                <MudInputLabel>Award</MudInputLabel>
                <InputText Class="txf1" @bind-Value="_pri.PriAward" />
                <ValidationMessage For="@(() => _pri.PriAward)" class="mb-2 valmessage" />
            </MudItem>
            <MudItem xs="12" Class="mb-2">
                <MudInputLabel>School Year</MudInputLabel>
                <InputText Class="txf1" @bind-Value="_pri.PriSchoolYear" />
                <ValidationMessage For="@(() => _pri.PriSchoolYear)" class="mb-2 valmessage" />
            </MudItem>
            <MudItem xs="12" Class="d-flex justify-content-center mt-5">
                <button Class="btn btnnext" type="submit">SAVE</button>
            </MudItem>
        </EditForm>
    </MudItem>
</MudDrawer>


@code {
    private PrimaryT _pri = new PrimaryT();
    [Parameter]
    public string? VerifyCode { get; set; }

    bool PrimaryOpen;
    Anchor anchor;
    string width = "500px", height = "100%";
    void OpenDrawer(Anchor anchor, string drawerx)
    {
        PrimaryOpen = (drawerx == "PrimaryOpen") ? true : false;
        this.anchor = anchor;
    }
    protected async Task SavePrimary()
    {
        _pri.Verify_Id = VerifyCode;
        await EducationService.CreatePrimary(_pri); 
        _pri.PriSchoolName = "";
        _pri.PriSchoolLoc = "";
        _pri.PriAward = "";
        _pri.PriSchoolYear = "";
        primaryList = await EducationService.GetPrimarylist(VerifyCode);
        PrimaryOpen = false;
    }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            primaryList = await EducationService.GetPrimarylist(VerifyCode);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    async Task DeletePrimary(int id)
    {
        await EducationService.DeletePrimary(id);
        primaryList = await EducationService.GetPrimarylist(VerifyCode);
    }


    //TABLEEES
    private string infoFormat = "{first_item}-{last_item} of {all_items}";
    private string searchString1 = "";
    List<PrimaryT> primaryList = new List<PrimaryT>();
    private PrimaryT selectedItem1 = null;
    private HashSet<PrimaryT> selectedItems = new HashSet<PrimaryT>();

    private bool FilterFunc1(PrimaryT divisions) => FilterFunc(divisions, searchString1);

    private bool FilterFunc(PrimaryT employees, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        // if (employees.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
        //     return true;
        return false;
    }
        //END FOR TABLES
}
