@page "/auditlog"
@inject IAuditlogService AuditlogService
@inject AuditlogVM _auditlogVM

@attribute [Authorize(Roles = "Admin")]

<PageTitle>Audit Log</PageTitle>

<div class="mb-5">
    <div class="d-flex flex-row mt-5 justify-content-between align-items-center">
        <span style="font-size: x-large;font-weight: 600;color: #424242;">Audit Logs</span>
        
    </div>
</div>

@if (_auditlogVM.logsList == null || _auditlogVM.logsList.Count == 0)
{
    <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Class="my-7" />
    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="auto" />
    <MudCardContent>
        <MudSkeleton Width="30%" Height="42px;" />
        <MudSkeleton Width="80%" />
        <MudSkeleton Width="100%" />
    </MudCardContent>
    <MudCardActions>
        <MudSkeleton Width="64px" Height="40px" Class="ml-2" />
        <MudSkeleton Width="105px" Height="40px" Class="ml-3" />
    </MudCardActions>
    <MudOverlay Visible="_auditlogVM.isVisible" DarkBackground="true" Absolute="true">
        <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
    </MudOverlay>
}
else
{
<div class="box w-auto">
    <MudTable Class="stable" Items="@_auditlogVM.logsList" Context="log" SortLabel="Sort By" FixedHeader="true" Elevation="0" Height="593px" HorizontalScrollbar="true" Dense="true" Hover="true" Bordered="false" Striped="true" Filter="new Func<AuditlogsT,bool>(_auditlogVM.FilterFunc1)">
        <ToolBarContent>
            <div class="w-25">
                <MudTextField DisableUnderLine @bind-Value="@_auditlogVM.searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="tsearch mb-5" Immediate=true Margin="Margin.Dense" />
             </div>
             <MudSpacer />
         </ToolBarContent>
         <HeaderContent>
             <MudTh Style="background: #e9ecef; font-weight: bold; font-size: 16px;">User</MudTh>
             <MudTh Style="background: #e9ecef; font-weight: bold; font-size: 16px;">Action</MudTh>
             <MudTh Style="background: #e9ecef; font-weight: bold; font-size: 16px;">Type</MudTh>
             <MudTh Style="background: #e9ecef; font-weight: bold; font-size: 16px;">Timestamp</MudTh>
         </HeaderContent>
         <RowTemplate>
             <MudTd>
                 @foreach (var item in @_auditlogVM.employeeList)
                {
                    if (item.Id == log.UserId)
                    {
                        <div class="d-flex flex-column">
                         <MudText Typo="Typo.body2" Style="font-weight: bold; color: #424242;">@($"{item.FirstName} {item.LastName}")</MudText>
                                <MudText Typo="Typo.caption" Style="color: #A6AABA;">@_auditlogVM.GetRole(log.UserId.ToString())</MudText>
                        </div>
                    }
                }
             </MudTd>
            <MudTd Style=""><span class="@_auditlogVM.ActionColor(log.Action)">@log.Action</span></MudTd>
             <MudTd>@log.Type</MudTd>
             <MudTd>
                <div class="d-flex flex-column">
                    <MudText Typo="Typo.body2" Style="color: #424242;">@log.Date?.ToString("dd MMM yyyy")</MudText>
                    <MudText Typo="Typo.caption" Style="color: #A6AABA;">@log.Date?.ToString("hh:mm tt")</MudText>
                </div>
             </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[] { 15, 25, 50, int.MaxValue }" InfoFormat="@($"Right {@_auditlogVM.infoFormat}")" HorizontalAlignment="HorizontalAlignment.Right" />
        </PagerContent>
    </MudTable>
</div>
}
@code {
    protected override async Task OnInitializedAsync()
    {
       await _auditlogVM.OnRefreshPage();
    }
}
