@page "/employee/add"
@inject IDivisionService DivisionService
@inject IDepartmentService DepartmentService
@inject ISectionService SectionService
@inject IPositionService PositionService
@inject IAddressService AddressService
@inject IAreaService AreaService
@inject IEmployeeService EmployeeService
@inject IToastService _toastService
@inject IImageService ImageService
@inject IEducationService EducationService
@inject NavigationManager NavigationManager
@inject SweetAlertService Swal


<div class="tabdiv">
    <MudButton Class="button" ButtonType="ButtonType.Submit" Variant="Variant.Outlined" Color="Color.Primary" @onclick="CreateEmployee" StartIcon="@Icons.Material.Filled.PersonAdd" Style="text-transform: none; position: absolute;left: 90%; z-index:10;top: 70px;">Create User</MudButton>
    <MudTabs Elevation="0" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6" @ref="tabs" @bind-ActivePanelIndex="activeIndex" Centered=true>

        @* ====================================================================================  JOB  ==================================================================================== *@
        <MudTabPanel Class="@GetTabClass(0)" TabContent="tabHeader(0)">
            <MudGrid>
                
                <MudItem xs="12" lg="2">
                    <span class="spantitle mb-3">Image</span>
                    @if (imgBase64 == "./images/addIconImage.png")
                    {
                        <MudFileUpload T="IBrowserFile" OnFilesChanged="uploadImage" Accept="image/*" capture Style="margin-top: 35px">
                            <ButtonTemplate>
                                <MudButton Class="w-100 btnimage" DisableElevation HtmlTag="label" Variant="Variant.Outlined" for="@context">
                                    <div style="height: 240px; display: flex; justify-content: center; align-items: center; ">
                                        <MudImage Src="@imgBase64" Style="height: 100px; width: 100px; " />
                                    </div>
                                </MudButton>
                            </ButtonTemplate>
                         </MudFileUpload>
                    }
                    else
                    {
                        <MudFileUpload T="IBrowserFile" OnFilesChanged="uploadImage" Accept="image/*" capture Style="margin-top: 35px">
                            <ButtonTemplate>
                                <MudButton Class="w-100 btnimagewithimage" DisableElevation HtmlTag="label" for="@context">
                                     <div style="height: 240px; display: flex; justify-content: center; align-items: center;  border-radius: 20px; padding:10px 0 10px 0">
                                         <MudImage Src="@imgBase64" Style="height: 95%; width: auto; max-width:100%; border-radius: 20px; border: none; " />
                                     </div>
                                 </MudButton>
                             </ButtonTemplate>
                         </MudFileUpload>
                    }
                </MudItem>
                <MudItem xs="12" lg="9">
                    <span class="spantitle">Basic Fields</span>
                    <MudCard Class="mdcard1 lfmargin" Elevation="0">
                        <MudCardContent>
                            <MudInputLabel>First Name</MudInputLabel>
                            <MudStack Row="true" Class="mb-1">
                                <MudItem xs="12"><MudTextField Class="txf" @bind-Value="employee.FirstName" For="() => employee.FirstName" DisableUnderLine Margin="Margin.Dense" /></MudItem>
                            </MudStack>
                            <MudInputLabel>Middle Name</MudInputLabel>
                            <MudStack Row="true" Class="mb-1">
                                <MudItem xs="12"><MudTextField Class="txf" @bind-Value="employee.MiddleName" DisableUnderLine Margin="Margin.Dense" /></MudItem>
                            </MudStack>
                             <MudInputLabel>Last Name</MudInputLabel>
                            <MudStack Row="true" Class="mb-1">
                                <MudItem xs="12"><MudTextField Class="txf" @bind-Value="employee.LastName" DisableUnderLine Margin="Margin.Dense" /></MudItem>
                            </MudStack>
                            <MudInputLabel>Email</MudInputLabel>
                            <MudStack Row="true" Class="mb-1">
                                 <MudItem xs="12">
                                     <MudTextField Class="txf" @bind-Value="employee.Email" DisableUnderLine Margin="Margin.Dense" />
                                </MudItem>
                            </MudStack>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" Class="mt-3">
                    <span class="spantitle">Work Information</span>
                     <MudCard Class="mdcard1" Elevation="0">
                         <MudCardContent>
                             <div class="d-flex flex-column flex-grow-1 mb-3">
                                 <div class="d-flex flex-wrap gap-lg-3 gap-sm-2">
                                     <div class="flex-grow-1">
                                         <MudInputLabel>Company ID No.</MudInputLabel>
                                         <MudTextField Class="txf" @bind-Value="employee.EmployeeNo" DisableUnderLine Margin="Margin.Dense" />
                                     </div>
                                     <div class="flex-grow-1">
                                         <MudInputLabel>Area of Assignment</MudInputLabel>
                                         <MudSelect Class="frmselect" @bind-Value="employee.AreaId" DisableUnderLine Margin="Margin.Dense">
                                             <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                                            @foreach (var area in AreasL)
                                            {
                                                <MudSelectItem Value="@area.Id">@area.Name</MudSelectItem>
                                            }
                                        </MudSelect>
                                     </div>
                                    <div class="flex-grow-1">
                                        <MudInputLabel>Status</MudInputLabel>
                                        <MudSelect Class="frmselect" @bind-Value="employee.StatusId" DisableUnderLine Margin="Margin.Dense">
                                             <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                                            @foreach (var status in StatusL.Where(s => s.Id == 1))
                                            {
                                                <MudSelectItem Value="@status.Id">@status.Name</MudSelectItem>
                                            }
                                        </MudSelect>
                                     </div>
                                 </div>
                             </div>
                            <div class="d-flex flex-column flex-grow-1 mb-3">
                                    <div class="d-flex flex-wrap gap-lg-3 gap-sm-2">
                                        <div class="flex-grow-1">
                                            <MudInputLabel>Employment Status</MudInputLabel>
                                            <MudSelect Class="frmselect" @bind-Value="employee.EmploymentStatusId"   
                                                DisableUnderLine
                                             Margin="Margin.Dense">
                                                 <MudSelectItem Value=0   
                                                    Disabled
                                                 >---Select---</MudSelectItem>
                                                 @foreach (var status in EmploymentStatusL)
                                                {
                                                    <MudSelectItem Value="@status.Id">@status.Name</MudSelectItem>
                                                }
                                            </MudSelect>
                                        </div>
                                        @if (employee.EmploymentStatusId == 1)
                                        {
                                            <div class="flex-grow-1">
                                                <MudInputLabel>Date Hired (mm/dd/yyyy)</MudInputLabel>
                                                <MudDatePicker Class="txf" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy"   
                                                    DisableUnderLine
                                                 Editable="true" Date="DateHired" DateChanged="HandleDateHiredChanged" Margin="Margin.Dense" />
                                             </div>
                                             <div class="flex-grow-1">
                                                 <MudInputLabel>Regularization Date (mm/dd/yyyy)</MudInputLabel>
                                                <MudDatePicker Class="txf" @bind-Date="RegularDate" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" DisableUnderLine Editable="true" Margin="Margin.Dense"/>
                                             </div>
                                        }
                                        else if (employee.EmploymentStatusId == 2) {
                                            <div class="flex-grow-1">
                                                <MudInputLabel>Date Hired (mm/dd/yyyy)</MudInputLabel>
                                                <MudDatePicker @bind-Date="DateHired" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Editable="true" Class="txf"      DisableUnderLine Margin="Margin.Dense" />
                                            </div>
                                            <div class="flex-grow-1">
                                                <MudInputLabel>Probation Start Date (mm/dd/yyyy)</MudInputLabel>
                                                <MudDatePicker DateChanged="HandleDateHiredChanged" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Editable="true" Date="ProbStart" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                            </div>
                                            <div class="flex-grow-1">
                                                <MudInputLabel>Probation End Date (mm/dd/yyyy)</MudInputLabel>
                                                <MudDatePicker @bind-Date="ProbEnd" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Editable="true" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                            </div>
                                        }
                                        else if (employee.EmploymentStatusId == 3) {
                                            <div class="flex-grow-1">
                                            <MudInputLabel>Date Hired (mm/dd/yyyy)</MudInputLabel>
                                            <MudDatePicker @bind-Date="DateHired" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Editable="true" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                            </div>
                                            <div class="flex-grow-1">
                                                <MudInputLabel>Casual Start Date (mm/dd/yyyy)</MudInputLabel>
                                                <MudDatePicker @bind-Date="CasualStart" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Editable="true" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                            </div>
                                            <div class="flex-grow-1">
                                                <MudInputLabel>Casual End Date (mm/dd/yyyy)</MudInputLabel>
                                                <MudDatePicker @bind-Date="CasualEnd" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Editable="true" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                            </div>
                                        }
                                        else if (employee.EmploymentStatusId == 4) {
                                            <div class="flex-grow-1">
                                                 <MudInputLabel>Date Hired (mm/dd/yyyy)</MudInputLabel>
                                            <MudDatePicker @bind-Date="DateHired" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Editable="true" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                            </div>
                                            <div class="flex-grow-1">
                                                <MudInputLabel>Fixed Term Start Date (mm/dd/yyyy)</MudInputLabel>
                                                <MudDatePicker @bind-Date="FixedStart" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Editable="true" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                            </div>
                                            <div class="flex-grow-1">
                                                <MudInputLabel>Fixed Term End Date (mm/dd/yyyy)</MudInputLabel>
                                                <MudDatePicker @bind-Date="FixedEnd" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Editable="true" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                            </div>
                                        }
                                        else if (employee.EmploymentStatusId == 5) {
                                            <div class="flex-grow-1">
                                                <MudInputLabel>Date Hired (mm/dd/yyyy)</MudInputLabel>
                                                <MudDatePicker @bind-Date="DateHired" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Editable="true" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                            </div>
                                            <div class="flex-grow-1">
                                                <MudInputLabel>Project Based Start Date (mm/dd/yyyy)</MudInputLabel>
                                                <MudDatePicker @bind-Date="ProjStart" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Editable="true" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                            </div>
                                            <div class="flex-grow-1">
                                                <MudInputLabel>Project Based End Date (mm/dd/yyyy)</MudInputLabel>
                                                <MudDatePicker @bind-Date="ProjEnd" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Editable="true" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                            </div>
                                        }
                                        else
                                        {
                                         <div class="flex-grow-1">
                                             <MudInputLabel>Date Hired (mm/dd/yyyy)</MudInputLabel>
                                             <MudDatePicker Class="txf" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Disabled DisableUnderLine Editable="true" Date="DateHired" DateChanged="HandleDateHiredChanged" Margin="Margin.Dense" />
                                         </div>
                                         <div class="flex-grow-1">
                                            <MudInputLabel>Regularization Date (mm/dd/yyyy)</MudInputLabel>
                                            <MudDatePicker Class="txf" @bind-Date="RegularDate" Mask="@(new DateMask("MM/dd/yyyy"))" Disabled DateFormat="MM/dd/yyyy" DisableUnderLine Editable="true" Margin="Margin.Dense" />
                                         </div>
                                        }
                                </div>
                             </div>
                            <div class="d-flex flex-column flex-grow-1 mb-3">
                                <div class="d-flex flex-wrap gap-lg-3 gap-sm-2">
                                    @{
                                        var departmentHasSection = employee.DepartmentId != 0 && SectionService.SectionTs.Any(s => s.DepartmentId == employee.DepartmentId);
                                    }
                                    @if (departmentHasSection)
                                    {
                                        <div class="flex-grow-1">
                                            <MudInputLabel>Division</MudInputLabel>
                                            <MudSelect Class="frmselect" DisableUnderLine @bind-Value="employee.DivisionId" Margin="Margin.Dense">
                                                 <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                                             @foreach (var div in DivisionsL)
                                                {
                                                    <MudSelectItem Value="@div.Id">@div.Name</MudSelectItem>
                                                }
                                            </MudSelect>
                                        </div>
                                        <div class="flex-grow-1">
                                            <MudInputLabel>Department</MudInputLabel>
                                            <MudSelect Class="frmselect" DisableUnderLine @bind-Value="employee.DepartmentId" Margin="Margin.Dense">
                                                 <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                                             @foreach (var dep in DepartmentsL.Where(d => d.DivisionId == employee.DivisionId))
                                                {
                                                    <MudSelectItem Value="@dep.Id">@dep.Name</MudSelectItem>
                                                }
                                            </MudSelect>
                                        </div>
                                        @if (departmentHasSection)
                                        {
                                            var sections = employee.DepartmentId != 0 ? SectionService.SectionTs.Where(s => s.DepartmentId == employee.DepartmentId) : Enumerable.Empty<SectionT>();
                                            <div class="flex-grow-1">
                                                <MudInputLabel>Section</MudInputLabel>
                                                <MudSelect Class="frmselect" DisableUnderLine @bind-Value="employee.SectionId" Margin="Margin.Dense">
                                                     <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                                                 @if (sections.Any())
                                                    {
                                                        @foreach (var sect in sections)
                                                        {
                                                            <MudSelectItem Value="@sect.Id">@sect.Name</MudSelectItem>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <MudSelectItem Value="0">&nbsp;</MudSelectItem>
                                                    }
                                                </MudSelect>
                                            </div>
                                            <div class="flex-grow-1">
                                                <MudInputLabel>Position</MudInputLabel>
                                                <MudSelect Class="frmselect" DisableUnderLine @bind-Value="employee.PositionId" Margin="Margin.Dense">
                                                     <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                                                 @foreach (var dep in PositionsL.Where(d => d.DivisionId == employee.DivisionId && d.DepartmentId == employee.DepartmentId && d.SectionId == employee.SectionId))
                                                    {
                                                        <MudSelectItem Value="@dep.Id">@dep.Name</MudSelectItem>
                                                    }
                                                </MudSelect>
                                            </div>
                                        }
                                    }
                                    else {
                                        <div class="flex-grow-1">
                                            <MudInputLabel>Division</MudInputLabel>
                                            <MudSelect @bind-Value="employee.DivisionId" Class="frmselect" DisableUnderLine Margin="Margin.Dense">
                                                 <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                                             @foreach (var div in DivisionsL)
                                                {
                                                    <MudSelectItem Value="@div.Id">@div.Name</MudSelectItem>
                                                }
                                            </MudSelect>
                                        </div>
                                        <div class="flex-grow-1">
                                            <MudInputLabel>Department</MudInputLabel>
                                            <MudSelect @bind-Value="employee.DepartmentId" Class="frmselect" DisableUnderLine Margin="Margin.Dense">
                                                 <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                                             @foreach (var dep in DepartmentsL.Where(d => d.DivisionId == employee.DivisionId))
                                                {
                                                    <MudSelectItem Value="@dep.Id">@dep.Name</MudSelectItem>
                                                }
                                            </MudSelect>
                                        </div>
                                        <div class="flex-grow-1">
                                            <MudInputLabel>Position</MudInputLabel>
                                            <MudSelect @bind-Value="employee.PositionId" Class="frmselect" DisableUnderLine Margin="Margin.Dense">
                                                 <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                                             @foreach (var dep in PositionsL.Where(d => d.DepartmentId == employee.DepartmentId))
                                                {
                                                    <MudSelectItem Value="@dep.Id">@dep.Name</MudSelectItem>
                                                }
                                            </MudSelect>
                                        </div>
                                    }                                
                                    </div>
                            </div>
                            <MudItem xs="12" Class="d-flex justify-content-end mt-5">
                                <MudButton OnClick="() => Activate(1)" Variant="Variant.Filled" Size="Size.Medium" EndIcon="@Icons.Material.Rounded.NavigateNext" Class="btnadd">Next</MudButton>
                            </MudItem>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudTabPanel>

        @* ====================================================================================  PERSONAL  ==================================================================================== *@

        <MudTabPanel Class="@GetTabClass(1)" TabContent="tabHeader(1)">
            <MudGrid>
                <MudItem xs="12" >
                    <span class="spantitle">Personal Details</span>
                     <MudCard Class="mdcard1" Elevation="0">
                        <MudCardContent>
                             <div class="d-flex flex-column flex-grow-1 mb-3">
                                <div class="d-flex flex-wrap gap-lg-3 gap-sm-2 mb-2">
                                    <div class="flex-grow-1">
                                        <MudInputLabel>First Name</MudInputLabel>
                                        <MudTextField Class="txf" DisableUnderLine @bind-Value="employee.FirstName" Margin="Margin.Dense" />
                                    </div>
                                    <div class="flex-grow-1">
                                         <MudInputLabel>Middle Name</MudInputLabel>
                                         <MudTextField Class="txf" DisableUnderLine @bind-Value="employee.MiddleName" Margin="Margin.Dense" />
                                    </div>
                                    <div class="flex-grow-1">
                                         <MudInputLabel>Last Name</MudInputLabel>
                                         <MudTextField Class="txf" DisableUnderLine @bind-Value="employee.LastName" Margin="Margin.Dense" />
                                    </div>
                                     <div class="flex-grow-1 flex-lg-grow-0 ">
                                         <MudInputLabel>Extension</MudInputLabel>
                                         <MudTextField Class="txf" DisableUnderLine @bind-Value="employee.Extension" Margin="Margin.Dense" />
                                    </div>
                                </div>
                                 <div class="d-flex flex-wrap gap-lg-3 gap-sm-2 mb-2">
                                     <div class="wautobox" style="width: 468px;">
                                         <MudInputLabel>Birthdate (mm/dd/yyyy)</MudInputLabel>
                                         <MudDatePicker Class="txf" DisableUnderLine @bind-Date="bday" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Editable="true" Margin="Margin.Dense" />
                                     </div>
                                     <div class="wautobox" style="width: 468px;">
                                         <MudInputLabel>Age</MudInputLabel>
                                         <MudTextField Class="txf" DisableUnderLine Value="@CalculateAge(bday)" Disabled Margin="Margin.Dense" />
                                     </div>
                                     <div class="wautobox" style="width: 468px;">
                                         <MudInputLabel>Gender</MudInputLabel>
                                         <MudSelect Class="frmselect" DisableUnderLine @bind-Value="employee.GenderId" Margin="Margin.Dense">
                                             <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                                            @foreach (var gender in GendersL)
                                            {
                                                <MudSelectItem Value="@gender.Id">@gender.Name</MudSelectItem>
                                            }
                                        </MudSelect>
                                     </div>
                                 </div>
                                  <div class="d-flex flex-wrap gap-lg-3 gap-sm-2 mb-2">
                                    <div class="wautobox" style="width: 468px;">
                                        <MudInputLabel>Civil Status</MudInputLabel>
                                        <MudSelect Class="frmselect" @bind-Value="employee.CivilStatusId" DisableUnderLine Margin="Margin.Dense">
                                            <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                                            @foreach (var cs in CivilStatusL)
                                            {
                                                <MudSelectItem Value="@cs.Id">@cs.Name</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </div>
                                     <div class="wautobox" style="width: 468px;">
                                        <MudInputLabel>Nationality</MudInputLabel>
                                        <MudTextField @bind-Value="employee.Nationality" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                    </div>
                                     <div class="wautobox" style="width: 468px;">
                                         <MudInputLabel>Religion</MudInputLabel>
                                         <MudSelect @bind-Value="employee.ReligionId" Class="frmselect" DisableUnderLine Margin="Margin.Dense">
                                            <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                                            @foreach (var rel in ReligionsL)
                                            {
                                                <MudSelectItem Value="@rel.Id">@rel.Name</MudSelectItem>
                                            }
                                        </MudSelect>
                                     </div>
                                </div>
                                 <div class="d-flex flex-wrap gap-lg-3 gap-sm-2 mb-2">
                                      <div class="wautobox" style="width: 468px;">
                                        <MudInputLabel>Mobile #</MudInputLabel>
                                        <MudTextField @bind-Value="employee.MobileNumber" Class="txf" DisableUnderLine Margin="Margin.Dense" Adornment="Adornment.Start" AdornmentText="+63" MaxLength="10" For="@(() => employee.MobileNumber)" />
                                     </div>
                                     <div class="wautobox" style="width: 468px;">
                                         <MudInputLabel>Weight(kg)</MudInputLabel>
                                        <MudTextField @bind-Value="employee.Weight" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                     </div>
                                     <div class="wautobox" style="width: 468px;">
                                         <MudInputLabel>Height(cm)</MudInputLabel>
                                         <MudTextField @bind-Value="employee.Height" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                     </div>
                                 </div>
                             </div>
                        </MudCardContent>
                     </MudCard>
                </MudItem>
                 <MudItem xs="12">
                     <div class="d-flex flex-grow-1 justify-content-center">
                         <MudDivider DividerType="DividerType.Middle" Class="my-2 w-25 justify-content-center" Style="border: 2px solid #78909C; border-radius: 5px;" />
                     </div>
                </MudItem>
                <MudItem xs="12">
                    <span class="spantitle">Address</span>
                     <MudCard Class="mdcard1" Elevation="0">
                        <MudCardContent>
                            <span class="spantitle">Present Address</span>
                            <div class="d-flex flex-column flex-grow-1 mb-3">
                                <div class="d-flex flex-wrap gap-lg-3 gap-sm-2 mb-2">
                                    <div class="flex-grow-1">
                                         <MudInputLabel>(Unit/House/Building/Street Number, Street Name, Barangay Name)</MudInputLabel>
                                         <MudTextField @bind-Value="address.CurrentAdd" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                    </div>
                                </div>
                                 <div class="d-flex flex-wrap gap-lg-3 gap-sm-2 mb-2">
                                     <div class="flex-grow-1">
                                          <MudInputLabel>City</MudInputLabel>
                                          <MudTextField @bind-Value="address.CurrentCity" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                     </div>
                                      <div class="flex-grow-1">
                                          <MudInputLabel>Province</MudInputLabel>
                                           <MudTextField @bind-Value="address.CurrentProvince" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                     </div>
                                      <div class="flex-grow-1">
                                         <MudInputLabel>ZipCode</MudInputLabel>
                                           <MudTextField @bind-Value="address.CurrentZipCode" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                     </div>
                                     <div class="flex-grow-1">
                                         <MudInputLabel>Country</MudInputLabel>
                                         <MudTextField @bind-Value="address.CurrentCountry" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                     </div>
                                 </div>
                                 <span class="spantitle">Permanent Address</span>
                                 <div class="d-flex flex-wrap gap-lg-3 gap-sm-2 mb-2">
                                     <div class="flex-grow-1">
                                         <MudInputLabel>(Unit/House/Building/Street Number, Street Name, Barangay Name)</MudInputLabel>
                                         <MudTextField @bind-Value="address.PermanentAdd" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                     </div>
                                 </div>
                                 <div class="d-flex flex-wrap gap-lg-3 gap-sm-2 mb-2">
                                     <div class="flex-grow-1">
                                         <MudInputLabel>City</MudInputLabel>
                                         <MudTextField @bind-Value="address.PermanentCity" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                     </div>
                                     <div class="flex-grow-1">
                                         <MudInputLabel>Province</MudInputLabel>
                                         <MudTextField @bind-Value="address.PermanentProvince" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                     </div>
                                     <div class="flex-grow-1">
                                        <MudInputLabel>ZipCode</MudInputLabel>
                                           <MudTextField @bind-Value="address.PermanentZipCode" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                     </div>
                                     <div class="flex-grow-1">
                                         <MudInputLabel>Country</MudInputLabel>
                                         <MudTextField @bind-Value="address.PermanentCountry" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                     </div>
                                 </div>
                            </div>
                            
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                 <MudItem xs="12">
                     <div class="d-flex flex-grow-1 justify-content-center">
                         <MudDivider DividerType="DividerType.Middle" Class="my-2 w-25 justify-content-center" Style="border: 2px solid #78909C; border-radius: 5px;" />
                     </div>
                 </MudItem>
                <MudItem xs="12">
                    <span class="spantitle">Person to Notify in Case of Emergency</span>
                     <MudCard Class="mdcard1" Elevation="0">
                        <MudCardContent>
                            <div class="d-flex flex-column flex-grow-1 mb-3">
                                <div class="d-flex flex-wrap gap-lg-3 gap-sm-2 mb-2">
                                    <div class="flex-grow-1">
                                         <MudInputLabel>Name</MudInputLabel>
                                         <MudTextField @bind-Value="employee.EmerName" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                    </div>
                                     <div class="flex-grow-1">
                                         <MudInputLabel>Relationship</MudInputLabel>
                                         <MudSelect @bind-Value="employee.EmerRelationshipId" Class="frmselect" DisableUnderLine Margin="Margin.Dense">
                                             <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                                            @foreach (var rel in EmerRelationshipsL)
                                            {
                                                <MudSelectItem Value="@rel.Id">@rel.Name</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </div>
                                     <div class="flex-grow-1">
                                        <MudInputLabel>Address</MudInputLabel>
                                        <MudTextField @bind-Value="employee.EmerAddress" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                    </div>
                                     <div class="flex-grow-1">
                                        <MudInputLabel>Mobile #</MudInputLabel>
                                        <MudTextField @bind-Value="employee.EmerMobNum" Class="txf" DisableUnderLine Margin="Margin.Dense" Adornment="Adornment.Start" AdornmentText="+63" MaxLength="10" For="@(() => employee.EmerMobNum)" />
                                     </div>
                                </div>
                            </div>

                             <MudItem xs="12" Class="d-flex justify-content-between mt-5">
                                 <MudButton OnClick="() => Activate(0)" Variant="Variant.Filled" Size="Size.Medium" EndIcon="@Icons.Material.Rounded.NavigateNext" Class="btnadd">Next</MudButton>
                                 <MudButton OnClick="() => Activate(2)" Variant="Variant.Filled" Size="Size.Medium" EndIcon="@Icons.Material.Rounded.NavigateNext" Class="btnadd">Next</MudButton>
                             </MudItem>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudTabPanel>


        @* ====================================================================================  EDUCATION  ==================================================================================== *@

        <MudTabPanel Class="@GetTabClass(2)" TabContent="tabHeader(2)">
            <MudGrid>
                <MudItem xs="12">
                     <MudCard Class="mdcard1" Elevation="0">
                        <MudCardContent>
                            <div class="d-flex flex-column flex-grow-1">
                                <div class="d-flex flex-grow-1 justify-content-between align-items-center mb-2">
                                    <span class="spantitle">Primary</span>
                                    <div>
                                        <MudTooltip  Text="Click to remove Primary">
                                            <MudIconButton Class="p-0 addminbtn" OnClick="RemovePrimary" Icon="@Icons.Material.Rounded.RemoveCircle" />
                                        </MudTooltip>
                                        <MudTooltip Text="Click to add more Primary">
                                            <MudIconButton Class="p-0 addminbtn" OnClick="() => AddNewPrimary(employee.Verify_Id)" Icon="@Icons.Material.Rounded.AddCircle" />
                                        </MudTooltip>
                                    </div>                                
                                </div>
                                @if (listOfPrimary.Any())
                                {
                                    @foreach (var pri in listOfPrimary)
                                    {
                                        <div class="mb-3 divSchool">
                                            <div class="d-flex flex-wrap gap-2 mb-1">
                                                <div class="flex-grow-1">
                                                    <MudInputLabel>Name of School</MudInputLabel>
                                                    <MudTextField @bind-Value="pri.PriSchoolName" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                </div>
                                                <div class="flex-grow-1">
                                                    <MudInputLabel>School Location</MudInputLabel>
                                                    <MudTextField @bind-Value="pri.PriSchoolLoc" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                </div>
                                            </div>
                                            <div class="d-flex flex-wrap gap-2">
                                                <div class="flex-grow-1">
                                                    <MudInputLabel>Award</MudInputLabel>
                                                    <MudTextField @bind-Value="pri.PriAward" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                </div>
                                                 <div class="flex-grow-1">
                                                      <MudInputLabel>School Year</MudInputLabel>
                                                    <MudTextField @bind-Value="pri.PriSchoolYear" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                 </div>
                                            </div>
                                        </div>
                                        
                                    }
                                }
                                else
                                {
                                    @foreach (var pri in listOfPrimary)
                                    {
                                        <MudContainer MaxWidth="MaxWidth.ExtraLarge">
                                            <MudCard>
                                                <MudCardContent>
                                                    <p>No Primary information available.</p>
                                                </MudCardContent>
                                            </MudCard>
                                        </MudContainer>
                                    }
                                }
                            </div>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12">
                    <MudCard Class="mdcard1" Elevation="0">
                        <MudCardContent>       
                            <div class="d-flex flex-column flex-grow-1">
                                <div class="d-flex flex-grow-1 justify-content-between align-items-center mb-2">
                                    <span class="spantitle">Secondary</span>
                                    <div>
                                        <MudTooltip Text="Click to remove Secondary">
                                            <MudIconButton Class="p-0 addminbtn" OnClick="RemoveSecondary" Icon="@Icons.Material.Rounded.RemoveCircle" />
                                        </MudTooltip>
                                        <MudTooltip Text="Click to add more Secondary">
                                            <MudIconButton Class="p-0 addminbtn" OnClick="() => AddNewSecondary(employee.Verify_Id)" Icon="@Icons.Material.Rounded.AddCircle" />
                                        </MudTooltip>
                                    </div>
                                </div>
                               
                                @if (listOfSecondary.Any())
                                {
                                    @foreach (var sec in listOfSecondary)
                                    {
                                        <div class="mb-3 divSchool">
                                            <div class="d-flex flex-wrap gap-2 mb-1">
                                                <div class="flex-grow-1">
                                                    <MudInputLabel>Name of School</MudInputLabel>
                                                    <MudTextField @bind-Value="sec.SecSchoolName" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                 </div>
                                                 <div class="flex-grow-1">
                                                     <MudInputLabel>School Location</MudInputLabel>
                                                     <MudTextField @bind-Value="sec.SecSchoolLoc" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                 </div>
                                             </div>
                                             <div class="d-flex flex-wrap gap-2">
                                                 <div class="flex-grow-1">
                                                     <MudInputLabel>Award</MudInputLabel>
                                                     <MudTextField @bind-Value="sec.SecAward" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                 </div>
                                                 <div class="flex-grow-1">
                                                     <MudInputLabel>School Year</MudInputLabel>
                                                     <MudTextField @bind-Value="sec.SecSchoolYear" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                 </div>
                                             </div>
                                         </div>
                                    }
                                }
                                else
                                {
                                    <MudContainer MaxWidth="MaxWidth.ExtraLarge">
                                         <MudCard>
                                             <MudCardContent>
                                                  <p>No Secondary information available.</p>
                                             </MudCardContent>
                                         </MudCard>
                                    </MudContainer>
                                   
                                }
                            </div>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" Style="padding-bottom: 0px;">
                    <div class="d-flex flex-grow-1 align-items-center">
                        <MudCheckBox @bind-Checked="IsListaddshs" Color="Color.Primary"></MudCheckBox><span class="spantitle">Senior High School</span>
                    </div>
                </MudItem>
                @if (IsListaddshs)
                {
                    <MudItem xs="12" Style="padding-top: 0px;">
                        <MudCard Class="mdcard1" Elevation="0" Style="padding-top: 0px;">
                            <MudCardContent Style="padding-top: 0px;">
                                <div class="d-flex flex-column flex-grow-1">
                                    <div class="d-flex flex-grow-1 justify-content-end align-items-center mb-2">
                                        <div>
                                            <MudTooltip Text="Click to remove SHS">
                                                <MudIconButton Class="p-0 addminbtn" OnClick="RemoveShs" Icon="@Icons.Material.Rounded.RemoveCircle" />
                                            </MudTooltip>
                                            <MudTooltip Text="Click to add more SHS">
                                                <MudIconButton Class="p-0 addminbtn" OnClick="() => AddNewShs(employee.Verify_Id)" Icon="@Icons.Material.Rounded.AddCircle" />
                                            </MudTooltip>
                                        </div>
                                    </div>

                                    @if (listOfShs.Any())
                                    {
                                        @foreach (var shs in listOfShs)
                                        {
                                            <div class="mb-3 divSchool">
                                                <div class="d-flex flex-wrap gap-2 mb-1">
                                                    <div class="flex-grow-1">
                                                        <MudInputLabel>Name of School</MudInputLabel>
                                                        <MudTextField @bind-Value="shs.ShsSchoolName" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                     <div class="flex-grow-1">
                                                         <MudInputLabel>School Location</MudInputLabel>
                                                         <MudTextField @bind-Value="shs.ShsSchoolLoc" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                 </div>
                                                 <div class="d-flex flex-wrap gap-2">
                                                     <div class="flex-grow-1">
                                                         <MudInputLabel>Award</MudInputLabel>
                                                         <MudTextField @bind-Value="shs.ShsAward" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                     <div class="flex-grow-1">
                                                         <MudInputLabel>School Year</MudInputLabel>
                                                         <MudTextField @bind-Value="shs.ShsSchoolYear" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                 </div>
                                             </div>
                                        }
                                    }
                                    else
                                    {
                                        <MudContainer MaxWidth="MaxWidth.ExtraLarge">
                                            <MudCard>
                                                <MudCardContent>
                                                    <p>No SHS information available.</p>
                                                </MudCardContent>
                                            </MudCard>
                                        </MudContainer>
                                    }
                                </div>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                }
                <MudItem xs="12" Style="padding-bottom: 0px;">
                    <div class="d-flex flex-grow-1 align-items-center">
                        <MudCheckBox @bind-Checked="IsListaddcoll" Color="Color.Primary"></MudCheckBox><span class="spantitle">College</span>
                    </div>
                </MudItem>
                @if (IsListaddcoll)
                {
                    <MudItem xs="12" Style="padding-top: 0px;">
                        <MudCard Class="mdcard1" Elevation="0" Style="padding-top: 0px;">
                            <MudCardContent Style="padding-top: 0px;">
                                <div class="d-flex flex-column flex-grow-1">
                                    <div class="d-flex flex-grow-1 justify-content-end align-items-center mb-2">
                                        <div>
                                            <MudTooltip Text="Click to remove College">
                                                <MudIconButton Class="p-0 addminbtn" OnClick="RemoveCollege" Icon="@Icons.Material.Rounded.RemoveCircle" />
                                            </MudTooltip>
                                            <MudTooltip Text="Click to add more College">
                                                <MudIconButton Class="p-0 addminbtn" OnClick="() => AddNewCollege(employee.Verify_Id)" Icon="@Icons.Material.Rounded.AddCircle" />
                                            </MudTooltip>
                                        </div>
                                    </div>

                                    @if (listOfCollege.Any())
                                    {
                                        @foreach (var col in listOfCollege)
                                        {
                                            <div class="mb-3 divSchool">
                                                <div class="d-flex flex-wrap gap-2 mb-1">
                                                    <div class="flex-grow-1">
                                                        <MudInputLabel>Name of School</MudInputLabel>
                                                        <MudTextField @bind-Value="col.CollSchoolName" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                     <div class="flex-grow-1">
                                                         <MudInputLabel>School Location</MudInputLabel>
                                                         <MudTextField @bind-Value="col.CollSchoolLoc" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                 </div>
                                                 <div class="d-flex flex-wrap gap-2">
                                                     <div class="flex-grow-1">
                                                         <MudInputLabel>Award</MudInputLabel>
                                                         <MudTextField @bind-Value="col.CollAward" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                     <div class="flex-grow-1">
                                                         <MudInputLabel>Course</MudInputLabel>
                                                         <MudTextField @bind-Value="col.CollCourse" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                     <div class="flex-grow-1">
                                                         <MudInputLabel>School Year</MudInputLabel>
                                                         <MudTextField @bind-Value="col.CollSchoolYear" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                 </div>
                                             </div>
                                        }
                                    }
                                    else
                                    {
                                        <MudContainer MaxWidth="MaxWidth.ExtraLarge">
                                            <MudCard>
                                                <MudCardContent>
                                                    <p>No College information available.</p>
                                                </MudCardContent>
                                            </MudCard>
                                        </MudContainer>
                                    }
                                </div>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                }
                <MudItem xs="12" Style="padding-bottom: 0px;">
                    <div class="d-flex flex-grow-1 align-items-center">
                        <MudCheckBox @bind-Checked="IsListaddmas" Color="Color.Primary"></MudCheckBox><span class="spantitle">Masteral</span>
                    </div>
                </MudItem>
                @if (IsListaddmas)
                {
                    <MudItem xs="12" Style="padding-top: 0px;">
                        <MudCard Class="mdcard1" Elevation="0" Style="padding-top: 0px;">
                            <MudCardContent Style="padding-top: 0px;">
                                <div class="d-flex flex-column flex-grow-1">
                                    <div class="d-flex flex-grow-1 justify-content-end align-items-center mb-2">
                                        <div>
                                            <MudTooltip Text="Click to remove Masteral">
                                                <MudIconButton Class="p-0 addminbtn" OnClick="RemoveMasteral" Icon="@Icons.Material.Rounded.RemoveCircle" />
                                            </MudTooltip>
                                            <MudTooltip Text="Click to add more Masteral">
                                                <MudIconButton Class="p-0 addminbtn" OnClick="() => AddNewMasteral(employee.Verify_Id)" Icon="@Icons.Material.Rounded.AddCircle" />
                                            </MudTooltip>
                                        </div>
                                    </div>

                                    @if (listOfMasteral.Any())
                                    {
                                        @foreach (var mas in listOfMasteral)
                                        {
                                            <div class="mb-3 divSchool">
                                                <div class="d-flex flex-wrap gap-2 mb-1">
                                                    <div class="flex-grow-1">
                                                        <MudInputLabel>Name of School</MudInputLabel>
                                                        <MudTextField @bind-Value="mas.MasSchoolName" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                     <div class="flex-grow-1">
                                                         <MudInputLabel>School Location</MudInputLabel>
                                                         <MudTextField @bind-Value="mas.MasSchoolLoc" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                 </div>
                                                 <div class="d-flex flex-wrap gap-2">
                                                     <div class="flex-grow-1">
                                                         <MudInputLabel>Award</MudInputLabel>
                                                         <MudTextField @bind-Value="mas.MasAward" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                      <div class="flex-grow-1">
                                                         <MudInputLabel>Course</MudInputLabel>
                                                         <MudTextField @bind-Value="mas.MasCourse" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                     <div class="flex-grow-1">
                                                         <MudInputLabel>School Year</MudInputLabel>
                                                         <MudTextField @bind-Value="mas.MasSchoolYear" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                 </div>
                                             </div>
                                        }
                                    }
                                    else
                                    {
                                        <MudContainer MaxWidth="MaxWidth.ExtraLarge">
                                            <MudCard>
                                                <MudCardContent>
                                                    <p>No Masteral information available.</p>
                                                </MudCardContent>
                                            </MudCard>
                                        </MudContainer>
                                    }
                                </div>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                }
                <MudItem xs="12" Style="padding-bottom: 0px;">
                    <div class="d-flex flex-grow-1 align-items-center">
                        <MudCheckBox @bind-Checked="IsListadddoc" Color="Color.Primary"></MudCheckBox><span class="spantitle">Doctorate</span>
                    </div>
                </MudItem>
                @if (IsListadddoc)
                {
                    <MudItem xs="12" Style="padding-top: 0px;">
                        <MudCard Class="mdcard1" Elevation="0" Style="padding-top: 0px;">
                            <MudCardContent Style="padding-top: 0px;">
                                <div class="d-flex flex-column flex-grow-1">
                                    <div class="d-flex flex-grow-1 justify-content-end align-items-center mb-2">
                                        <div>
                                            <MudTooltip Text="Click to remove Doctorate">
                                                <MudIconButton Class="p-0 addminbtn" OnClick="RemoveDoctorate" Icon="@Icons.Material.Rounded.RemoveCircle" />
                                            </MudTooltip>
                                            <MudTooltip Text="Click to add more Doctorate">
                                                <MudIconButton Class="p-0 addminbtn" OnClick="() => AddNewDoctorate(employee.Verify_Id)" Icon="@Icons.Material.Rounded.AddCircle" />
                                            </MudTooltip>
                                        </div>
                                    </div>

                                    @if (listOfDoctorate.Any())
                                    {
                                        @foreach (var doc in listOfDoctorate)
                                        {
                                            <div class="mb-3 divSchool">
                                                <div class="d-flex flex-wrap gap-2 mb-1">
                                                    <div class="flex-grow-1">
                                                        <MudInputLabel>Name of School</MudInputLabel>
                                                        <MudTextField @bind-Value="doc.DocSchoolName" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                     <div class="flex-grow-1">
                                                         <MudInputLabel>School Location</MudInputLabel>
                                                         <MudTextField @bind-Value="doc.DocSchoolLoc" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                 </div>
                                                 <div class="d-flex flex-wrap gap-2">
                                                     <div class="flex-grow-1">
                                                         <MudInputLabel>Award</MudInputLabel>
                                                         <MudTextField @bind-Value="doc.DocAward" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                     <div class="flex-grow-1">
                                                         <MudInputLabel>Course</MudInputLabel>
                                                         <MudTextField @bind-Value="doc.DocCourse" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                     <div class="flex-grow-1">
                                                         <MudInputLabel>School Year</MudInputLabel>
                                                         <MudTextField @bind-Value="doc.DocSchoolYear" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                 </div>
                                             </div>
                                        }
                                    }
                                    else
                                    {
                                        <MudContainer MaxWidth="MaxWidth.ExtraLarge">
                                            <MudCard>
                                                <MudCardContent>
                                                    <p>No Doctorate information available.</p>
                                                </MudCardContent>
                                            </MudCard>
                                        </MudContainer>
                                    }
                                </div>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                }
                <MudItem xs="12" Style="padding-bottom: 0px;">
                    <div class="d-flex flex-grow-1 align-items-center">
                        <MudCheckBox @bind-Checked="IsListaddothers" Color="Color.Primary"></MudCheckBox><span class="spantitle">Other</span>
                    </div>
                </MudItem>
                @if (IsListaddothers)
                {
                    <MudItem xs="12" Style="padding-top: 0px;">
                        <MudCard Class="mdcard1" Elevation="0" Style="padding-top: 0px;">
                            <MudCardContent Style="padding-top: 0px;">
                                <div class="d-flex flex-column flex-grow-1">
                                    <div class="d-flex flex-grow-1 justify-content-end align-items-center mb-2">
                                        <div>
                                            <MudTooltip Text="Click to remove Other">
                                                <MudIconButton Class="p-0 addminbtn" OnClick="RemoveOthers" Icon="@Icons.Material.Rounded.RemoveCircle" />
                                            </MudTooltip>
                                            <MudTooltip Text="Click to add more Other">
                                                <MudIconButton Class="p-0 addminbtn" OnClick="() => AddNewOthers(employee.Verify_Id)" Icon="@Icons.Material.Rounded.AddCircle" />
                                            </MudTooltip>
                                        </div>
                                    </div>

                                    @if (listOfOthers.Any())
                                    {
                                        @foreach (var other in listOfOthers)
                                        {
                                            <div class="mb-3 divSchool">
                                                <div class="d-flex flex-wrap gap-2 mb-1">
                                                    <div class="flex-grow-1">
                                                        <MudInputLabel>School Type</MudInputLabel>
                                                        <MudTextField @bind-Value="other.OthersSchoolType" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                    <div class="flex-grow-1">
                                                        <MudInputLabel>Name of School</MudInputLabel>
                                                        <MudTextField @bind-Value="other.OthersSchoolName" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                     <div class="flex-grow-1">
                                                         <MudInputLabel>School Location</MudInputLabel>
                                                         <MudTextField @bind-Value="other.OthersSchoolLoc" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                 </div>
                                                 <div class="d-flex flex-wrap gap-2">
                                                     <div class="flex-grow-1">
                                                         <MudInputLabel>Award</MudInputLabel>
                                                         <MudTextField @bind-Value="other.OthersAward" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                     <div class="flex-grow-1">
                                                         <MudInputLabel>Course</MudInputLabel>
                                                         <MudTextField @bind-Value="other.OthersCourse" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                     <div class="flex-grow-1">
                                                         <MudInputLabel>School Year</MudInputLabel>
                                                         <MudTextField @bind-Value="other.OthersSchoolYear" Class="txf" DisableUnderLine Margin="Margin.Dense" />
                                                     </div>
                                                 </div>
                                             </div>
                                        }
                                    }
                                    else
                                    {
                                        <MudContainer MaxWidth="MaxWidth.ExtraLarge">
                                            <MudCard>
                                                <MudCardContent>
                                                    <p>No Other information available.</p>
                                                </MudCardContent>
                                            </MudCard>
                                        </MudContainer>
                                    }
                                </div>
                                <MudItem xs="12" Class="d-flex justify-content-between mt-5">
                                 <MudButton OnClick="() => Activate(1)" Variant="Variant.Filled" Size="Size.Medium" EndIcon="@Icons.Material.Rounded.NavigateNext" Class="btnadd">Next</MudButton>
                                 <MudButton OnClick="() => Activate(3)" Variant="Variant.Filled" Size="Size.Medium" EndIcon="@Icons.Material.Rounded.NavigateNext" Class="btnadd">Next</MudButton>
                             </MudItem>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                }
            </MudGrid>
        </MudTabPanel>

        @* ====================================================================================  LICENCE  ==================================================================================== *@

        <MudTabPanel Class="@GetTabClass(3)" TabContent="tabHeader(3)">
            <MudText>Content Three</MudText>
        </MudTabPanel>

        @* ====================================================================================  PAYROLL  ==================================================================================== *@

        <MudTabPanel Class="@GetTabClass(4)" TabContent="tabHeader(4)">
            <MudText>Content Three</MudText>
        </MudTabPanel>
    </MudTabs>
</div>

@code {
    //TAB PANEL
    MudTabs tabs;
    void Activate(int index)
    {
        tabs.ActivatePanel(index);
    }
    int activeIndex;
    string GetTabClass(int tabId)
    {
        if (activeIndex > tabId)
        {
            return "mud-tabs-afterindex";
        }
        else
        {
            return "mud-tabs-defaultindex";
        }
    }
    string GetTabChipClass(int tabId)
    {
        if (activeIndex > tabId)
        {
            return "mud-chip-after";
        }
        else if (activeIndex == tabId) {
            return "mud-chip-active";
        }
        else {
            return "mud-chip-default";
        }
    }
    
     string GetTabTextClass(int tabId)
    {
        if (activeIndex > tabId)
        {
            return "mud-text-after";
        }
        else if (activeIndex == tabId)
        {
            return "mud-text-active";
        }
        else {
            return "mud-text-default";
        }
    }

    RenderFragment tabHeader(int tabId)
    {
        return builder =>
        {
            if (tabId == 0) {
                builder.OpenComponent<MudChip>(0);
                builder.AddAttribute(1, "Class", @GetTabChipClass(0)); // Add your custom class for styling
                builder.AddAttribute(3, "Text", $"{tabId + 1}");
                builder.CloseComponent();
                builder.OpenElement(4, "span");
                builder.AddAttribute(5, "class", @GetTabTextClass(0)); // Add your custom class for styling
                builder.AddContent(6, "Job");
                builder.CloseComponent();
            }
            else if (tabId == 1) {
                builder.OpenComponent<MudChip>(0);
                builder.AddAttribute(1, "Class", @GetTabChipClass(1)); // Add your custom class for styling
                builder.AddAttribute(3, "Text", $"{tabId + 1}");
                builder.CloseComponent();
                builder.OpenElement(4, "span");
                builder.AddAttribute(5, "class", @GetTabTextClass(1)); // Add your custom class for styling
                builder.AddContent(6, "Personal");
                builder.CloseComponent();
            }
            else if (tabId == 2) {
                builder.OpenComponent<MudChip>(0);
                builder.AddAttribute(1, "Class", @GetTabChipClass(2)); // Add your custom class for styling
                builder.AddAttribute(3, "Text", $"{tabId + 1}");
                builder.CloseComponent();
                builder.OpenElement(4, "span");
                builder.AddAttribute(5, "class", @GetTabTextClass(2)); // Add your custom class for styling
                builder.AddContent(6, "Education");
                builder.CloseComponent();
            }
            else if (tabId == 3) {
                builder.OpenComponent<MudChip>(0);
                builder.AddAttribute(1, "Class", @GetTabChipClass(3)); // Add your custom class for styling
                builder.AddAttribute(3, "Text", $"{tabId + 1}");
                builder.CloseComponent();
                builder.OpenElement(4, "span");
                builder.AddAttribute(5, "class", @GetTabTextClass(3)); // Add your custom class for styling
                builder.AddContent(6, "Licences & Training");
                builder.CloseComponent();
            }
            else if (tabId == 4)
            {
                builder.OpenComponent<MudChip>(0);
                builder.AddAttribute(1, "Class", @GetTabChipClass(4)); // Add your custom class for styling
                builder.AddAttribute(3, "Text", $"{tabId + 1}");
                builder.CloseComponent();
                builder.OpenElement(4, "span");
                builder.AddAttribute(5, "class", @GetTabTextClass(4)); // Add your custom class for styling
                builder.AddContent(6, "Payroll");
                builder.CloseComponent();
            }

        };
    }


    #nullable disable
    [Parameter]
    public int? id { get; set; }   

    EmployeeT employee = new();
    AddressT address = new();

    bool success;

    //FK
    private List<AreaT> AreasL = new List<AreaT>();
    private List<StatusT> StatusL = new List<StatusT>();
    private List<EmploymentStatusT> EmploymentStatusL = new List<EmploymentStatusT>();

    private List<DivisionT> DivisionsL = new List<DivisionT>();
    private List<DepartmentT> DepartmentsL = new List<DepartmentT>();
    private List<SectionT> SectionsL = new List<SectionT>();
    private List<PositionT> PositionsL = new List<PositionT>();

    private List<GenderT> GendersL = new List<GenderT>();
    private List<CivilStatusT> CivilStatusL = new List<CivilStatusT>();
    private List<ReligionT> ReligionsL = new List<ReligionT>();
    private List<EmerRelationshipT> EmerRelationshipsL = new List<EmerRelationshipT>();

    //EDUCATION
    List<CollegeT> listOfCollege = new();
    List<OtherEducT> listOfOthers = new();
    List<SecondaryT> listOfSecondary = new();
    List<DoctorateT> listOfDoctorate = new();
    List<PrimaryT> listOfPrimary = new();
    List<MasteralT> listOfMasteral = new();
    List<SeniorHST> listOfShs = new();

    private bool IsListaddshs;
    private bool IsListaddcoll;
    private bool IsListaddmas;
    private bool IsListaddothers;
    private bool IsListadddoc;

    string VerifyCode;

    private DateTime? bday { get; set; }
    private DateTime? Date = DateTime.Today;
    private DateTime? ResignationDate = DateTime.Today;
    private DateTime? ProbStart = DateTime.Today;
    private DateTime? ProbEnd = DateTime.Today;
    private DateTime? CasualStart = DateTime.Today;
    private DateTime? CasualEnd = DateTime.Today;
    private DateTime? FixedStart = DateTime.Today;
    private DateTime? FixedEnd = DateTime.Today;
    private DateTime? ProjStart = DateTime.Today;
    private DateTime? ProjEnd = DateTime.Today;
    private DateTime? DateHired = DateTime.Today;
    private DateTime? RegularDate = DateTime.Today;

    //attachment
    private string PDFBase64 { get; set; }
    private string PDFUrl { get; set; }
    private string PDFFileName { get; set; }
    private string PDFContentType { get; set; }
    private byte[] pdfData { get; set; }
    private bool pdfbool12 { get; set; }
    private bool PDFbool12 { get; set; }
    IList<IBrowserFile> pdffile = new List<IBrowserFile>();
    private List<MultipartFormDataContent> DocuEmployees = new List<MultipartFormDataContent>();

    //image
    private string imgBase64 { get; set; }
    private string ImageUrl { get; set; }
    private string ImgFileName { get; set; }
    private string ImgContentType { get; set; }
    private string verifyId { get; set; }

    MultipartFormDataContent EmpImage = new MultipartFormDataContent();
    IList<IBrowserFile> Imagesfile = new List<IBrowserFile>();

    protected override async Task OnInitializedAsync()
    {
        await AreaService.GetAreaList();
        AreasL = AreaService.AreaTs;

        await EmployeeService.GetStatusList();
        StatusL = EmployeeService.StatusTs;

        await EmployeeService.GetEmploymentStatusList();
        EmploymentStatusL = EmployeeService.EmploymentStatusTs;

        await DivisionService.GetDivision();
        DivisionsL = DivisionService.DivisionTs;

        await DepartmentService.GetDepartment();
        DepartmentsL = DepartmentService.DepartmentTs;

        await SectionService.GetSection();
        SectionsL = SectionService.SectionTs;

        await PositionService.GetPosition();
        PositionsL = PositionService.PositionTs;

        await EmployeeService.GetGenderList();
        GendersL = EmployeeService.GenderTs;

        await EmployeeService.GetCivilStatusList();
        CivilStatusL = EmployeeService.CivilStatusTs;

        await EmployeeService.GetReligionList();
        ReligionsL = EmployeeService.ReligionTs;

        await EmployeeService.GetEmerRelationshipList();
        EmerRelationshipsL = EmployeeService.EmerRelationshipTs;

        imgBase64 = "./images/addIconImage.png";

        AddNewPrimary(employee.Verify_Id);
        AddNewSecondary(employee.Verify_Id);
        AddNewShs(employee.Verify_Id);
        AddNewCollege(employee.Verify_Id);
        AddNewMasteral(employee.Verify_Id);
        AddNewDoctorate(employee.Verify_Id);
        AddNewOthers(employee.Verify_Id);
    }

    private void HandleDateHiredChanged(DateTime? newDate)
    {
        DateHired = newDate;
        Console.WriteLine(DateHired.ToString());
        if (DateHired.HasValue)
        {
            // Calculate the regularization date, which is 6 months after the DateHired.

            switch (employee.EmploymentStatusId)
            {
                case 1:
                    RegularDate = DateHired.Value.AddMonths(6);
                    break;

                case 2:
                    ProbStart = newDate;
                    ProbEnd = ProbStart.Value.AddMonths(3);
                    Console.WriteLine(ProbStart.ToString());
                    break;
            }
        }
        else
        {
            // If DateHired is not set, clear RegularDate.
            RegularDate = null;
        }
    }

    private string CalculateAge(DateTime? selectedDate)
    {
        if (selectedDate.HasValue)
        {
            DateTime currentDate = DateTime.Today;
            int age = currentDate.Year - selectedDate.Value.Year;

            if (selectedDate.Value > currentDate.AddYears(-age))
                age--;

            return age.ToString();
        }

        return string.Empty;
    }
    async Task uploadImage(InputFileChangeEventArgs e)
    {
        long lngImage = long.MaxValue;
        var brwModel = e.File;
        var imgFilename = e.File.Name;
        var imgContent = e.File.ContentType;
        var imgBuffer = new byte[e.File.Size];
        var imgURL = $"data:{imgContent};base64,{Convert.ToBase64String(imgBuffer)}";

        using (var _stream = brwModel.OpenReadStream(lngImage))
        {
            await _stream.ReadAsync(imgBuffer);
        }

        if (e.File.Name is null)
        {
            await Swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Error",
                    Text = "No image uploaded!",
                    Icon = SweetAlertIcon.Error
                });
            return;
        }
        else
        {
            using var content = new MultipartFormDataContent();
            var fileContent = new StreamContent(brwModel.OpenReadStream(lngImage));
            fileContent.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue(imgContent);

            ImageUrl = imgURL;
            ImgContentType = imgContent;
            ImgFileName = imgFilename;
            EmpImage.Add(content: fileContent, name: imgFilename, fileName: imgFilename);

            var base642 = Convert.ToBase64String(imgBuffer);
            imgBase64 = string.Format("data:image/*;base64,{0}", base642);
        }
    }

    async Task CreateEmployee()
    {
        try
        {
            if (bday.HasValue)
            {
                DateTime currentDate = DateTime.Today;
                int age = currentDate.Year - bday.Value.Year;

                if (bday.Value > currentDate.AddYears(-age))
                    age--;

                employee.Age = age;
            }

            Console.WriteLine("Saving Page");
            var verifyCode = DateTime.Now.ToString("yyyyMMddhhmmssfff");

            employee.Verify_Id = verifyCode;

            employee.Birthdate = Convert.ToDateTime(bday);
            employee.DateHired = Convert.ToDateTime(DateHired);

            if (!string.IsNullOrEmpty(employee.InactiveStatusId.ToString()))
            {
                employee.InactiveStatusId = 1;
            }

            var verifyId = await EmployeeService.CreateEmployee(employee);

            address.Verify_Id = verifyId;
            var adres = await AddressService.CreateAddress(address);

            var divisionString = employee.DivisionId;
            var divisionPDF = employee.DivisionId;

            var departmentString = employee.DepartmentId;
            var departmentPDF = employee.DepartmentId;

            await OnsavingImg(employee.EmployeeNo, divisionString, departmentString, employee.LastName, verifyId);
            await OnPDFSaving(employee.EmployeeNo, divisionPDF, departmentPDF, employee.LastName, verifyId);

            await CreatePrimaryRecords(verifyCode);
            await CreateSecondaryRecords(verifyCode);
            await CreateSeniorHSRecords(verifyCode);
            await CreateCollegeRecords(verifyCode);
            await CreateMasteralRecords(verifyCode);
            await CreateDoctorateRecords(verifyCode);
            await CreateOtherEducRecords(verifyCode);

            NavigationManager.NavigateTo("employee");

            var swal = await Swal.FireAsync(new SweetAlertOptions
                {
                    Text = "Created Successfully!",
                    Icon = SweetAlertIcon.Success
                });
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private async Task OnsavingImg(string EmployeeId, int division, int department, string lastname, string verify)
    {
        using var _contentImg = new MultipartFormDataContent();
        _contentImg.Add(EmpImage.LastOrDefault());
        await ImageService.AttachFile(_contentImg, EmployeeId, division, department, lastname, verify);
    }

    private async Task OnPDFSaving(string EmployeeId, int division, int department, string lastname, string verify)
    {
        Console.WriteLine($"EmployeeId: {EmployeeId}");
        Console.WriteLine($"division: {division}");
        Console.WriteLine($"department: {department}");
        Console.WriteLine($"lastname: {lastname}");
        Console.WriteLine($"verify: {verify}");

        foreach (var formdata in DocuEmployees)
        {
            await ImageService.AttachedFile(formdata, EmployeeId, division, department, lastname, verify);
        }
    }

    async Task CreatePrimaryRecords(string employeeVerifyId)
    {
        //primary
        var validRecords = listOfPrimary
            .Where
            (pri => !string.IsNullOrEmpty(pri.PriSchoolName) || !string.IsNullOrEmpty(pri.PriSchoolLoc)
                 || !string.IsNullOrEmpty(pri.PriAward) || !string.IsNullOrEmpty(pri.PriSchoolYear))
            .ToList();
        if (validRecords.Count == 0)
        {
            return;
        }
        foreach (var pri in validRecords)
        {
            pri.Verify_Id = employeeVerifyId;
            await EducationService.CreatePrimary(pri);
        }

        listOfPrimary.Clear();
        AddNewPrimary(employeeVerifyId);
    }


    async Task CreateSecondaryRecords(string employeeVerifyId)
    {
        //secondary
        var validSecodary = listOfSecondary
           .Where
           (sec => !string.IsNullOrEmpty(sec.SecSchoolName) || !string.IsNullOrEmpty(sec.SecSchoolLoc)
                || !string.IsNullOrEmpty(sec.SecAward) || !string.IsNullOrEmpty(sec.SecSchoolYear))
           .ToList();
        if (validSecodary.Count == 0)
        {
            return;
        }
        foreach (var sec in validSecodary)
        {
            sec.Verify_Id = employeeVerifyId;
            await EducationService.CreateSecondary(sec);
        }

        listOfSecondary.Clear();
        AddNewSecondary(employeeVerifyId);
    }

    async Task CreateSeniorHSRecords(string employeeVerifyId)
    {  //shs
        var validShs = listOfShs
           .Where
           (shs => !string.IsNullOrEmpty(shs.ShsSchoolName) || !string.IsNullOrEmpty(shs.ShsSchoolLoc)
                || !string.IsNullOrEmpty(shs.ShsAward) || !string.IsNullOrEmpty(shs.ShsSchoolYear))
           .ToList();
        if (validShs.Count == 0)
        {
            return;
        }
        foreach (var shs in validShs)
        {
            shs.Verify_Id = employeeVerifyId;
            await EducationService.CreateSeniorHS(shs);
        }

        listOfShs.Clear();
        AddNewShs(employeeVerifyId);
    }

    async Task CreateCollegeRecords(string employeeVerifyId)
    {
        //college
        var validCollege = listOfCollege
           .Where
           (coll => !string.IsNullOrEmpty(coll.CollSchoolName) || !string.IsNullOrEmpty(coll.CollSchoolLoc)
                || !string.IsNullOrEmpty(coll.CollAward) || !string.IsNullOrEmpty(coll.CollSchoolYear)
                || !string.IsNullOrEmpty(coll.CollCourse))
           .ToList();
        if (validCollege.Count == 0)
        {
            return;
        }
        foreach (var coll in validCollege)
        {
            coll.Verify_Id = employeeVerifyId;
            await EducationService.CreateCollege(coll);
        }

        listOfCollege.Clear();
        AddNewCollege(employeeVerifyId);

    }

    async Task CreateMasteralRecords(string employeeVerifyId)
    {
        //masteral
        var validMasteral = listOfMasteral
           .Where
           (mas => !string.IsNullOrEmpty(mas.MasSchoolName) || !string.IsNullOrEmpty(mas.MasSchoolLoc)
                || !string.IsNullOrEmpty(mas.MasAward) || !string.IsNullOrEmpty(mas.MasSchoolYear)
                || !string.IsNullOrEmpty(mas.MasCourse))
           .ToList();
        if (validMasteral.Count == 0)
        {
            return;
        }
        foreach (var mas in validMasteral)
        {
            mas.Verify_Id = employeeVerifyId;
            await EducationService.CreateMasteral(mas);
        }

        listOfMasteral.Clear();
        AddNewMasteral(employeeVerifyId);
    }

    async Task CreateDoctorateRecords(string employeeVerifyId)
    {
        //doctorate
        var validDoctorate = listOfDoctorate
           .Where
           (doc => !string.IsNullOrEmpty(doc.DocSchoolName) || !string.IsNullOrEmpty(doc.DocSchoolLoc)
                || !string.IsNullOrEmpty(doc.DocAward) || !string.IsNullOrEmpty(doc.DocSchoolYear)
                || !string.IsNullOrEmpty(doc.DocCourse))
           .ToList();
        if (validDoctorate.Count == 0)
        {
            return;
        }
        foreach (var doc in validDoctorate)
        {
            doc.Verify_Id = employeeVerifyId;
            await EducationService.CreateDoctorate(doc);
        }

        listOfDoctorate.Clear();
        AddNewDoctorate(employeeVerifyId);
    }

    async Task CreateOtherEducRecords(string employeeVerifyId)
    {
        //othereduc
        var validothers = listOfOthers
           .Where
           (other => !string.IsNullOrEmpty(other.OthersSchoolType) || !string.IsNullOrEmpty(other.OthersSchoolName)
                || !string.IsNullOrEmpty(other.OthersSchoolLoc) || !string.IsNullOrEmpty(other.OthersAward)
                || !string.IsNullOrEmpty(other.OthersSchoolYear) || !string.IsNullOrEmpty(other.OthersCourse))
           .ToList();
        if (validothers.Count == 0)
        {
            return;
        }
        foreach (var others in validothers)
        {
            others.Verify_Id = employeeVerifyId;
            await EducationService.CreateOtherEduc(others);
        }

        listOfOthers.Clear();
        AddNewOthers(employeeVerifyId);
    }

    public void AddNewPrimary(string employeeVerifyId)
    {
        if (listOfPrimary.Count <= 5)
        {
            listOfPrimary.Add(new PrimaryT { Verify_Id = employee.Verify_Id });
        }
    }

    public void RemovePrimary()
    {
        if (listOfPrimary.Count > 0)
        {
            listOfPrimary.RemoveAt(listOfPrimary.Count - 1);
        }
    }
    public void AddNewSecondary(string employeeVerifyId)
    {
        if (listOfSecondary.Count <= 3)
        {
            listOfSecondary.Add(new SecondaryT { Verify_Id = employee.Verify_Id });
        }
    }
    public void RemoveSecondary()
    {
        if (listOfSecondary.Count <= 1) { }
        else
        {
            listOfSecondary.RemoveAt(listOfSecondary.Count - 1);
        }
    }

    public void AddNewShs(string employeeVerifyId)
    {
        if (listOfShs.Count <= 2)
        {
            listOfShs.Add(new SeniorHST { Verify_Id = employee.Verify_Id });
        }
    }
    public void RemoveShs()
    {
        if (listOfShs.Count <= 1) { }
        else
        {
            listOfShs.RemoveAt(listOfShs.Count - 1);
        }
    }

    public void AddNewCollege(string employeeVerifyId)
    {
        if (listOfCollege.Count <= 2)
        {
            listOfCollege.Add(new CollegeT { Verify_Id = employee.Verify_Id });
        }
    }
    public void RemoveCollege()
    {
        if (listOfCollege.Count <= 1) { }
        else
        {
            listOfCollege.RemoveAt(listOfCollege.Count - 1);
        }
    }

    public void AddNewMasteral(string employeeVerifyId)
    {
        if (listOfMasteral.Count <= 2)
        {
            listOfMasteral.Add(new MasteralT { Verify_Id = employee.Verify_Id });
        }
    }
    public void RemoveMasteral()
    {
        if (listOfMasteral.Count <= 1) { }
        else
        {
            listOfMasteral.RemoveAt(listOfMasteral.Count - 1);
        }
    }

    public void AddNewDoctorate(string employeeVerifyId)
    {
        if (listOfDoctorate.Count <= 2)
        {
            listOfDoctorate.Add(new DoctorateT { Verify_Id = employee.Verify_Id });
        }
    }
    public void RemoveDoctorate()
    {
        if (listOfDoctorate.Count <= 1) { }
        else
        {
            listOfDoctorate.RemoveAt(listOfDoctorate.Count - 1);
        }
    }

    public void AddNewOthers(string employeeVerifyId)
    {
        if (listOfOthers.Count <= 4)
        {
            listOfOthers.Add(new OtherEducT { Verify_Id = employee.Verify_Id });
        }
    }
    public void RemoveOthers()
    {
        if (listOfOthers.Count <= 1) { }
        else
        {
            listOfOthers.RemoveAt(listOfOthers.Count - 1);
        }
    }
    private void OnValidSubmit(EditContext context)
    {
        success = true;
        StateHasChanged();
    }
}
