@page "/employee"
@inject IDivisionService DivisionService
@inject IDepartmentService DepartmentService
@inject ISectionService SectionService
@inject IPositionService PositionService
@inject IAddressService AddressService
@inject IAreaService AreaService
@inject IEmployeeService EmployeeService
@inject IStaticService StaticService
@inject IToastService _toastService
@inject IImageService ImageService
@inject IEducationService EducationService
@inject IPayrollService PayrollService
@inject ILicenseTrainingService LicenseTrainingService
@inject NavigationManager NavigationManager
@inject SweetAlertService Swal
@inject IToastService _toastService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject GlobalConfigService GlobalConfigService
@inject AuditlogGlobal AuditlogGlobal

@attribute [Authorize(Roles = "Admin, HR, User")]

<PageTitle>Employee Management</PageTitle>
<div class="mb-5">
    <div class="d-flex flex-row mt-5 justify-content-between align-items-center">
        <span style="font-size: x-large;font-weight: 600;color: #424242;">Employee List</span>
        <AuthorizeView Roles="HR">
            <Authorized>
                <MudButton OnClick="CreateNewEmployee" Variant="Variant.Filled" Size="Size.Medium" StartIcon="@Icons.Material.Rounded.PersonAdd" Class="btnadd">Add Employee</MudButton>
            </Authorized>
        </AuthorizeView>
    </div>
</div>
<div class="box w-auto">
    @if (EmployeeService.EmployeeTs == null || EmployeeService.EmployeeTs.Count == 0) 
    {
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="auto" />
        <MudCardContent>
            <MudSkeleton Width="30%" Height="42px;" />
            <MudSkeleton Width="80%" />
            <MudSkeleton Width="100%" />
        </MudCardContent>
        <MudCardActions>
            <MudSkeleton Width="64px" Height="40px" Class="ml-2" />
            <MudSkeleton Width="105px" Height="40px" Class="ml-3" />
        </MudCardActions>
        <MudOverlay Visible="_isVisible" DarkBackground="true" Absolute="true">
            <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
        </MudOverlay> 
    }
    else
    {
        <MudTable Class="stable" Items="_employeeList" Context="employeeee" FixedHeader="true" Elevation="0" Height="605px" HorizontalScrollbar="true" Dense="true" Hover="true" Bordered="false" Striped="true" Filter="new Func<EmployeeT,bool>(FilterFunc1)" @bind-SelectedItem="_selectedItem1" Virtualize="true">
            <ToolBarContent>
                <div class="d-flex flex-grow-1 mb-3">
                    <div class="d-flex flex-grow-1 flex-wrap justify-content-between">
                        <div class="d-flex gap-3 flex-grow-1 flex-wrap">
                            <MudItem xs="12" lg="3">
                                <MudSelect class="dddiv" T="int" ValueChanged="SearchStatus" Margin="Margin.Dense" DisableUnderLine>
                                    <MudSelectItem Value=0>All Status</MudSelectItem>
                                    @foreach (var item in StatusL)
                                    {
                                    <MudSelectItem Value="@item.Id">@item.Name</MudSelectItem>
                                    }
                                    </MudSelect>
                            </MudItem>
                        </div>                        <MudItem xs="12" lg="4">
                            <MudTextField DisableUnderLine @bind-Value="_searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="tsearch mb-5" Immediate=true Margin="Margin.Dense" />
                         </MudItem>
                     </div>
                 </div>
             </ToolBarContent>
             <HeaderContent>
                 <MudTh Style="background: #e9ecef; font-weight: bold; font-size: 16px;">Full Name</MudTh>
                 <MudTh Style="background: #e9ecef; font-weight: bold; font-size: 16px;">ID No.</MudTh>
                 <MudTh Style="background: #e9ecef; font-weight: bold; font-size: 16px;">Position</MudTh>
                 <MudTh Style="background: #e9ecef; font-weight: bold; font-size: 16px;">Division</MudTh>
                 <MudTh Style="background: #e9ecef; font-weight: bold; font-size: 16px;">Department</MudTh>
                 <MudTh Style="background: #e9ecef; font-weight: bold; font-size: 16px; text-align:center;">Date Hired</MudTh>
                 <MudTh Style="background: #e9ecef; font-weight: bold; font-size: 16px; text-align:center;">Status</MudTh>
                 <MudTh Style="background: #e9ecef; font-weight: bold; font-size: 16px;">Action</MudTh>
             </HeaderContent>
             <RowTemplate>
             <MudTd DataLabel="Full Name">
                     <div class="d-flex flex-row align-items-center gap-3">
                         <div>
                        <EmployeeAvatar verify="@employeeee.Verify_Id" />
                     </div>
                     <div>
                         <div class="flex-column">
                                 <div>@CapitalizeFirstLetter(employeeee.FirstName)  @employeeee.MiddleName[0].ToString().ToUpper().  @CapitalizeFirstLetter(employeeee.LastName)</div>
                                 <div style="font-weight: bold;">@employeeee.Email</div> 
                         </div>
                     </div>
                 </div>

             </MudTd>
                 <MudTd DataLabel="Position">@employeeee.EmployeeNo</MudTd>
             <MudTd DataLabel="Position">@employeeee.Position?.Name</MudTd>
             <MudTd DataLabel="Division">@employeeee.Division?.Name
                     @* |
                     @if (employeeee.SectionId == 0)
                    {
                        <MudChip Class="statusChip">No Section</MudChip>
                    }
                    else
                    {
                        @foreach (var item in SectionsL)
                        {
                            @if (item.Id == employeeee.SectionId)
                            {
                                <MudChip Class="statusChip">@item.Name</MudChip>
                            }
                        }
                    } *@
                    
                        
             </MudTd>
                 <MudTd DataLabel="Department">@employeeee.Department?.Name</MudTd>
                 <MudTd DataLabel="Date Hired" Style="text-align: center;">@employeeee.DateHired.ToString("MM/dd/yyyy")</MudTd>
                 <MudTd DataLabel="Status" Style="text-align: center;">
                     <MudChip Class="@StatusChipColor(employeeee.Status?.Name)">@employeeee.Status?.Name</MudChip>
             </MudTd>
                 <MudTd>
                     <AuthorizeView Roles="HR">
                         <Authorized>
                             <MudTooltip Text="View Details">
                                 <MudIconButton Class="btnedit" OnClick="(() => ShowEmployee(employeeee.Id))" Icon="@Icons.Material.Rounded.RemoveRedEye" aria-label="Edit"></MudIconButton>
                             </MudTooltip>
                         </Authorized>
                         <NotAuthorized>
                             <MudIconButton Disabled Class="btnedit" OnClick="(() => ShowEmployee(employeeee.Id))" Icon="@Icons.Material.Rounded.RemoveRedEye" aria-label="Edit"></MudIconButton>
                         </NotAuthorized>
                     </AuthorizeView>
                 </MudTd>
             </RowTemplate>
             <PagerContent>
                 <MudTablePager PageSizeOptions="new int[] { 10, 25, int.MaxValue }" InfoFormat="@($"Right {_infoFormat}")" HorizontalAlignment="HorizontalAlignment.Right" />
             </PagerContent>
         </MudTable>
    } 
</div>
