@page "/employee/edit"
@page "/employee/edit/{id:int}"
@inject IDivisionService DivisionService
@inject IDepartmentService DepartmentService
@inject ISectionService SectionService
@inject IPositionService PositionService
@inject IAddressService AddressService
@inject IAreaService AreaService
@inject IEmployeeService EmployeeService
@inject IToastService _toastService
@inject IImageService ImageService
@inject IEducationService EducationService
@inject IEmploymentDateService EmploymentDateService
@inject IPayrollService PayrollService
@inject ILicenseTrainingService LicenseTrainingService
@inject SweetAlertService Swal
@inject IToastService _toastService
@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@*@attribute [Authorize(Roles = "Admin")]
*@
<div class="topnav d-flex justify-content-end align-items-center z-60">
    <MudButton OnClick="backbtn" Size="Size.Medium">Back</MudButton>
</div>
<div class="@*tabdiv*@ ps-5 pt-2">
    <MudGrid Spacing="3">
        <MudItem xs="12" lg="3">
            <MudCard Class="empdleft" Elevation="0">
                <MudCardContent>
                    <div class="d-flex flex-column justify-content-center">
                        <span class="spantitle mb-3">Employee Details</span>
                        <div class="d-flex justify-content-center">
                            <MudAvatar>
                                <MudImage Src="@ImageData"></MudImage>
                            </MudAvatar>
                        </div>
                        <div>
                            <MudText Align="Align.Center" Style="font-weight: bold; font-size: 1.2em;letter-spacing: 1px;margin-top: 1rem;">@FUpper(employee.FirstName) @FUpper(employee.LastName)</MudText>
                        </div>
                        <div class="d-flex flex-grow-1 justify-content-center mt-1">
                            <div  class="@StatusChipColor(employee.Status?.Name)">
                                <MudText Align="Align.Center" Style="font-size: 0.9em">@FUpper(employee.Status?.Name)</MudText>
                            </div>
                        </div>
                        <div class="d-flex flex-column gap-2" style="margin-top: 1rem;">
                            <div class="divsingledetails">
                                <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Company ID No.</MudText>
                                <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.EmployeeNo</MudText>
                            </div>
                            <div class="divsingledetails">
                                 <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Date Hired</MudText>
                                <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.DateHired.ToString("d")</MudText>
                            </div>
                            <div class="divsingledetails">
                                <div class="d-flex flex-row">
                                    <div class="flex-grow-1">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Email</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Email</MudText>
                                    </div>
                                    <div><MudTooltip Text="Copy">
                                        <MudIconButton OnClick="() => CopyToClipboard(employee.Email)" Icon="@Icons.Material.Rounded.ContentCopy"></MudIconButton>
                                        </MudTooltip>
                                        </div>
                                </div>
                            </div>
                            <div class="divsingledetails">
                                <div class="d-flex flex-row">
                                    <div class="flex-grow-1">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Phone</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">+63 @employee.MobileNumber</MudText>
                                    </div>
                                    <div><MudTooltip Text="Copy"><MudIconButton OnClick="() => CopyToClipboard(employee.MobileNumber)" Icon="@Icons.Material.Rounded.ContentCopy"></MudIconButton></MudTooltip></div>
                                </div>
                            </div>
                             <div class="divsingledetails">
                                 <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Position</MudText>
                                <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Position?.Name</MudText>
                            </div>
                             <div class="divsingledetails" >
                                 <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Department</MudText>
                                <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Department?.Name</MudText>
                            </div>
                        </div>
                       
                        
                    </div>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="12" lg="9" Style="margin-top: 2rem;">
                <MudTabs Elevation="0" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6" @ref="tabs" @bind-ActivePanelIndex="activeIndex">
                    <MudTabPanel TabContent="tabHeader(0)">
                        <MudCard Class="empdmain">
                            <MudCardContent>
                                <div class="d-flex justify-content-between align-items-center">
                                     <span class="spantitle mb-3">Personal Data</span>
                                     <MudTooltip Text="Update Details">
                                    <MudIconButton Class="btnedit" OnClick="@(() => OpenDrawer(Anchor.End, "personalandjobOpen"))" Icon="@Icons.Material.Rounded.Edit" aria-label="Edit"></MudIconButton>
                                     </MudTooltip>
                                </div>
                                <div class="d-flex flex-column gap-3">
                                    <div class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Full Name</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@FUpper(employee.FirstName) @FUpper(employee.MiddleName) @FUpper(employee.LastName) @FUpper(employee.Extension)</MudText>
                                    </div>
                                    <div class="d-flex flex-row gap-4">
                                        <MudItem xs="12" sm="4" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Birthdate</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Birthdate.ToString("d")</MudText>
                                        </MudItem>
                                    <MudItem xs="12" sm="4" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Age</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Age</MudText>
                                    </MudItem>
                                        <MudItem xs="12" sm="4" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Gender</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Gender?.Name</MudText>
                                        </MudItem>
                                    </div>
                                    <div class="d-flex flex-row gap-4">
                                        <MudItem xs="12" sm="6" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Nationality</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Nationality</MudText>
                                        </MudItem>
                                        <MudItem xs="12" sm="6" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Civil Status</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.CivilStatus?.Name</MudText>
                                        </MudItem>
                                    </div>
                                    <div class="d-flex flex-row gap-4">
                                        <MudItem xs="12" sm="6" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Phone</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.MobileNumber</MudText>
                                        </MudItem>
                                        <MudItem xs="12" sm="6" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Email</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Email</MudText>
                                        </MudItem>
                                    </div>
                                    <div class="d-flex flex-row gap-4">
                                        <MudItem xs="12" sm="4" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Religion</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Religion?.Name</MudText>
                                        </MudItem>
                                        <MudItem xs="12" sm="4" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Weight(kg)</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Weight</MudText>
                                        </MudItem>
                                         <MudItem xs="12" sm="4" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Height(cm)</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Height</MudText>
                                        </MudItem>
                                    </div>
                                </div>
                            </MudCardContent>
                        </MudCard>
                        <MudCard Class="empdmain" Style="margin-top: 3rem;">
                        <MudCardContent>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="spantitle mb-3">Work Information</span>
                                <MudTooltip Text="Update Details">
                                    <MudIconButton Class="btnedit" OnClick="@(() => OpenDrawer(Anchor.End, "workInfoOpen"))" Icon="@Icons.Material.Rounded.Edit" aria-label="Edit"></MudIconButton>
                                </MudTooltip>
                            </div>
                            <div class="d-flex flex-column gap-3">
                                <div class="divsingledetails">
                                    <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Company ID No.</MudText>
                                    <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.EmployeeNo</MudText>
                                </div>
                                <div class="d-flex flex-row gap-4">
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Area of Assignment</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Area?.Name</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Status</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Status?.Name</MudText>
                                    </MudItem>
                                </div>
                                <div class="d-flex flex-row gap-4">
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Employment Status</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.EmploymentStatus?.Name</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Date Hired</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.DateHired.ToString("d")</MudText>
                                    </MudItem>
                                    @* @if (employee.EmploymentStatusId == 1) {
                                        <MudItem xs="12" sm="6" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Probation Start Date</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_employmentDate.RegularizationDate?.ToString("MM/dd/yyyy")</MudText>
                                        </MudItem>
                                    }
                                    else if (employee.EmploymentStatusId == 2) {
                                        <MudItem xs="12" sm="6" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Probation Start Date</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_employmentDate.ProbationStartDate?.ToString("MM/dd/yyyy")</MudText>
                                        </MudItem>
                                        <MudItem xs="12" sm="6" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Probation End Date</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_employmentDate.ProbationEndDate?.ToString("MM/dd/yyyy")</MudText>
                                        </MudItem>
                                    }
                                    else if (employee.EmploymentStatusId == 3) {
                                        <MudItem xs="12" sm="6" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Casual Start Date</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_employmentDate.CasualStartDate?.ToString("MM/dd/yyyy")</MudText>
                                        </MudItem>
                                        <MudItem xs="12" sm="6" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Casual End Date</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_employmentDate.CasualEndDate?.ToString("MM/dd/yyyy")</MudText>
                                        </MudItem>
                                    }
                                    else if (employee.EmploymentStatusId == 4) {
                                        <MudItem xs="12" sm="6" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Fixed Start Date</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_employmentDate.FixedStartDate?.ToString("MM/dd/yyyy")</MudText>
                                        </MudItem>
                                        <MudItem xs="12" sm="6" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Fixed End Date</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_employmentDate.FixedEndDate?.ToString("MM/dd/yyyy")</MudText>
                                        </MudItem>
                                    }
                                    else if (employee.EmploymentStatusId == 5) {
                                        <MudItem xs="12" sm="6" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Project Based Start Date</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_employmentDate.ProjStartDate?.ToString("MM/dd/yyyy")</MudText>
                                        </MudItem>
                                        <MudItem xs="12" sm="6" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Project Based End Date</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_employmentDate.ProjEndDate?.ToString("MM/dd/yyyy")</MudText>
                                        </MudItem>
                                    } *@

                                    
                                </div>
                                <div class="d-flex flex-row gap-4">
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Division</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Division?.Name</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Department</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Department?.Name</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Section</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Section?.Name</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Position</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.Position?.Name</MudText>
                                    </MudItem>
                                </div>
                            </div>
                        </MudCardContent>
                        </MudCard>
                    </MudTabPanel>
                    <MudTabPanel TabContent="tabHeader(1)">
                        <MudCard Class="empdmain" >
                        <MudCardContent>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="spantitle mb-3">Person to Notify in Case of Emergency</span>
                                <MudTooltip Text="Update Details">
                                    <MudIconButton Class="btnedit" OnClick="@(() => OpenDrawer(Anchor.End, "emerOpen"))" Icon="@Icons.Material.Rounded.Edit" aria-label="Edit"></MudIconButton>
                                </MudTooltip>
                            </div>
                            <div class="d-flex flex-column gap-3">
                                <div class="divsingledetails">
                                    <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Name</MudText>
                                    <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.EmerName</MudText>
                                </div>
                                <div class="d-flex flex-row gap-4">
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Relationship</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.EmerRelationship?.Name</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Phone</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">+63 @employee.EmerMobNum</MudText>
                                    </MudItem>
                                </div>
                                <div class="divsingledetails">
                                    <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Address</MudText>
                                    <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@employee.EmerAddress</MudText>
                                </div>
                            </div>
                        </MudCardContent>
                    </MudCard>
                        <MudCard Class="empdmain" Style="margin-top: 3rem;">
                            <MudCardContent>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="spantitle mb-3">Address</span>
                                    <MudTooltip Text="Update Details">
                                    <MudIconButton Class="btnedit" OnClick="@(() => OpenDrawer(Anchor.End, "addressOpen"))" Icon="@Icons.Material.Rounded.Edit" aria-label="Edit"></MudIconButton>
                                    </MudTooltip>
                                </div>
                                <span class="spantitle mb-2" style="font-size:14px">Present Address</span>
                                <div class="d-flex flex-column gap-3 mb-3">
                                    <div class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">(Unit/House/Building/Street Number, Street Name, Barangay Name)</MudText>
                                    <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_address.CurrentAdd</MudText>
                                    </div>
                                    <div class="d-flex flex-row gap-4">
                                        <MudItem xs="12" sm="3" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">City</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_address.CurrentCity</MudText>
                                        </MudItem>
                                        <MudItem xs="12" sm="3" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Province</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_address.CurrentProvince</MudText>
                                        </MudItem>
                                        <MudItem xs="12" sm="3" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">ZipCode</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_address.CurrentZipCode</MudText>
                                        </MudItem>
                                        <MudItem xs="12" sm="3" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Country</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_address.CurrentCountry</MudText>
                                        </MudItem>
                                    </div>
                                </div>
                                <span class="spantitle mb-2" style="font-size:14px">Permanent Address</span>
                                <div class="d-flex flex-column gap-3">
                                    <div class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">(Unit/House/Building/Street Number, Street Name, Barangay Name)</MudText>
                                    <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_address.PermanentAdd</MudText>
                                    </div>
                                    <div class="d-flex flex-row gap-4">
                                        <MudItem xs="12" sm="3" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">City</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_address.PermanentCity</MudText>
                                        </MudItem>
                                        <MudItem xs="12" sm="3" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Province</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_address.PermanentProvince</MudText>
                                        </MudItem>
                                        <MudItem xs="12" sm="3" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">ZipCode</MudText>
                                            <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_address.PermanentZipCode</MudText>
                                        </MudItem>
                                        <MudItem xs="12" sm="3" Class="divsingledetails">
                                            <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Country</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_address.PermanentCountry</MudText>
                                        </MudItem>
                                    </div>
                                </div>
                            </MudCardContent>
                        </MudCard>
                    </MudTabPanel>
                    <MudTabPanel TabContent="tabHeader(2)">
                        <MudCard Class="empdmain">
                            <MudCardContent>
                                <EmployeePrimary VerifyCode="@VerifyCode"/>
                            </MudCardContent>
                        </MudCard>
                        <MudCard Class="empdmain" Style="margin-top: 2rem;">
                            <MudCardContent>
                                <EmployeeSecondary VerifyCode="@VerifyCode"/>
                            </MudCardContent>
                        </MudCard>
                        <MudCard Class="empdmain" Style="margin-top: 2rem;">
                            <MudCardContent>
                                <EmployeeSHS VerifyCode="@VerifyCode" />
                            </MudCardContent>
                        </MudCard>
                        <MudCard Class="empdmain" Style="margin-top: 2rem;">
                            <MudCardContent>
                                <EmployeeCollege VerifyCode="@VerifyCode" />
                            </MudCardContent>
                        </MudCard>
                        <MudCard Class="empdmain" Style="margin-top: 2rem;">
                            <MudCardContent>
                                <EmployeeMasteral VerifyCode="@VerifyCode" />
                            </MudCardContent>
                        </MudCard>
                        <MudCard Class="empdmain" Style="margin-top: 2rem;">
                            <MudCardContent>
                                <EmployeeDoctorate VerifyCode="@VerifyCode" />
                            </MudCardContent>
                        </MudCard>
                        <MudCard Class="empdmain" Style="margin-top: 2rem;">
                            <MudCardContent>
                                <EmployeeOtherEduc VerifyCode="@VerifyCode" />
                            </MudCardContent>
                        </MudCard>
                    </MudTabPanel>
                    <MudTabPanel TabContent="tabHeader(3)">
                        <MudCard Class="empdmain">
                            <MudCardContent>
                            <EmployeeLicense VerifyCode="@VerifyCode" />
                            </MudCardContent>
                        </MudCard>
                        <MudCard Class="empdmain" Style="margin-top: 2rem;">
                        <MudCardContent>
                            <EmployeeTraining VerifyCode="@VerifyCode" />
                        </MudCardContent>
                    </MudCard>
                    </MudTabPanel>
                    <MudTabPanel TabContent="tabHeader(4)">
                    <MudCard Class="empdmain">
                        <MudCardContent>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="spantitle mb-3">Documents</span>
                                <MudTooltip Text="Update Details">
                                    <MudIconButton Class="btnedit" OnClick="@(() => OpenDrawer(Anchor.End, "documentsOpen"))" Icon="@Icons.Material.Rounded.Edit" aria-label="Edit"></MudIconButton>
                                </MudTooltip>
                            </div>
                            <div class="d-flex flex-column gap-3">
                                <div class="d-flex flex-row gap-4">
                                    <MudItem xs="12" sm="4" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Rate</MudText>
                                    <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_payroll.Rate</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="4" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Rate Type</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_payroll.RateType?.Name</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="4" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Cash-Bond</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_payroll.Cashbond?.Name</MudText>
                                    </MudItem>
                                </div>
                                <div class="d-flex flex-row gap-4">
                                    <MudItem xs="12" sm="4" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Meal Allowance</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_payroll.MealAllowance</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="4" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Biometric Id No.</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_payroll.BiometricID</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="4" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Bank Account</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_payroll.BankAcc</MudText>
                                    </MudItem>
                                </div>
                            </div>
                        </MudCardContent>
                    </MudCard>
                    <MudCard Class="empdmain" Style="margin-top: 2rem;">
                        <MudCardContent>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="spantitle mb-3">Statutory Documents</span>
                                <MudTooltip Text="Update Details">
                                    <MudIconButton Class="btnedit" OnClick="@(() => OpenDrawer(Anchor.End, "StatutoryOpen"))" Icon="@Icons.Material.Rounded.Edit" aria-label="Edit"></MudIconButton>
                                </MudTooltip>
                            </div>
                            <div class="d-flex flex-column gap-3">
                                <div class="d-flex flex-row gap-4">
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">PHIC No.</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_payroll.PhilHealthNum</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">HDMF No.</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_payroll.HDMFNum</MudText>
                                    </MudItem>
                                </div>
                                <div class="d-flex flex-row gap-4">
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">SSS No.</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_payroll.SSSNum</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="6" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">TIN No.</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_payroll.TINNum</MudText>
                                    </MudItem>
                                </div>
                            </div>
                        </MudCardContent>
                    </MudCard>
                    <MudCard Class="empdmain" Style="margin-top: 2rem;">
                        <MudCardContent>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="spantitle mb-3">Schedule</span>
                                <MudTooltip Text="Update Details">
                                    <MudIconButton Class="btnedit" OnClick="@(() => OpenDrawer(Anchor.End, "ScheduleOpen"))" Icon="@Icons.Material.Rounded.Edit" aria-label="Edit"></MudIconButton>
                                </MudTooltip>
                            </div>
                            <div class="d-flex flex-column gap-3">
                                <div class="d-flex flex-row gap-4">
                                    <MudItem xs="12" sm="4" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Schedule Type</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_payroll.ScheduleType?.Name</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="4" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Time In.</MudText>
                                        @foreach (var item in ScheduleTypeL.Where(s => s.Id == _payroll.ScheduleTypeId))
                                        {
                                            if (item.Id == _payroll.ScheduleTypeId)
                                            {
                                                <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@item.TimeIn</MudText>
                                            }
                                        }
                                    </MudItem>
                                    <MudItem xs="12" sm="4" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Time In.</MudText>
                                        @foreach (var item in ScheduleTypeL.Where(s => s.Id == _payroll.ScheduleTypeId))
                                        {
                                            if (item.Id == _payroll.ScheduleTypeId)
                                            {
                                                <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@item.TimeOut</MudText>
                                            }
                                        }
                                    </MudItem>
                                </div>
                                <div class="d-flex flex-row gap-4">
                                    <MudItem xs="12" Class="divsingledetails">
                                        <MudText Align="Align.Start" Style="color: #A6AABA;" Typo="Typo.caption">Rest Day</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@_payroll.RestDay?.Name</MudText>
                                    </MudItem>
                                </div>
                            </div>
                        </MudCardContent>
                    </MudCard>
                    <MudCard Class="empdmain" Style="margin-top: 2rem;">
                        <MudCardContent>
                            <EmployeeFiles VerifyCode="@VerifyCode" ln="@employee.LastName" div="@employee.DivisionId" dept="@employee.DepartmentId" empid="@employee.EmployeeNo" OnFileAdded="@RefreshPdfFileList" />
                            <div class="d-flex flex-column justify-content-start" Style="margin-top: 1rem;"> 
                                @if (pdffileList.Any())
                                {
                                    @foreach (var pdf in pdffileList)
                                    {
                                        <MudButton Class="button" Color="Color.Success" OnClick="OpenPdf" Style="text-transform: none; width: max-content;">@pdf.Img_Filename</MudButton>
                                    }
                                }
                                else
                                {
                                    <MudChip Color="Color.Primary">No Files found!</MudChip>
                                }
                            </div>
                            
                        </MudCardContent>
                    </MudCard>
                    </MudTabPanel>
                </MudTabs>
        </MudItem>
    </MudGrid>

    <!-- #region DRAWERS -->
    <MudDrawer Class="drawerdetails" @bind-Open="@personalandjobOpen" Width="@width" Height="@height" Anchor="@anchor" Elevation="1" Variant="@DrawerVariant.Temporary" Style=" margin: 10px;">
        <span class="spantitle mb-3">Personal Data</span>
        <MudItem xs="12">
            <EditForm Model="employee" OnValidSubmit="SaveUpdateEmployee" class="d-flex flex-column flex-grow-1" style="margin-top: 13px;">
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.body2">First Name</MudText>
                    <InputText Class="txf1 w-100 mt-1" @bind-Value="employee.FirstName" />
                    <ValidationMessage For="@(() => employee.FirstName)" class="mb-2 valmessage" />
                </MudItem>
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.body2">Middle Name</MudText>
                    <InputText Class="txf1 w-100 mt-1" @bind-Value="employee.MiddleName" />
                    <ValidationMessage For="@(() => employee.MiddleName)" class="mb-2 valmessage" />
                </MudItem>
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.body2">Last Name</MudText>
                    <InputText Class="txf1 w-100 mt-1" @bind-Value="employee.LastName" />
                    <ValidationMessage For="@(() => employee.LastName)" class="mb-2 valmessage" />
                </MudItem>
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.body2">Extension</MudText>
                    <InputText Class="txf1 w-100 mt-1" @bind-Value="employee.Extension" />
                </MudItem>
                <div class="d-flex flex-row gap-3 mb-2 align-items-center">
                    <MudItem xs="12" sm="6">
                        <MudText Typo="Typo.body2">Birthdate (mm/dd/yyyy)</MudText>
                        <MudDatePicker Class="txf" DisableUnderLine @bind-Date="bday" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Editable="true" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudText Typo="Typo.body2">Gender</MudText>
                        <MudSelect Class="@slectClasssGender" DisableUnderLine @bind-Value="employee.GenderId" Margin="Margin.Dense">
                            <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                            @foreach (var gender in GendersL)
                            {
                                <MudSelectItem Value="@gender.Id">@gender.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                </div>
                <div class="d-flex flex-row gap-3 mb-2 align-items-center">
                    <MudItem xs="12" sm="6">
                        <MudText Typo="Typo.body2">Civil Status</MudText>
                        <MudSelect Class="@slectClasssGender" DisableUnderLine @bind-Value="employee.CivilStatusId" Margin="Margin.Dense">
                            <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                            @foreach (var cs in CivilStatusL)
                            {
                                <MudSelectItem Value="@cs.Id">@cs.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudText Typo="Typo.body2">Nationality</MudText>
                        <InputText Class="txf1 w-100 mt-1" @bind-Value="employee.Nationality" />
                    </MudItem>
                </div>
                <div class="d-flex flex-row gap-3 mb-2 align-items-center">
                    <MudItem xs="12" sm="6">
                        <MudText Typo="Typo.body2">Phone</MudText>
                        <MudNumericField HideSpinButtons="true" @bind-Value="employee.MobileNumber" Class="@txfieldClasssMN" DisableUnderLine Margin="Margin.Dense" Adornment="Adornment.Start" AdornmentText="+63" MaxLength="10" For="@(() => employee.MobileNumber)" />
                        </MudItem>
                        <MudItem xs="12" sm="6">
                        <MudText Typo="Typo.body2">Email</MudText>
                        <InputText Class="txf1 w-100 mt-1" @bind-Value="employee.Email" />
                        <ValidationMessage For="@(() => employee.Email)" class="mb-2 valmessage" />

                        </MudItem>
                    </div>
                    <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.body2">Religion</MudText>
                    <MudSelect Class="@slectClasssGender" DisableUnderLine @bind-Value="employee.ReligionId" Margin="Margin.Dense">
                        <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                        @foreach (var r in ReligionsL)
                        {
                            <MudSelectItem Value="@r.Id">@r.Name</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <div class="d-flex flex-row gap-3 mb-2 align-items-center">
                    <MudItem xs="12" sm="6">
                        <MudText Typo="Typo.body2">Weight(kg)</MudText>
                        <InputNumber Class="txf1 w-100 mt-1" @bind-Value="employee.Weight" />
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudText Typo="Typo.body2">Height(cm)</MudText>
                        <InputNumber Class="txf1 w-100 mt-1" @bind-Value="employee.Height" />
                    </MudItem>
                </div>
                <MudItem xs="12" Class="d-flex justify-content-center mt-5">
                    <button Class="btn btnnext" type="submit">SAVE</button>
                </MudItem>
            </EditForm>

        </MudItem>
    </MudDrawer>

    <MudDrawer Class="drawerdetails" @bind-Open="@workInfoOpen" Width="@width" Height="@height" Anchor="@anchor" Elevation="1" Variant="@DrawerVariant.Temporary" Style=" margin: 10px;">
        <span class="spantitle mb-3">Work Information</span>
        <MudItem xs="12">
            <EditForm Model="employee" OnValidSubmit="SaveUpdateEmployee" class="d-flex flex-column flex-grow-1" style="margin-top: 13px;">
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.body2">Company ID No.</MudText>
                    <InputText Class="txf1 w-100 mt-1" @bind-Value="employee.EmployeeNo" />
                    <ValidationMessage For="@(() => employee.EmployeeNo)" class="mb-2 valmessage" />
                </MudItem>
                <div class="d-flex flex-row gap-3 mb-2 align-items-center">
                    <MudItem xs="12" sm="6">
                        <MudText Typo="Typo.body2">Area of Assignment</MudText>
                        <MudSelect Class="@slectClasss" DisableUnderLine @bind-Value="employee.AreaId" Margin="Margin.Dense">
                            <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                            @foreach (var area in AreasL)
                            {
                                <MudSelectItem Value="@area.Id">@area.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudText Typo="Typo.body2">Status</MudText>
                        <MudSelect Class="@slectClasss" DisableUnderLine @bind-Value="employee.StatusId" Margin="Margin.Dense">
                            <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                            @foreach (var item in StatusL)
                            {
                                <MudSelectItem Value="@item.Id">@item.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                </div>
                <div class="d-flex flex-row gap-3 mb-2 align-items-center">
                    <MudItem xs="12" sm="6">
                        <MudText Typo="Typo.body2">Employment Status</MudText>
                        <MudSelect Class="@slectClasss" DisableUnderLine @bind-Value="employee.EmploymentStatusId" Margin="Margin.Dense">
                            <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                             @foreach (var item in EmploymentStatusL)
                            {
                                <MudSelectItem Value="@item.Id">@item.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudText Typo="Typo.body2">Date Hired (mm/dd/yyyy)</MudText>
                        <MudDatePicker Class="txf" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" DisableUnderLine Editable="true" Date="DateHired" DateChanged="HandleDateHiredChanged" Margin="Margin.Dense" />
                    </MudItem>
                </div>
                
                @{
                    var departmentHasSection = employee.DepartmentId != 0 && SectionService.SectionTs.Any(s => s.DepartmentId == employee.DepartmentId);
                }
                @if (departmentHasSection)
                {
                    <MudItem xs="12" Class="mb-2">
                        <MudText Typo="Typo.body2">Division</MudText>
                        <MudSelect Class="@slectClasss" DisableUnderLine @bind-Value="employee.DivisionId" Margin="Margin.Dense">
                            <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                        @foreach (var div in DivisionsL)
                            {
                                <MudSelectItem Value="@div.Id">@div.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" Class="mb-2">
                        <MudText Typo="Typo.body2">Department</MudText>
                        <MudSelect Class="@slectClasss" DisableUnderLine @bind-Value="employee.DepartmentId" Margin="Margin.Dense">
                            <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                        @foreach (var dep in DepartmentsL.Where(d => d.DivisionId == employee.DivisionId))
                            {
                                <MudSelectItem Value="@dep.Id">@dep.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    @if (departmentHasSection)
                    {
                        var sections = employee.DepartmentId != 0 ? SectionService.SectionTs.Where(s => s.DepartmentId == employee.DepartmentId) : Enumerable.Empty<SectionT>();
                        <MudItem xs="12" Class="mb-2">
                            <MudText Typo="Typo.body2">Section</MudText>
                            <MudSelect Class="@slectClasss" DisableUnderLine @bind-Value="employee.SectionId" Margin="Margin.Dense">
                                <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                            @if (sections.Any())
                                {
                                    @foreach (var sect in sections)
                                    {
                                        <MudSelectItem Value="@sect.Id">@sect.Name</MudSelectItem>
                                    }
                                }
                                else
                                {
                                    <MudSelectItem Value="0">&nbsp;</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="12" Class="mb-2">
                            <MudText Typo="Typo.body2">Position</MudText>
                            <MudSelect Class="@slectClasss" DisableUnderLine @bind-Value="employee.PositionId" Margin="Margin.Dense">
                                <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                            @foreach (var dep in PositionsL.Where(d => d.DivisionId == employee.DivisionId && d.DepartmentId == employee.DepartmentId && d.SectionId == employee.SectionId))
                                {
                                    <MudSelectItem Value="@dep.Id">@dep.Name</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                    }
                }
                else
                {
                    <MudItem xs="12" Class="mb-2">
                        <MudText Typo="Typo.body2">Division</MudText>
                        <MudSelect @bind-Value="employee.DivisionId" Class="@slectClasss" DisableUnderLine Margin="Margin.Dense">
                        <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                        @foreach (var div in DivisionsL)
                            {
                                <MudSelectItem Value="@div.Id">@div.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" Class="mb-2">
                        <MudText Typo="Typo.body2">Department</MudText>
                        <MudSelect @bind-Value="employee.DepartmentId" Class="@slectClasss" DisableUnderLine Margin="Margin.Dense">
                        <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                        @foreach (var dep in DepartmentsL.Where(d => d.DivisionId == employee.DivisionId))
                            {
                                <MudSelectItem Value="@dep.Id">@dep.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" Class="mb-2">
                        <MudText Typo="Typo.body2">Position</MudText>
                        <MudSelect @bind-Value="employee.PositionId" Class="@slectClasss" DisableUnderLine Margin="Margin.Dense">
                        <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                        @foreach (var dep in PositionsL.Where(d => d.DepartmentId == employee.DepartmentId))
                            {
                                <MudSelectItem Value="@dep.Id">@dep.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                }
                <MudItem xs="12" Class="d-flex justify-content-center mt-5">
                    <button Class="btn btnnext" type="submit">SAVE</button>
                </MudItem>
            </EditForm>

        </MudItem>
    </MudDrawer>

    <MudDrawer Class="drawerdetails" @bind-Open="@emerOpen" Width="@width" Height="@height" Anchor="@anchor" Elevation="1" Variant="@DrawerVariant.Temporary" Style=" margin: 10px;">
        <span class="spantitle mb-3">Person to Notify in Case of Emergency</span>
        <MudItem xs="12">
            <EditForm Model="employee" OnValidSubmit="SaveUpdateEmployee" class="d-flex flex-column flex-grow-1" style="margin-top: 13px;">
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.body2">Name</MudText>
                    <InputText Class="@txfieldClasssEN" @bind-Value="employee.EmerName" />
                    <ValidationMessage For="@(() => employee.EmerName)" class="mb-2 valmessage" />
                </MudItem>
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.body2">Relationship</MudText>
                    <MudSelect @bind-Value="employee.EmerRelationshipId" Class="@slectClasssRela" DisableUnderLine Margin="Margin.Dense">
                         <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                        @foreach (var rel in EmerRelationshipsL)
                        {
                            <MudSelectItem Value="@rel.Id">@rel.Name</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.body2">Address</MudText>
                    <InputText Class="@txfieldClasssEA" @bind-Value="employee.EmerAddress" />
                    <ValidationMessage For="@(() => employee.EmerAddress)" class="mb-2 valmessage" />
                </MudItem>
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.body2">Mobile #</MudText>
                    <MudNumericField HideSpinButtons="true" @bind-Value="employee.EmerMobNum" Class="@txfieldClasssEMN" DisableUnderLine Margin="Margin.Dense" Adornment="Adornment.Start" AdornmentText="+63" MaxLength="10" For="@(() => employee.EmerMobNum)" />
                </MudItem>
                 <MudItem xs="12" Class="d-flex justify-content-center mt-5">
                     <button Class="btn btnnext" type="submit">SAVE</button>
                 </MudItem>
            </EditForm>
        </MudItem>
     </MudDrawer>

    <MudDrawer Class="drawerdetails" @bind-Open="@addressOpen" Width="@width" Height="@height" Anchor="@anchor" Elevation="1" Variant="@DrawerVariant.Temporary" Style=" margin: 10px;">
         <span class="spantitle mb-3">Address</span>
         <MudItem xs="12">
             <EditForm Model="_address" OnValidSubmit="SaveUpdateEmployee" class="d-flex flex-column flex-grow-1" style="margin-top: 13px;">
                 <MudItem xs="12" Class="mb-2">
                     <span class="spantitle mb-2" style="font-size:14px">Present Address</span>
                     <MudText Typo="Typo.body2">(Unit/House/Building/Street Number, Street Name, Barangay Name)</MudText>
                     <InputText id="bb" Class="txf1 w-100 mt-1" @bind-Value="_address.CurrentAdd" />
                     <ValidationMessage For="@(() => _address.CurrentAdd)" class="mb-2 valmessage" />
                 </MudItem>
                 <div class="d-flex flex-row gap-3 mb-2 align-items-center">
                     <MudItem xs="12" sm="6">
                         <MudText Typo="Typo.body2">City</MudText>
                         <InputText Class="txf1 w-100 mt-1" @bind-Value="_address.CurrentCity" />
                         <ValidationMessage For="@(() => _address.CurrentCity)" class="mb-2 valmessage" />
                    </MudItem>
                    <MudItem xs="12" sm="6">
                         <MudText Typo="Typo.body2">Province</MudText>
                         <InputText Class="txf1 w-100 mt-1" @bind-Value="_address.CurrentProvince" />
                         <ValidationMessage For="@(() => _address.CurrentProvince)" class="mb-2 valmessage" />
                     </MudItem>
                 </div>
                 <div class="d-flex flex-row gap-3 mb-2 align-items-center">
                     <MudItem xs="12" sm="6">
                         <MudText Typo="Typo.body2">ZipCode</MudText>
                         <InputText Class="txf1 w-100 mt-1" @bind-Value="_address.CurrentZipCode" />
                         <ValidationMessage For="@(() => _address.CurrentZipCode)" class="mb-2 valmessage" />
                     </MudItem>
                     <MudItem xs="12" sm="6">
                         <MudText Typo="Typo.body2">Country</MudText>
                         <InputText Class="txf1 w-100 mt-1" @bind-Value="_address.CurrentCountry" />
                         <ValidationMessage For="@(() => _address.CurrentCountry)" class="mb-2 valmessage" />
                     </MudItem>
                 </div>
                 <MudItem xs="12" Class="mb-2">
                     <span class="spantitle mb-2" style="font-size:14px">Permanent Address</span>
                     <MudText Typo="Typo.body2">(Unit/House/Building/Street Number, Street Name, Barangay Name)</MudText>
                     <InputText id="bb" Class="txf1 w-100 mt-1" @bind-Value="_address.PermanentAdd" />
                     <ValidationMessage For="@(() => _address.PermanentAdd)" class="mb-2 valmessage" />
                 </MudItem>
                 <div class="d-flex flex-row gap-3 mb-2 align-items-center">
                     <MudItem xs="12" sm="6">
                         <MudText Typo="Typo.body2">City</MudText>
                         <InputText Class="txf1 w-100 mt-1" @bind-Value="_address.PermanentCity" />
                         <ValidationMessage For="@(() => _address.PermanentCity)" class="mb-2 valmessage" />
                     </MudItem>
                     <MudItem xs="12" sm="6">
                         <MudText Typo="Typo.body2">Province</MudText>
                         <InputText Class="txf1 w-100 mt-1" @bind-Value="_address.PermanentProvince" />
                         <ValidationMessage For="@(() => _address.PermanentProvince)" class="mb-2 valmessage" />
                     </MudItem>
                 </div>
                 <div class="d-flex flex-row gap-3 mb-2 align-items-center">
                     <MudItem xs="12" sm="6">
                         <MudText Typo="Typo.body2">ZipCode</MudText>
                         <InputText Class="txf1 w-100 mt-1" @bind-Value="_address.PermanentZipCode" />
                         <ValidationMessage For="@(() => _address.PermanentCountry)" class="mb-2 valmessage" />
                     </MudItem>
                     <MudItem xs="12" sm="6">
                         <MudText Typo="Typo.body2">Country</MudText>
                         <InputText Class="txf1 w-100 mt-1" @bind-Value="_address.CurrentCountry" />
                         <ValidationMessage For="@(() => _address.PermanentCountry)" class="mb-2 valmessage" />
                     </MudItem>
                 </div>
                 <MudItem xs="12" Class="d-flex justify-content-center mt-5">
                     <button Class="btn btnnext" type="submit">SAVE</button>
                 </MudItem>
             </EditForm>
         </MudItem>
     </MudDrawer>

    <MudDrawer Class="drawerdetails" @bind-Open="@documentsOpen" Width="@width" Height="@height" Anchor="@anchor" Elevation="1" Variant="@DrawerVariant.Temporary" Style=" margin: 10px;">
         <span class="spantitle mb-3">Documents</span>
         <MudItem xs="12">
             <EditForm Model="_payroll" OnValidSubmit="SaveUpdateEmployee" class="d-flex flex-column flex-grow-1" style="margin-top: 13px;">
                 <MudItem xs="12" Class="mb-2">
                     <MudText Typo="Typo.body2">Rate</MudText>
                     <InputText Class="txf1 w-100 mt-1" @bind-Value="_payroll.Rate" />
                     <ValidationMessage For="@(() => _payroll.Rate)" class="mb-2 valmessage" />
                 </MudItem>
                 <MudItem xs="12" Class="mb-2">
                     <MudText Typo="Typo.body2">Rate Type</MudText>
                     <MudSelect Class="@slectClasss" DisableUnderLine @bind-Value="_payroll.RateTypeId" Margin="Margin.Dense">
                         <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                        @foreach (var rate in RateTypeL)
                        {
                            <MudSelectItem Value="@rate.Id">@rate.Name</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.body2">Cash-Bond</MudText>
                    <MudSelect Class="@slectClasss" DisableUnderLine @bind-Value="_payroll.CashbondId" Margin="Margin.Dense">
                         <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                        @foreach (var cb in CashbondL)
                        {
                            <MudSelectItem Value="@cb.Id">@cb.Name</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.body2">Meal Allowance</MudText>
                    <InputText Class="txf1 w-100 mt-1" @bind-Value="_payroll.MealAllowance" />
                    <ValidationMessage For="@(() => _payroll.MealAllowance)" class="mb-2 valmessage" />
                 </MudItem>
                 <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.body2">Biometric Id No.</MudText>
                    <InputText Class="txf1 w-100 mt-1" @bind-Value="_payroll.BiometricID" />
                    <ValidationMessage For="@(() => _payroll.BiometricID)" class="mb-2 valmessage" />
                 </MudItem>
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.body2">Bank Account</MudText>
                    <InputText Class="txf1 w-100 mt-1" MaxLength="10" @bind-Value="_payroll.BankAcc" />
                    <ValidationMessage For="@(() => _payroll.BankAcc)" class="mb-2 valmessage" />
                </MudItem>
                 <MudItem xs="12" Class="d-flex justify-content-center mt-5">
                     <button Class="btn btnnext" type="submit">SAVE</button>
                 </MudItem>
             </EditForm>
         </MudItem>
     </MudDrawer>

    <MudDrawer Class="drawerdetails" @bind-Open="@StatutoryOpen" Width="@width" Height="@height" Anchor="@anchor" Elevation="1" Variant="@DrawerVariant.Temporary" Style=" margin: 10px;">
        <span class="spantitle mb-3">Statutory Documents</span>
        <MudItem xs="12">
            <EditForm Model="_payroll" OnValidSubmit="SaveUpdateEmployee" class="d-flex flex-column flex-grow-1" style="margin-top: 13px;">
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.body2">PHIC No.</MudText>
                    <InputText Class="txf1 w-100 mt-1" @bind-Value="_payroll.PhilHealthNum" MaxLength="12" />
                    <ValidationMessage For="@(() => _payroll.PhilHealthNum)" class="mb-2 valmessage" />
                </MudItem>
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.body2">HDMF No.</MudText>
                    <InputText Class="txf1 w-100 mt-1" @bind-Value="_payroll.HDMFNum" MaxLength="12" />
                    <ValidationMessage For="@(() => _payroll.HDMFNum)" class="mb-2 valmessage" />
                </MudItem>
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.body2">SSS No.</MudText>
                    <InputText Class="txf1 w-100 mt-1" @bind-Value="_payroll.SSSNum" MaxLength="12" />
                    <ValidationMessage For="@(() => _payroll.SSSNum)" class="mb-2 valmessage" />
                </MudItem>
                <MudItem xs="12" Class="mb-2">
                     <MudText Typo="Typo.body2">TIN No.</MudText>
                     <InputText Class="txf1 w-100 mt-1" @bind-Value="_payroll.TINNum" MaxLength="12" />
                     <ValidationMessage For="@(() => _payroll.TINNum)" class="mb-2 valmessage" />
                </MudItem>
                
                <MudItem xs="12" Class="d-flex justify-content-center mt-5">
                    <button Class="btn btnnext" type="submit">SAVE</button>
                </MudItem>
            </EditForm>
        </MudItem>
    </MudDrawer>
    
    <MudDrawer Class="drawerdetails" @bind-Open="@ScheduleOpen" Width="@width" Height="@height" Anchor="@anchor" Elevation="1" Variant="@DrawerVariant.Temporary" Style=" margin: 10px;">
        <span class="spantitle mb-3">Schedule</span>
        <MudItem xs="12">
            <EditForm Model="_payroll" OnValidSubmit="SaveUpdateEmployee" class="d-flex flex-column flex-grow-1" style="margin-top: 13px;">
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.body2">Schedule Type</MudText>
                    <MudSelect Class="@slectClasssRela" DisableUnderLine @bind-Value="@_payroll.ScheduleTypeId" Margin="Margin.Dense">
                            <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                               @foreach (var sched in ScheduleTypeL)
                               {
                                   <MudSelectItem Value="@sched.Id">@sched.Name</MudSelectItem>
                                }
                         </MudSelect>
                </MudItem>
                @if (_payroll.ScheduleTypeId != 0) {
                    <div class="d-flex flex-row gap-3 mb-2 align-items-center">
                        <MudItem xs="12" sm="6">
                            <MudText Typo="Typo.body2">Time In</MudText>

                            @foreach (var item in ScheduleTypeL.Where(s => s.Id == _payroll.ScheduleTypeId))
                            {
                                if (item.Id == _payroll.ScheduleTypeId)
                                {
                                    <MudTextField @bind-Value="item.TimeIn" Class="txf" DisableUnderLine Margin="Margin.Dense" ReadOnly="true" />
                                }
                            }
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudText Typo="Typo.body2">Time Out</MudText>

                            @foreach (var item in ScheduleTypeL.Where(s => s.Id == _payroll.ScheduleTypeId))
                            {
                                if (item.Id == _payroll.ScheduleTypeId)
                                {
                                    <MudTextField @bind-Value="item.TimeOut" Class="txf" DisableUnderLine Margin="Margin.Dense" ReadOnly="true" />
                                }
                            }
                        </MudItem>
                    </div>
                }
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.body2">Rest Day</MudText>
                    <MudSelect Class="@slectClasssRela" DisableUnderLine @bind-Value="@_payroll.RestDayId" Margin="Margin.Dense">
                        <MudSelectItem Value=0 Disabled>---Select---</MudSelectItem>
                        @foreach (var restday in RestDayL)
                        {
                            <MudSelectItem Value="@restday.Id">@restday.Name</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>

                <MudItem xs="12" Class="d-flex justify-content-center mt-5">
                    <button Class="btn btnnext" type="submit">SAVE</button>
                </MudItem>
            </EditForm>
        </MudItem>
    </MudDrawer>
    <!-- #endregion -->
</div>
