@layout AuthLayout
@page "/"
@using HrisApp.Client.Global;
@inject IAuthService AuthService
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IToastService _toastService
@inject GlobalConfigService GlobalConfigService
@inject DummyGlobal _dummyGlobal

<style>
    .form-control {
        box-shadow: inset -5px -5px 10px #ffffff, inset 5px 5px 10px #bebebe;
        border-radius: 10px;
        border: 0;
        background-color: #e9ecef;
        padding: 0 15px 10px 25px;
    }

    .card {
        background: #e9ecef;
        border: none;
        box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
        border-radius: 20px;
</style>
<MudCard Elevation="0" Style="background: #e9ecef">
    <MudCardContent Class="d-flex justify-content-center">
        <MudItem lg="4" xs="12" Class="card p-5">
            <div class="d-flex flex-column align-items-center m-auto mb-3">
                <img src="./images/SonicSales.png" width="150px" alt="">
            </div>
            <h3>Login to continue</h3>
            @if (_showAlert)
            {
                <MudAlert Severity="@_severity" ShowCloseIcon="true" CloseIconClicked="CloseMe" Class="mb-2">@_message</MudAlert>
            }
            <EditForm Model="@_log" OnValidSubmit="@HandleLogin">
                <div class="mb-3">
                    <div class="row">
                        <MudText Typo="Typo.caption">Username</MudText>
                        <MudTextField DisableUnderLine @bind-Value="_log.Username" Class="form-control" Immediate=true Margin="Margin.Dense"></MudTextField>
                     </div>
                     <div class="row">
                         <MudText Typo="Typo.caption">Password</MudText>
                         <MudTextField DisableUnderLine @bind-Value="_log.Password" Margin="Margin.Dense" InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password" Class="form-control" />
                     </div>
                 </div>
                 <div class="row">
                     <a href="/reset" class="w-auto"><small>Forgot your password?</small></a>
                     <button type="submit" class="btn btn-primary w-auto ms-auto">Login</button>

                 </div>
             </EditForm>
        </MudItem>
       
    </MudCardContent>
</MudCard>