@layout AuthLayout
@page "/"
@inject IAuthService AuthService
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider


<MudGrid Justify="Justify.Center" Class="w-75">
    <MudItem xs="12" sm="7">
        <h3>Login</h3>
        @if (showAlert)
        {
            <MudAlert Severity="@_severity" ShowCloseIcon="true" CloseIconClicked="CloseMe" Class="mb-2">@message</MudAlert>
        }
        <EditForm Model="@log" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />

            <MudTextField @bind-Value="log.Username" Label="Username" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => log.Username)" Class="mb-2" />

            <MudTextField @bind-Value="log.Password" Label=" Password" Class="mb-2" For="@(() => log.Username)" Variant="Variant.Outlined" Margin="Margin.Dense" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password" />

            <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Info" FullWidth="true" Class="mb-2">Login</MudButton>

        </EditForm>
    </MudItem>
</MudGrid>
