@layout AuthLayout
@page "/"
@inject IAuthService AuthService
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IToastService _toastService
@inject GlobalConfigService GlobalConfigService
@inject AuditlogGlobal AuditlogGlobal

<style>
    .card {
        background: #e9ecef;
        border: none;
        box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
        border-radius: 20px;
    }
</style>
<MudCard Elevation="0" Style="background: #e9ecef">
    <MudCardContent Class="d-flex justify-content-center">
        <MudItem sm="4" xs="12" Class="card p-5">
            <div class="d-flex flex-column align-items-center m-auto mb-3">
                <img src="./images/SonicSales.png" width="150px" alt="">
            </div>
            @if (_showAlert)
            {
                <MudAlert Severity="@_severity" ShowCloseIcon="true" CloseIconClicked="CloseMe" Class="mb-2">@_message</MudAlert>
            }
            <EditForm Model="@_log" OnValidSubmit="@HandleLogin">
                <DataAnnotationsValidator />
                <div class="mb-2">
                    <div class="d-flex flex-column mb-3">
                        <MudText Typo="Typo.caption" Style="font-size: 16px">Username</MudText>
                        <InputText class="txf1 w-100" @bind-Value="_log.Username" />
                        <ValidationMessage For="@(() => _log.Username)" class="mb-2" />
                     </div>
                    <div class="d-flex flex-column">
                        <MudText Typo="Typo.caption" Style="font-size: 16px">Password</MudText>
                        <MudTextField DisableUnderLine @bind-Value="_log.Password" InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password" Class="txtpass w-100" />
                         <ValidationMessage For="@(() => _log.Password)" class="mb-2" />
                     </div>
                 </div>
                 <div class="d-flex flex-grow-1 flex-column gap-3">
                    <div class="d-flex justify-content-end mb-3">
                        <MudSpacer/>
                        <a href="/register" class="w-auto"><small>Forgot your password?</small></a>
                    </div>
                     <MudButton Class="btnlogin" Disabled="@_processing" ButtonType="ButtonType.Submit">
                         @if (_processing)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                            <MudText Class="ms-2">Logging In</MudText>
                        }
                        else
                        {
                            <MudText>Login</MudText>
                        }
                    </MudButton>
                 </div>
             </EditForm>
        </MudItem>
       
    </MudCardContent>
</MudCard>