@layout AuthLayout
@page "/register"
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject IAuthService AuthService
@inject ISnackbar Snackbar
@inject IUserRoleService UserRoleService
<PageTitle>Register</PageTitle>

<style>
    .card {
        background: #e9ecef;
        border: none;
        box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
        border-radius: 20px;
    }

    .frmselect {
        border: none;
        /*box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;*/
        border-radius: 10px;
        padding: 0px 15px 4px 15px;
        background: #e8e1e1;
        height: 45px;
        border: 1px solid #e8e1e1;
    }

    .mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text {
        margin-top: 12px;
    }

    .btnlogin {
        border: none;
        box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
        border-radius: 20px;
        background-color: #F1BC3A;
        color: #424242;
        padding: 10px 0px 6px 0px;
    }
</style>

<div class="card p-4 mt-5 w-25 w-md-100 m-auto h-auto">
    <div class="d-flex flex-column align-items-center m-auto mb-3">
        <img src="./images/SonicSales.png" width="150px" alt=""><span class="h1">@* HRiS App *@</span>
    </div>
    <h3>Register</h3>
    @if (showAlert)
    {
        <MudAlert Severity="@_severity" ShowCloseIcon="true" CloseIconClicked="CloseMe" Class="mb-2">@message</MudAlert>
    }
    <EditForm Model="reg" OnValidSubmit="HandleRegistration">
        <DataAnnotationsValidator/>
        <div class="d-flex flex-column flex-grow-1 gap-1 mb-3">
            <div class="flex-grow-1">
                <MudText Typo="Typo.caption">Full Name</MudText>
                <MudTextField @bind-Value="reg.FullName" For="@(() => reg.FullName)" Variant="Variant.Outlined" Margin="Margin.Dense" />
            </div>
            <div class="flex-grow-1">
                <MudText Typo="Typo.caption">Username</MudText>
                <MudTextField @bind-Value="reg.Username" For="@(() => reg.Username)" Variant="Variant.Outlined" Margin="Margin.Dense" />
            </div>
            <div class="flex-grow-1">
                <MudText Typo="Typo.caption">Email</MudText>
                <MudTextField @bind-Value="reg.Email" For="@(() => reg.Email)" Variant="Variant.Outlined" Margin="Margin.Dense" />

            </div>
            <div class="flex-grow-1">
                <MudText Typo="Typo.caption">Password</MudText>
                <MudTextField @bind-Value="reg.Password" For="@(() => reg.Password)" Variant="Variant.Outlined" Margin="Margin.Dense" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password" />
            </div>
            <div class="flex-grow-1">
                <MudText Typo="Typo.caption">Confirm Password</MudText>
                <MudTextField @bind-Value="reg.ConfirmPassword" For="@(() => reg.ConfirmPassword)" Variant="Variant.Outlined" Margin="Margin.Dense" InputType="@CPasswordInput" Adornment="Adornment.End" AdornmentIcon="@CPasswordInputIcon" OnAdornmentClick="CButtonTestclick" AdornmentAriaLabel="Show Password" />
            </div>
            <div class="flex-grow-1">
                <MudText Typo="Typo.caption">Role</MudText>
                <MudSelect Class="frmselect" @bind-Value="reg.Role" DisableUnderLine Margin="Margin.Dense">
                     <MudSelectItem Value="@roleholder" Disabled>---Select Role---</MudSelectItem>
                    @foreach (var roles in UserRolesL)
                    {
                        <MudSelectItem Value="@roles.RoleCode">@roles.Name</MudSelectItem>
                    }
                </MudSelect>
            </div>
        </div>
         <div class="d-flex flex-column flex-grow-1">
                 <MudButton Class="btnlogin mb-2" Disabled="@_processing" ButtonType="ButtonType.Submit">
                    @if (_processing)
                    {
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                        <MudText Class="ms-2">Register</MudText>
                    }
                    else
                    {
                        <MudText>Register</MudText>
                    }
                </MudButton>
                <div class="d-flex justify-content-center mb-2">
                    <a href="/" class="w-auto"><small>Already have an account? <span style="text-decoration: underline">Login</span></small></a>
                </div>
         </div>
     </EditForm>
 </div>