@page "/asset-accessories"

@attribute [Authorize(Roles = "System Administrator")]

<PageTitle>Asset Accessories Management</PageTitle>

<div class="mb-5">
    <div class="d-flex flex-row mt-5 justify-content-between align-items-center">
        <span style="font-size: x-large;font-weight: 600;color: #424242;">Asset Accessories Management</span>
        <AuthorizeView Roles="System Administrator">
            <Authorized>
                <MudButton OnClick="OpenAddDialog" Variant="Variant.Filled" Size="Size.Medium" StartIcon="@Icons.Material.Rounded.Add" Class="btnadd"> Asset Accessory</MudButton>
            </Authorized>
        </AuthorizeView>
    </div>
</div>
<div class="box w-auto">
    <div class="d-flex justify-content-end">
        <div class="ssize">
            <MudTextField DisableUnderLine @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="tsearch mb-5" Immediate=true Margin="Margin.Dense" />
        </div>
    </div>
    @if (AssetAccessList == null || AssetAccessList.Count == 0)
    {
        <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Class="my-7" hidden="@_isVisible" />

        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="auto" hidden="@_isVisible" />
        <MudCardContent hidden="@_isVisible">
            <MudSkeleton Width="30%" Height="42px;" />
            <MudSkeleton Width="80%" />
            <MudSkeleton Width="100%" />
        </MudCardContent>
        <MudCardActions hidden="@_isVisible">
            <MudSkeleton Width="64px" Height="40px" Class="ml-2" />
            <MudSkeleton Width="105px" Height="40px" Class="ml-3" />
        </MudCardActions>
        @if (_isVisible == true)
        {
            <div class="divnodata">
                <MudImage Src="images/nodata.png" Alt="No Data" Width="332" Height="220" Class="rounded-lg" />
                <span class="nodataspan">No Data Available</span>
            </div>
        }
    }
    else
    {
        <div style="height: calc(100% - 64px)">
            <MudTable Class="stable d-flex justify-content-between align-content-between flex-column h-100" Items="AssetAccessList" Context="obj" SortLabel="Sort By" FixedHeader="true" Elevation="0" HorizontalScrollbar="true" Dense="true" Hover="true" Bordered="false" Striped="true" Filter="new Func<AssetAccessoryT,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
                <HeaderContent>
                    <MudTh Style="background: #e9ecef; font-weight: bold; font-size: 16px;">Asset Code</MudTh>
                    <MudTh Style="background: #e9ecef; font-weight: bold; font-size: 16px;">Brand</MudTh>
                    <MudTh Style="background: #e9ecef; font-weight: bold; font-size: 16px;">Model</MudTh>
                    <MudTh Style="background: #e9ecef; font-weight: bold; font-size: 16px;">Sub Category</MudTh>
                    <MudTh Style="background: #e9ecef; font-weight: bold; font-size: 16px;">Status</MudTh>
                    <MudTh Style="background: #e9ecef; font-weight: bold; font-size: 16px;">Action</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel=""><b>@obj.Asset</b></MudTd>
                    <MudTd DataLabel="">@obj.Brand</MudTd>
                    <MudTd DataLabel="">@obj.Model</MudTd>
                    <MudTd DataLabel="">@obj.SubCategory?.ASubCat_Name</MudTd>
                    @if (obj.AssetStatusId == 2)
                    {
                        <MudTd Style="color: gray;font-weight: 500">@obj.AssetStatus?.Name</MudTd>
                    }
                    else if (obj.AssetStatusId == 3)
                    {
                        <MudTd Style="color: #7567b8;font-weight: 500">@obj.AssetStatus?.Name</MudTd>
                    }
                    else if (obj.AssetStatusId == 4)
                    {
                        <MudTd Style="color: #9caac1;font-weight: 500">@obj.AssetStatus?.Name</MudTd>
                    }
                    else if (obj.AssetStatusId == 5)
                    {
                        <MudTd Style="color: #e38d0f;font-weight: 500">@obj.AssetStatus?.Name</MudTd>
                    }
                    else if (obj.AssetStatusId == 6)
                    {
                        <MudTd Style="color: #be1313;font-weight: 500">@obj.AssetStatus?.Name</MudTd>
                    }
                    else
                    {
                        <MudTd Style="color: #397763;font-weight: 500">@obj.AssetStatus?.Name</MudTd>
                    }
                    <MudTd>
                        <AuthorizeView Roles="System Administrator">
                            <Authorized>
                                <MudTooltip Text="Details">
                                    <MudIconButton Class="btnedit" OnClick="(() => OpenUpdateDialog(obj.Id))" Icon="@Icons.Material.Rounded.Info" aria-label="Edit"></MudIconButton>
                                </MudTooltip>
                            </Authorized>
                            <NotAuthorized>
                                <MudIconButton Disabled Class="btnedit" OnClick="(() => OpenUpdateDialog(obj.Id))" Icon="@Icons.Material.Rounded.Info" aria-label="Edit"></MudIconButton>
                            </NotAuthorized>
                        </AuthorizeView>
                    </MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager PageSizeOptions="new int[] { 10, 25, int.MaxValue }" InfoFormat="@($"Right {infoFormat}")" HorizontalAlignment="HorizontalAlignment.Right" />
                </PagerContent>
            </MudTable>
        </div>
    }
</div>
