<MudDialog Style="background-color: #e9ecef;">
    <DialogContent>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center assacc-title">
                        @if (!isUpdating)
                        {
                            <span>Asset Accessory</span>
                        }
                        else
                        {
                            <span>Update Asset Accessory</span>
                        }
                        <AuthorizeView Roles="HR, System Administrator">
                            <Authorized>
                                @if (!isUpdating)
                                {
                                    <button class="Btn" @onclick="UpdateForm">

                                        <div class="sign"><MudIcon Icon="@Icons.Material.Rounded.Edit"></MudIcon></div>

                                        <div class="text">Update</div>
                                    </button>
                                }
                            </Authorized>
                        </AuthorizeView>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-5">
                    <div class="assacc-leftpane">
                        <div class="d-flex flex-column gap-2">
                            <span>Accessory</span>
                            @if (!isUpdating)
                            {
                                <div class="assacc-details flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Asset Code</MudText>
                                    <MudText Align="Align.Start" Style="color: #27374D; font-weight:bold;" Typo="Typo.body2">@obj.Asset</MudText>
                                </div>
                                <div class="assacc-details flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Type</MudText>
                                    <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@obj.Type?.AType_Name</MudText>
                                </div>
                                <div class="assacc-details flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Category</MudText>
                                    <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@obj.Category?.ACat_Name</MudText>
                                </div>
                                <div class="assacc-details flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Sub Category</MudText>
                                    <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@obj.SubCategory?.ASubCat_Name</MudText>
                                </div>
                                <div class="assacc-details flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Location</MudText>
                                    <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@obj.Location</MudText>
                                </div>
                                <div class="assacc-details flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Status</MudText>
                                    @if (obj.AssetStatusId == 2)
                                    {
                                        <MudText Align="Align.Start" Style="color: gray; font-weight:bold;" Typo="Typo.body2">@obj.AssetStatus?.Name</MudText>
                                    }
                                    else if (obj.AssetStatusId == 3)
                                    {
                                        <MudText Align="Align.Start" Style="color: #7567b8; font-weight:bold;" Typo="Typo.body2">@obj.AssetStatus?.Name - @obj.StatusDate?.ToString("MMM dd yyyy") </MudText>
                                    }
                                    else if (obj.AssetStatusId == 4)
                                    {
                                        <MudText Align="Align.Start" Style="color: #9caac1; font-weight:bold;" Typo="Typo.body2">@obj.AssetStatus?.Name - @obj.StatusDate?.ToString("MMM dd yyyy")</MudText>
                                    }
                                    else if (obj.AssetStatusId == 5)
                                    {
                                        <MudText Align="Align.Start" Style="color: #e38d0f; font-weight:bold;" Typo="Typo.body2">@obj.AssetStatus?.Name - @obj.StatusDate?.ToString("MMM dd yyyy")</MudText>
                                    }
                                    else if (obj.AssetStatusId == 6)
                                    {
                                        <MudText Align="Align.Start" Style="color: #be1313; font-weight:bold;" Typo="Typo.body2">@obj.AssetStatus?.Name - @obj.StatusDate?.ToString("MMM dd yyyy")</MudText>
                                    }
                                    else
                                    {
                                        <MudText Align="Align.Start" Style="color: #397763; font-weight:bold;" Typo="Typo.body2">@obj.AssetStatus?.Name</MudText>
                                    }
                                </div>
                            }
                            else
                            {
                                <div class="flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Asset Code</MudText>
                                    <MudTextField @bind-Value="obj.Asset" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                </div>
                                <div class="flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Type</MudText>
                                    <MudSelect @bind-Value="obj.TypeId" Variant="Variant.Outlined" Margin="Margin.Dense">
                                        <MudSelectItem Disabled="true" Value="0">Select</MudSelectItem>
                                        @foreach (var sec in TYPES)
                                        {
                                            <MudSelectItem Value="@sec.Id">@sec.AType_Name</MudSelectItem>
                                        }
                                    </MudSelect>
                                </div>
                                <div class="flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Category</MudText>
                                    <MudSelect @bind-Value="obj.CategoryId" Variant="Variant.Outlined" Margin="Margin.Dense">
                                        <MudSelectItem Disabled="true" Value="0">Select</MudSelectItem>
                                        @foreach (var sec in CAT)
                                        {
                                            <MudSelectItem Value="@sec.Id">@sec.ACat_Name</MudSelectItem>
                                        }
                                    </MudSelect>
                                </div>
                                <div class="flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Sub Category</MudText>
                                    <MudSelect @bind-Value="obj.SubCategoryId" Variant="Variant.Outlined" Margin="Margin.Dense">
                                        <MudSelectItem Disabled="true" Value="0">Select</MudSelectItem>
                                        @foreach (var sec in SUBCAT.Where(e => e.CategoryId == obj.CategoryId))
                                        {
                                            <MudSelectItem Value="@sec.Id">@sec.ASubCat_Name</MudSelectItem>
                                        }
                                    </MudSelect>
                                </div>
                                <div class="flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Location</MudText>
                                    <MudTextField @bind-Value="obj.Location" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                </div>
                                <div class="flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Status</MudText>
                                    <MudSelect @bind-Value="obj.AssetStatusId" Variant="Variant.Outlined" Margin="Margin.Dense">
                                        <MudSelectItem Disabled="true" Value="0">Select</MudSelectItem>
                                        @foreach (var sec in STATUS)
                                        {
                                            <MudSelectItem Value="@sec.Id">@sec.Name</MudSelectItem>
                                        }
                                    </MudSelect>
                                </div>
                                @if (obj.AssetStatusId != 1 && obj.AssetStatusId != 2)
                                {
                                    <div class="flex-grow-1">
                                        <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">
                                            @{
                                                var tes = STATUS.Where(e => e.Id == obj.AssetStatusId).FirstOrDefault();
                                            }
                                            @tes?.Name DATE
                                        </MudText>
                                        <MudDatePicker Editable="true" @bind-Date="obj.StatusDate" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="assacc-rightpane">
                        <div class="d-flex flex-column gap-2">
                            <span>Details</span>
                            @if (!isUpdating)
                            {
                                <div class="assacc-details flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Brand</MudText>
                                    <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@obj.Brand</MudText>
                                </div>
                                <div class="assacc-details flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Model</MudText>
                                    <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@obj.Model</MudText>
                                </div>
                                <div class="assacc-details flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Serial</MudText>
                                    <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@obj.Serial</MudText>
                                </div>
                                <div class="assacc-details flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Purchase Date</MudText>
                                    <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@obj.PurchaseDate?.ToString("MM/dd/yyyy")</MudText>
                                </div>
                                <div class="assacc-details flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">End of Useful Life (Months)</MudText>
                                    @if (IsEndOfUsefulLife())
                                    {
                                        <MudText Align="Align.Start" Style="color: #be1313; font-weight:bold;" Typo="Typo.body2">@obj.EUF Months</MudText>
                                    }
                                    else
                                    {
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@obj.EUF Months</MudText>
                                    }

                                </div>
                                <div class="assacc-details flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Remarks</MudText>
                                    <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@obj.Remarks</MudText>
                                </div>
                            }
                            else
                            {
                                <div class="flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Brand</MudText>
                                    <MudTextField @bind-Value="obj.Brand" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                </div>
                                <div class="flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Model</MudText>
                                    <MudTextField @bind-Value="obj.Model" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                </div>
                                <div class="flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Serial</MudText>
                                    <MudTextField @bind-Value="obj.Serial" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                </div>
                                <div class="flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Purchase Date</MudText>
                                    <MudDatePicker Editable="true" @bind-Date="obj.PurchaseDate" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                </div>
                                <div class="flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">End of Useful Life (Months)</MudText>
                                    <MudTextField @bind-Value="obj.EUF" Mask="@(new PatternMask("00000"))" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                </div>
                                <div class="flex-grow-1">
                                    <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Remarks</MudText>
                                    <MudTextField @bind-Value="obj.Remarks" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                </div>
                            }
                        </div>
                    </div>

                    @if (!isUpdating)
                    {
                        <div class="assacc-rightpane" style="margin-top: 20px;">
                            <div class="d-flex flex-column gap-2">
                                <span>Main Asset</span>
                                @if (obj.MainAssetId == null)
                                {
                                    <span>Not yet connected</span>
                                }
                                else
                                {
                                    <div class="assacc-details flex-grow-1">
                                        <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Main Asset</MudText>
                                        <MudText Align="Align.Start" Style="color: #27374D; font-weight:bold;" Typo="Typo.body2">@obj.MainAsset?.WorksationName</MudText>
                                    </div>
                                    <div class="assacc-details flex-grow-1">
                                        <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Category</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@obj.Category?.ACat_Name</MudText>
                                    </div>
                                    <div class="assacc-details flex-grow-1">
                                        <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Sub Category</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@obj.SubCategory?.ASubCat_Name</MudText>
                                    </div>
                                    <div class="assacc-details flex-grow-1">
                                        <MudText Align="Align.Start" Style="color: #6A707D;" Typo="Typo.caption">Mac Address</MudText>
                                        <MudText Align="Align.Start" Style="color: #757A90; font-weight:bold;" Typo="Typo.body2">@obj.MainAsset?.MacAddress</MudText>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </DialogContent>
    <DialogActions>
        <div class="dialogbtns">
            @if (isUpdating)
            {
                <button type="button" class="btn cancel" @onclick="Cancel">Cancel</button>
                <button type="button" class="save btn" @onclick="SaveUpdate">Save</button>
            }
        </div>
    </DialogActions>
</MudDialog>