@inject NavigationManager navigationManager
@inject SweetAlertService Swal
@inject IJSRuntime jsRuntime
@inject ISectionService SectionService
@inject IDivisionService DivisionService
@inject IDepartmentService DepartmentService
@inject IPositionService PositionService
@inject IAreaService AreaService
@inject IManpowerService ManpowerService
@inject IToastService _toastService
@inject GlobalConfigService GlobalConfigService
@inject IAuditlogService AuditlogService
@inject StateService StateService
@inject IDialogService _dialogService


<style>
    .mud-input.mud-input-outlined.mud-input-adorned-end {
        /*         width: 300px;
     */ padding-right: 14px;
        padding-inline-end: 14px;
        padding-inline-start: unset;
    }
</style>

<MudDialog>
    <DialogContent>
        @* Select Division *@
        <div class="d-flex flex-column divcont">
            <div class="d-flex flex-column">
                <div class="flex-grow-1">
                    <MudText Typo="Typo.body2">Division</MudText>
                    <MudSelect @bind-Value="selectedDivision" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom:5px;">
                        <MudSelectItem Disabled="true" Value="0">---Select Division---</MudSelectItem>
                        @foreach (var div in Division)
                        {
                            <MudSelectItem Value="@div.Id">@div.Name</MudSelectItem>
                        }
                    </MudSelect>
                </div>
                @if (selectedDivision != 0)
                {
                    var selectedCategoryObject = Division.FirstOrDefault(c => c.Id == selectedDivision);
                    if (selectedCategoryObject != null)
                    {
                        var departments = Department.Where(d => d.DivisionId == selectedCategoryObject.Id).ToList();
                        @* Select Department *@
                        <div class="flex-grow-1">
                            <MudText Typo="Typo.body2">Department</MudText>
                            <MudSelect @bind-Value="selectedDepartment" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom:5px;">
                                <MudSelectItem Disabled="true" Value="0">---Select Department---</MudSelectItem>
                                @foreach (var department in departments)
                                {
                                    <MudSelectItem Value="@department.Id">@department.Name</MudSelectItem>
                                }
                            </MudSelect>
                        </div>
                    }
                }

                @if (selectedDepartment != 0)
                {
                    var departmentHasSections = Sections.Any(s => s.DepartmentId == selectedDepartment);
                    if (departmentHasSections)
                    {
                        var departmentSections = Sections.Where(s => s.DepartmentId == selectedDepartment).ToList();
                        @* Select Section *@
                        <div class="flex-grow-1">
                            <MudText Typo="Typo.body2">Section</MudText>
                            <MudSelect @bind-Value="selectedSection" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;">
                                <MudSelectItem Disabled="true" Value="0">---Select Section---</MudSelectItem>
                                @foreach (var sec in departmentSections)
                                {
                                    <MudSelectItem Value="@sec.Id">@sec.Name</MudSelectItem>
                                }
                            </MudSelect>
                        </div>

                        <MudDivider DividerType="DividerType.Middle" Class="my-6" />
                        @* Select Area *@
                        <div class="flex-grow-1">
                            <MudText Typo="Typo.body2">Area</MudText>
                            <MudSelect @bind-Value="selectedArea" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom:5px;">
                                <MudSelectItem Disabled="true" Value="0">---Select Area---</MudSelectItem>
                                @foreach (var areas in Areas)
                                {
                                    <MudSelectItem Value="@areas.Id">@areas.Name</MudSelectItem>
                                }
                            </MudSelect>
                        </div>
                        <div class="flex-grow-1">
                            <MudText Typo="Typo.body2">Position</MudText>
                            <MudTextField @bind-Value="newPosition" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                        </div>
                        <div class="flex-grow-1">
                            <MudText Typo="Typo.body2">No. of Personnel Required</MudText>
                            <MudTextField @bind-Value="newPlantilla" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                        </div>
                        <div class="flex-grow-1">
                            <MudText Typo="Typo.body2">Job Summary</MudText>
                            <MudTextField @bind-Value="newSummary" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" Style="margin-bottom: 5px;" />
                        </div>
                        <div class="flex-grow-1">
                            <MudText Typo="Typo.body2">Position Type</MudText>
                            <MudSelect @bind-Value="newPosType" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom:5px;">
                                <MudSelectItem Disabled="true" Value="@newPosTypeHolder">---Select---</MudSelectItem>
                                <MudSelectItem Value="@("Temporary")" />
                                <MudSelectItem Value="@("Permanent")" />
                            </MudSelect>
                        </div>
                        @if (newPosType == "Temporary")
                        {
                            <MudText Typo="Typo.body2">Temporary Duration</MudText>
                            <div class="d-flex flex-row gap-2 align-items-center col-6">
                                <MudTextField @bind-Value="newDuration" Mask="@(new PatternMask("000"))" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                <MudText Typo="Typo.body2">Month/s</MudText>
                            </div>
                        }
                        <MudDivider DividerType="DividerType.Middle" Class="my-6" />
                        <span style="font-size: 16px; color: #E38D0F"><b>Manpower Sourcing</b></span>
                        <div class="flex-grow-1 d-flex justify-content-center">
                            <div class="col6">
                            <MudRadioGroup @bind-SelectedOption="@newManpower">
                                <MudRadio Option="@("Internal")" Color="Color.Secondary">Internal</MudRadio>
                                <MudRadio Option="@("External")" Color="Color.Secondary">External</MudRadio>
                            </MudRadioGroup>
                            </div>
                            
                        </div>
                        <div class="flex-grow-1">
                            @if (newManpower == "External")
                            {
                                <MudText Typo="Typo.body2">External Source</MudText>
                                <MudSelect @bind-Value="selectedExternal" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom:5px;">
                                    <MudSelectItem Value="0">N/A</MudSelectItem>
                                    @foreach (var item in Externals)
                                    {
                                        <MudSelectItem Value="@item.Id">@item.External_Name</MudSelectItem>
                                    }
                                </MudSelect>
                            }
                        </div>
                        <MudDivider DividerType="DividerType.Middle" Class="my-6" />
                        <span style="font-size: 16px; color: #E38D0F"><b>Qualication Requirements</b></span>
                        <div class="d-flex flex-column" style="margin-bottom: 10px;">
                            <div class="flex-grow-1">
                                <MudText Typo="Typo.body2">Education</MudText>
                                <div class="d-flex">
                                    <MudTextField @bind-Value="newEduc" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    <MudIconButton Class="btnsmallsapos" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" OnClick="@(() => AddNewEduc(newPosCode, newEduc))"></MudIconButton>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap flex-grow-1">
                                <MudChipSet AllClosable="true" OnClose="CloseEduc">
                                    @foreach (var item in listOfEduc)
                                    {
                                        <MudChip Style="color: #fafaf5; background-color: #424242;" Text="@item.EducName"></MudChip>
                                    }
                                </MudChipSet>
                            </div>
                        </div>
                        <div class="d-flex flex-column" style="margin-bottom: 10px;">
                            <div class="flex-grow-1">
                                <MudText Typo="Typo.body2">Work Experience (please specify required years of experience)</MudText>
                                <div class="d-flex">
                                    <MudTextField @bind-Value="newWorkExp" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    <MudIconButton Class="btnsmallsapos" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" OnClick="@(() => AddNewWorkExp(newPosCode, newWorkExp))"></MudIconButton>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap flex-grow-1">
                                <MudChipSet AllClosable="true" OnClose="CloseWorkExp">
                                    @foreach (var item in listOfWorkExp)
                                    {
                                        <MudChip Style="color: #fafaf5; background-color: #424242;" Text="@item.ExpName"></MudChip>
                                    }
                                </MudChipSet>
                            </div>
                        </div>
                        <div class="d-flex flex-column" style="margin-bottom: 10px;">
                            <div class="flex-grow-1">
                                <MudText Typo="Typo.body2">Technical Skills:</MudText>
                                <div class="d-flex">
                                    <MudTextField @bind-Value="newTechSkill" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    <MudIconButton Class="btnsmallsapos" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" OnClick="@(() => AddNewTechSkill(newPosCode, newTechSkill))"></MudIconButton>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap flex-grow-1">
                                <MudChipSet AllClosable="true" OnClose="CloseTechSkill">
                                    @foreach (var item in listOfTechSkills)
                                    {
                                        <MudChip Color="Color.Secondary" Text="@item.SkillName"></MudChip>
                                    }
                                </MudChipSet>

                            </div>
                        </div>
                        <div class="d-flex flex-column" style="margin-bottom: 10px;">
                            <div class="flex-grow-1">
                                <MudText Typo="Typo.body2">Knowledge Of:</MudText>
                                <div class="d-flex">
                                    <MudTextField @bind-Value="newKnowledge" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    <MudIconButton Class="btnsmallsapos" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" OnClick="@(() => AddNewKnowledge(newPosCode, newKnowledge))"></MudIconButton>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap flex-grow-1">
                                <MudChipSet AllClosable="true" OnClose="CloseKnowledge">
                                    @foreach (var item in listOfKnowledge)
                                    {
                                        <MudChip Color="Color.Info" Text="@item.KnowName"></MudChip>
                                    }
                                </MudChipSet>
                            </div>
                        </div>
                        <div class="d-flex flex-column" style="margin-bottom: 10px;">
                            <div class="flex-grow-1">
                                <MudText Typo="Typo.body2">Computer Application:</MudText>
                                <div class="d-flex">
                                    <MudTextField @bind-Value="newComApp" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    <MudIconButton Class="btnsmallsapos" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" OnClick="@(() => AddNewComApp(newPosCode, newComApp))"></MudIconButton>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap flex-grow-1">
                                <MudChipSet AllClosable="true" OnClose="CloseComApp">
                                    @foreach (var item in listOfComApp)
                                    {
                                        <MudChip Color="Color.Tertiary" Text="@item.ComName"></MudChip>
                                    }
                                </MudChipSet>
                            </div>
                        </div>
                        <div class="flex-grow-1">
                            <MudText Typo="Typo.body2">Other Competencies:</MudText>
                            <MudTextField @bind-Value="newOtherComp" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                        </div>
                        <div class="flex-grow-1">
                            <MudText Typo="Typo.body2">Restrictions (if there is any)</MudText>
                            <MudTextField @bind-Value="newRestrict" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                        </div>
                    }
                    else
                    {
                        <MudDivider DividerType="DividerType.Middle" Class="my-6" />
                        @* Select Area *@
                        <div class="flex-grow-1">
                            <MudSelect Label="Select Area" @bind-Value="selectedArea" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom:5px;">
                                <MudSelectItem Disabled="true" Value="0">---Select Area---</MudSelectItem>
                                @foreach (var areas in Areas)
                                {
                                    <MudSelectItem Value="@areas.Id">@areas.Name</MudSelectItem>
                                }
                            </MudSelect>
                        </div>
                        <div class="flex-grow-1">
                            <MudText Typo="Typo.body2">Position</MudText>
                            <MudTextField @bind-Value="newPosition" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                        </div>
                        <div class="flex-grow-1">
                            <MudText Typo="Typo.body2">No. of Personnel Required</MudText>
                            <MudTextField @bind-Value="newPlantilla" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                        </div>
                        <div class="flex-grow-1">
                            <MudText Typo="Typo.body2">Job Summary</MudText>
                            <MudTextField @bind-Value="newSummary" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" Style="margin-bottom: 5px;" />
                        </div>
                        <div class="flex-grow-1">
                            <MudText Typo="Typo.body2">Position Type</MudText>
                            <MudSelect @bind-Value="newPosType" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom:5px;">
                                <MudSelectItem Disabled="true" Value="@newPosTypeHolder">---Select---</MudSelectItem>
                                <MudSelectItem Value="@("Temporary")" />
                                <MudSelectItem Value="@("Permanent")" />
                            </MudSelect>
                        </div>
                        @if (newPosType == "Temporary")
                        {
                            <MudText Typo="Typo.body2">Temporary Duration</MudText>
                            <div class="d-flex flex-row gap-2 align-items-center">
                                <MudTextField @bind-Value="newDuration" Mask="@(new PatternMask("000"))" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                <MudText Typo="Typo.body2">Month/s</MudText>
                            </div>
                        }
                        <MudDivider DividerType="DividerType.Middle" Class="my-6" />
                        <span style="font-size: 16px; color: #E38D0F"><b>Manpower Sourcing</b></span>
                        <div class="flex-grow-1 d-flex justify-content-center">
                            <div class="col6">
                                <MudRadioGroup @bind-SelectedOption="@newManpower">
                                    <MudRadio Option="@("Internal")" Color="Color.Secondary">Internal</MudRadio>
                                    <MudRadio Option="@("External")" Color="Color.Secondary">External</MudRadio>
                                </MudRadioGroup>
                            </div>

                        </div>
                        <div class="flex-grow-1">
                            @if (newManpower == "External")
                            {
                                <MudText Typo="Typo.body2">External Source</MudText>
                                <MudSelect @bind-Value="selectedExternal" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom:5px;">
                                    <MudSelectItem Value="0">N/A</MudSelectItem>
                                    @foreach (var item in Externals)
                                    {
                                        <MudSelectItem Value="@item.Id">@item.External_Name</MudSelectItem>
                                    }
                                </MudSelect>
                            }
                        </div>
                        <MudDivider DividerType="DividerType.Middle" Class="my-6" />
                        <span style="font-size: 16px; color: #E38D0F"><b>Qualication Requirements</b></span>
                        <div class="d-flex flex-column" style="margin-bottom: 10px;">
                            <div class="flex-grow-1">
                                <MudText Typo="Typo.body2">Education</MudText>
                                <div class="d-flex">
                                    <MudTextField @bind-Value="newEduc" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    <MudIconButton Class="btnsmallsapos" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" OnClick="@(() => AddNewEduc(newPosCode, newEduc))"></MudIconButton>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap flex-grow-1">
                                <MudChipSet AllClosable="true" OnClose="CloseEduc">
                                    @foreach (var item in listOfEduc)
                                    {
                                        <MudChip Style="color: #fafaf5; background-color: #424242;" Text="@item.EducName"></MudChip>
                                    }
                                </MudChipSet>
                            </div>
                        </div>
                        <div class="d-flex flex-column" style="margin-bottom: 10px;">
                            <div class="flex-grow-1">
                                <MudText Typo="Typo.body2">Work Experience (please specify required years of experience)</MudText>
                                <div class="d-flex">
                                    <MudTextField @bind-Value="newWorkExp" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    <MudIconButton Class="btnsmallsapos" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" OnClick="@(() => AddNewWorkExp(newPosCode, newWorkExp))"></MudIconButton>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap flex-grow-1">
                                <MudChipSet AllClosable="true" OnClose="CloseComApp">
                                    @foreach (var item in listOfWorkExp)
                                    {
                                        <MudChip Style="color: #fafaf5; background-color: #424242;" Text="@item.ExpName"></MudChip>
                                    }
                                </MudChipSet>
                            </div>
                        </div>
                        <div class="d-flex flex-column" style="margin-bottom: 10px;">
                            <div class="flex-grow-1">
                                <MudText Typo="Typo.body2">Technical Skills:</MudText>
                                <div class="d-flex">
                                    <MudTextField @bind-Value="newTechSkill" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    <MudIconButton Class="btnsmallsapos" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" OnClick="@(() => AddNewTechSkill(newPosCode, newTechSkill))"></MudIconButton>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap flex-grow-1">
                                <MudChipSet AllClosable="true" OnClose="CloseTechSkill">
                                    @foreach (var item in listOfTechSkills)
                                    {
                                        <MudChip Color="Color.Secondary" Text="@item.SkillName"></MudChip>
                                    }
                                </MudChipSet>

                            </div>
                        </div>
                        <div class="d-flex flex-column" style="margin-bottom: 10px;">
                            <div class="flex-grow-1">
                                <MudText Typo="Typo.body2">Knowledge Of:</MudText>
                                <div class="d-flex">
                                    <MudTextField @bind-Value="newKnowledge" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    <MudIconButton Class="btnsmallsapos" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" OnClick="@(() => AddNewKnowledge(newPosCode, newKnowledge))"></MudIconButton>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap flex-grow-1">
                                <MudChipSet AllClosable="true" OnClose="CloseKnowledge">
                                    @foreach (var item in listOfKnowledge)
                                    {
                                        <MudChip Color="Color.Info" Text="@item.KnowName"></MudChip>
                                    }
                                </MudChipSet>
                            </div>
                        </div>
                        <div class="d-flex flex-column" style="margin-bottom: 10px;">
                            <div class="flex-grow-1">
                                <MudText Typo="Typo.body2">Computer Application:</MudText>
                                <div class="d-flex">
                                    <MudTextField @bind-Value="newComApp" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                                    <MudIconButton Class="btnsmallsapos" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" OnClick="@(() => AddNewComApp(newPosCode, newComApp))"></MudIconButton>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap flex-grow-1">
                                <MudChipSet AllClosable="true" OnClose="CloseComApp">
                                    @foreach (var item in listOfComApp)
                                    {
                                        <MudChip Color="Color.Tertiary" Text="@item.ComName"></MudChip>
                                    }
                                </MudChipSet>
                            </div>
                        </div>
                        <div class="flex-grow-1">
                            <MudText Typo="Typo.body2">Other Competencies:</MudText>
                            <MudTextField @bind-Value="newOtherComp" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                        </div>
                        <div class="flex-grow-1">
                            <MudText Typo="Typo.body2">Restrictions (if there is any)</MudText>
                            <MudTextField @bind-Value="newRestrict" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                        </div>
                    }
                }
            </div>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Class="btnadd" @onclick="ConfirmCreatePositionAsync">Save</MudButton>
    </DialogActions>
</MudDialog>
