@inject IPositionService PositionService
@inject IAreaService AreaService
@inject SweetAlertService Swal
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@inject IToastService _toastService
@inject GlobalConfigService GlobalConfigService
@inject IAuditlogService AuditlogService
@inject StateService StateService

<MudDialog>
    <DialogContent>
        @foreach (var item in Areas)
        {
            @if (item.Id == position.AreaId)
            {
                <div style="margin-bottom: 15px;" class="d-flex justify-content-start">
                    <span style="font-size: 16px;">Area: <b> @item.Name</b></span>
                </div>
            }
        }
        <div class="flex-grow-1">
            <MudText Typo="Typo.body2">Position</MudText>
            <MudTextField @bind-Value="position.Name" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
        </div>
        <div class="flex-grow-1">
            <MudText Typo="Typo.body2">No. of Personnel Required</MudText>
            <MudTextField @bind-Value="position.Plantilla" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
        </div>
        <div class="flex-grow-1">
            <MudText Typo="Typo.body2">Job Summary</MudText>
            <MudTextField @bind-Value="position.JobSummary" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
        </div>
        <span style="margin-bottom: 5px; font-size: 16px; color: #E38D0F"><b>Qualication Requirements</b></span>
        <div class="d-flex flex-column" style="margin-bottom: 10px;">
            <div class="flex-grow-1">
                <MudText Typo="Typo.body2">Education</MudText>
                <div class="d-flex">
                    <MudTextField @bind-Value="newEduc" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                    <MudIconButton Class="btnsmallsapos" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" OnClick="@(() => AddNewEduc(position.PosCode, newEduc))"></MudIconButton>
                </div>
            </div>
            <div class="d-flex flex-wrap flex-grow-1">
                <MudChipSet AllClosable="true" OnClose="CloseEduc">
                    @foreach (var item in listOfEduc)
                    {
                        <MudChip Style="color: #fafaf5; background-color: #424242;" Text="@item.EducName"></MudChip>
                    }
                </MudChipSet>
            </div>
        </div>
        <div class="d-flex flex-column" style="margin-bottom: 10px;">
            <div class="flex-grow-1">
                <MudText Typo="Typo.body2">Work Experience (please specify required years of experience)</MudText>
                <div class="d-flex">
                    <MudTextField @bind-Value="newWorkExp" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                    <MudIconButton Class="btnsmallsapos" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" OnClick="@(() => AddNewWorkExp(position.PosCode, newWorkExp))"></MudIconButton>
                </div>
            </div>
            <div class="d-flex flex-wrap flex-grow-1">
                <MudChipSet AllClosable="true" OnClose="CloseWorkExp">
                    @foreach (var item in listOfWorkExp)
                    {
                        <MudChip Style="color: #fafaf5; background-color: #424242;" Text="@item.ExpName"></MudChip>
                    }
                </MudChipSet>
            </div>
        </div>
        <div class="d-flex flex-column" style="margin-bottom: 10px;">
            <div class="flex-grow-1">
                <MudText Typo="Typo.body2">Technical Skills:</MudText>
                <div class="d-flex">
                    <MudTextField @bind-Value="newTechSkill" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                    <MudIconButton Class="btnsmallsapos" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" OnClick="@(() => AddNewTechSkill(position.PosCode, newTechSkill))"></MudIconButton>
                </div>
            </div>
            <div class="d-flex flex-wrap flex-grow-1">
                <MudChipSet AllClosable="true" OnClose="CloseTechSkill">
                    @foreach (var item in listOfTechSkills)
                    {
                        <MudChip Color="Color.Secondary" Text="@item.SkillName"></MudChip>
                    }
                </MudChipSet>

            </div>
        </div>
        <div class="d-flex flex-column" style="margin-bottom: 10px;">
            <div class="flex-grow-1">
                <MudText Typo="Typo.body2">Knowledge Of:</MudText>
                <div class="d-flex">
                    <MudTextField @bind-Value="newKnowledge" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                    <MudIconButton Class="btnsmallsapos" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" OnClick="@(() => AddNewKnowledge(position.PosCode, newKnowledge))"></MudIconButton>
                </div>
            </div>
            <div class="d-flex flex-wrap flex-grow-1">
                <MudChipSet AllClosable="true" OnClose="CloseKnowledge">
                    @foreach (var item in listOfKnowledge)
                    {
                        <MudChip Color="Color.Info" Text="@item.KnowName"></MudChip>
                    }
                </MudChipSet>
            </div>
        </div>
        <div class="d-flex flex-column" style="margin-bottom: 10px;">
            <div class="flex-grow-1">
                <MudText Typo="Typo.body2">Computer Application:</MudText>
                <div class="d-flex">
                    <MudTextField @bind-Value="newComApp" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                    <MudIconButton Class="btnsmallsapos" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" OnClick="@(() => AddNewComApp(position.PosCode, newComApp))"></MudIconButton>
                </div>
            </div>
            <div class="d-flex flex-wrap flex-grow-1">
                <MudChipSet AllClosable="true" OnClose="CloseComApp">
                    @foreach (var item in listOfComApp)
                    {
                        <MudChip Color="Color.Tertiary" Text="@item.ComName"></MudChip>
                    }
                </MudChipSet>
            </div>
        </div>
        <div class="flex-grow-1">
            <MudText Typo="Typo.body2">Other Competencies:</MudText>
            <MudTextField @bind-Value="position.OtherCompetencies" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
        </div>
        <div class="flex-grow-1">
            <MudText Typo="Typo.body2">Restrictions (if there is any)</MudText>
            <MudTextField @bind-Value="position.Restrictions" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
        </div>
        
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Class="btnadd" OnClick="UpdateArea">Save</MudButton>
    </DialogActions>
</MudDialog>
