@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject IAuthService AuthService
@inject IUserRoleService UserRoleService
@inject IAuditlogService AuditlogService
@inject SweetAlertService Swal
@inject StateService StateService
@inject IToastService _toastService
@inject GlobalConfigService GlobalConfigService
@inject IEmployeeService EmployeeService
@inject IDivisionService DivisionService
@inject IDepartmentService DepartmentService

<main>
    <div style="text-align: center; margin-bottom: 10px;">
        <span style="font-size: x-large;">New Account</span>
    </div>
    <MudDivider DividerType="DividerType.Middle" Class="my-6" />
    @if (showAlert)
    {
        <MudAlert Severity="@_severity" ShowCloseIcon="true" CloseIconClicked="CloseMe" Class="mb-2">@message</MudAlert>
    }
    <EditForm Model="reg" OnValidSubmit="HandleRegistration">
        <DataAnnotationsValidator />
        <div class="d-flex flex-column flex-grow-1 gap-1 mb-3">
            <div class="flex-grow-1 mb-2">
                <MudText Typo="Typo.body2">Division</MudText>
                <MudSelect @bind-Value="divvar" Variant="Variant.Outlined" Margin="Margin.Dense">
                    <MudSelectItem Value=0 Disabled>---Select Division---</MudSelectItem>
                    @foreach (var div in DivisionsL)
                    {
                        <MudSelectItem Value="@div.Id">@div.Name</MudSelectItem>
                    }
                </MudSelect>
            </div>
            <div class="flex-grow-1 mb-2">
                <MudText Typo="Typo.body2">Department</MudText>
                @if (divvar != 0)
                {
                    <MudSelect @bind-Value="deptvar" Variant="Variant.Outlined" Margin="Margin.Dense">
                        <MudSelectItem Value=0
                                                      Disabled>---Select Department---</MudSelectItem>

                     @foreach (var dep in DepartmentsL.Where(d => d.DivisionId == divvar))
                        {
                            <MudSelectItem Value="@dep.Id">@dep.Name</MudSelectItem>
                        }

                    </MudSelect>
                }
                else
                {
                    <MudSelect @bind-Value="deptvar" Disabled Variant="Variant.Outlined" Margin="Margin.Dense">
                         <MudSelectItem Value=0 Disabled>---Select Department---</MudSelectItem>
                 </MudSelect>
                }
            </div>
            <div class="flex-grow-1 mb-2">
                <MudText Typo="Typo.body2">Employees</MudText>
                @if (divvar != 0 && deptvar != 0)
                {
                    <MudSelect Class="" @bind-Value="reg.EmployeeId" Variant="Variant.Outlined" Margin="Margin.Dense">
                        <MudSelectItem Value="0"
                                                      Disabled>---Select Employee---</MudSelectItem>

                     @foreach (var emp in EmployeesL.Where(d => d.DivisionId == divvar && d.DepartmentId == deptvar))
                        {
                            <MudSelectItem Value="@emp.Id">@emp.FirstName @emp.LastName</MudSelectItem>
                        }
                    </MudSelect>
                }
                else
                {
                    <MudSelect Class="" Disabled @bind-Value="reg.EmployeeId" Variant="Variant.Outlined" Margin="Margin.Dense">
                         <MudSelectItem Value="0" bled>---Select Employee---</MudSelectItem>
                     </MudSelect>
                }
            </div>
            <div class="flex-grow-1 mb-2">
                <MudText Typo="Typo.body2">Role</MudText>
                <MudSelect Class="" @bind-Value="reg.Role" Variant="Variant.Outlined" Margin="Margin.Dense">
                    <MudSelectItem Value="@roleholder" Disabled>---Select Role---</MudSelectItem>
                    @foreach (var roles in UserRolesL)
                    {
                        <MudSelectItem Value="@roles.RoleCode">@roles.Name</MudSelectItem>
                    }
                </MudSelect>
            </div>
            <div class="flex-grow-1  mb-4">
                <MudText Typo="Typo.body2">Username</MudText>
                @if (readonlyvar)
                {
                    <MudTextField T="string" Value="@GetFormattedUsername()" ReadOnly="@readonlyvar" Variant="Variant.Outlined" Margin="Margin.Dense" />
                }
                else
                {
                    <MudTextField @bind-Value="reg.Username" Immediate="true" Variant="Variant.Outlined" Margin="Margin.Dense" />
                }

            </div>
        </div>
        <div class="d-flex flex-column flex-grow-1">
            <MudButton Class="btnReg mb-2" Disabled="@_processing" ButtonType="ButtonType.Submit">
                @if (_processing)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    <MudText Class="ms-2">Registering</MudText>
                }
                else
                {
                    <MudText>Register Account</MudText>
                }
            </MudButton>
        </div>
    </EditForm>
</main>

@code {
    [CascadingParameter] MudDialogInstance? MudDialog { get; set; }

    void Cancel() => MudDialog?.Cancel();

    UserLoginDto reg = new();
    private bool _processing = false;
    private bool readonlyvar = true;
    private string? usernameHolder { get; set; }

    // MudAlert properties
    string message = string.Empty;
    MudBlazor.Severity _severity;
    private bool showAlert = false;
    public void CloseMe() => showAlert = false;

    string roleholder = string.Empty;

    private List<UserRoleT> UserRolesL = new();
    private List<DepartmentT> DepartmentsL = new();
    private List<DivisionT> DivisionsL = new();
    private List<EmployeeT> EmployeesL = new();

    private int divvar;
    private int deptvar;

    protected override async Task OnInitializedAsync()
    {
        await UserRoleService.GetUserRole();
        UserRolesL = UserRoleService.UserRoleTs;

        await DivisionService.GetDivision();
        DivisionsL = DivisionService.DivisionTs;

        await DepartmentService.GetDepartment();
        DepartmentsL = DepartmentService.DepartmentTs;

        await EmployeeService.GetEmployee();
        EmployeesL = EmployeeService.EmployeeTs;
    }

    string GetFormattedUsername()
    {
        if (readonlyvar)
        {
            var employee = EmployeesL.FirstOrDefault(e => e.Id == reg.EmployeeId);

            if (employee != null)
            {
                reg.Username = !string.IsNullOrEmpty(employee.FirstName) && !string.IsNullOrEmpty(employee.LastName)
                    ? $"{employee.FirstName[0].ToString().ToLower()}.{employee.LastName.ToLower()}"
                    : "";

                return !string.IsNullOrEmpty(employee.FirstName) && !string.IsNullOrEmpty(employee.LastName)
                    ? $"{employee.FirstName[0].ToString().ToLower()}.{employee.LastName.ToLower()}"
                    : "";
            }
            else
                return "";
        }
        else
            return "";
    }

    async Task HandleRegistration()
    {
        if (divvar == 0)
        {
            showAlert = true;
            message = "Please select Division.";
            _severity = Severity.Error;
            _processing = false;
            readonlyvar = false;
        }
        else if (deptvar == 0)
        {
            showAlert = true;
            message = "Please select Department.";
            _severity = Severity.Error;
            _processing = false;
            readonlyvar = false;
        }
        else if (reg.EmployeeId == 0)
        {
            showAlert = true;
            message = "Please select an Employee.";
            _severity = Severity.Error;
            _processing = false;
            readonlyvar = false;
        }
        else if (string.IsNullOrWhiteSpace(reg.Role))
        {
            showAlert = true;
            message = "Please select a Role.";
            _severity = Severity.Error;
        }
        else if (string.IsNullOrWhiteSpace(reg.Username))
        {
            showAlert = true;
            message = "Please enter Username.";
            _severity = Severity.Error;
        }
        else
        {
            try
            {
                _processing = true;

                // reg.Username = $"{reg.FirstName[0].ToString().ToLower()}.{reg.LastName.ToLower()}";

                await Task.Delay(1000);
                bool isUsernameExist = await AuthService.IsUsernameExist(reg.Username);

                if (isUsernameExist)
                {
                    showAlert = true;
                    message = "Username already exists.";
                    _severity = Severity.Error;
                    _processing = false;
                    readonlyvar = false;
                }
                else
                {
                    MudDialog?.Close();
                    reg.Password = "p@ssw0rd";
                    reg.LoginStatus = "Inactive";
                    var result = await AuthService.Register(reg);
                    _toastService.ShowSuccess("Registered Successfully!");

                    _processing = false;

                    var userid = Convert.ToInt32(GlobalConfigService.User_Id);
                    await AuditlogService.CreateLog(userid, "CREATE", "User", DateTime.Now);


                    // Update the List using the StateService
                    await AuthService.GetUsers();
                    var newList = AuthService.UserMasterTs;
                    StateService.SetState("UserList", newList);
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message.ToString());
                _processing = false;
            }
        }
    }

    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    void ShowPassword()
    {
        if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }
}
