@page "/userdashboard"
@inject GlobalConfigService GlobalConfigService
@inject IJSRuntime jsRuntime
@inject IEmployeeService EmployeeService
@inject ILeaveCredService LeaveCredService
@inject ILeaveService LeaveService
@inject NavigationManager navmanager

<MudGrid Spacing="4">
    <MudItem xs="12">
        <MudCard Class="Welcomepanel">
            <MudCardContent Class="d-flex h-100 flex-column justify-content-between flex-grow-1">
                <div class="d-flex flex-column gap-2">
                    <span style="font-size: 24px;">Welcome, <b>@FULLNAME</b>!</span>
                </div>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12">
        <MudCard Class="leavebalancepanel">
            <MudCardContent Class="d-flex h-100 flex-column justify-content-between flex-grow-1">
                <div class="d-flex justify-content-between mb-3 align-items-center">
                    <span class="maintitlespan">Leave Balance</span>
                </div>
                <div class="d-flex justify-content-around">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="progress-bar-el el" style="--el: @availableLeavetextEL">
                            <progress value="@empLeaveCred.EL" min="0" max="@empLeaveCred.EL" style="visibility:hidden;height:0;width:0;"></progress>
                            <div class="progress-text"><span class="progress-title">Available</span> <br> <span class="progress-count">@(empLeaveCred.EL - countEl)</span><span class="slash">/</span><span class="progress-total">@empLeaveCred.EL</span></div>
                        </div>
                        <div class="credtitle">Emergency Leave</div>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="progress-bar-ml ml" style="--ml: @availableLeavetextML">
                            <progress value="@empLeaveCred.ML" min="0" max="@empLeaveCred.ML" style="visibility:hidden;height:0;width:0;"></progress>
                            <div class="progress-text"><span class="progress-title">Available</span> <br> <span class="progress-count">@(empLeaveCred.ML - countMl)</span><span class="slash">/</span><span class="progress-total">@empLeaveCred.ML</span></div>
                        </div>
                        <div class="credtitle">Maternity Leave</div>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="progress-bar-pl pl" style="--pl: @availableLeavetextPL">
                            <progress value="@empLeaveCred.PL" min="0" max="@empLeaveCred.PL" style="visibility:hidden;height:0;width:0;"></progress>
                            <div class="progress-text"><span class="progress-title">Available</span> <br> <span class="progress-count">@(empLeaveCred.PL - countPl)</span><span class="slash">/</span><span class="progress-total">@empLeaveCred.PL</span></div>
                        </div>
                        <div class="credtitle">Paternity Leave</div>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="progress-bar-sl sl" style="--sl: @availableLeavetext">
                            <progress value="@empLeaveCred.SL" min="0" max="@empLeaveCred.SL" style="visibility:hidden;height:0;width:0;"></progress>
                            <div class="progress-text"><span class="progress-title">Available</span> <br> <span class="progress-count">@(empLeaveCred.SL - countSl)</span><span class="slash">/</span><span class="progress-total">@empLeaveCred.SL</span></div>
                        </div>
                        <div class="credtitle">Sick Leave</div>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="progress-bar-vl vl" style="--vl: @availableLeavetextVL">
                            <progress value="@empLeaveCred.VL" min="0" max="@empLeaveCred.VL" style="visibility:hidden;height:0;width:0;"></progress>
                            <div class="progress-text"><span class="progress-title">Available</span> <br> <span class="progress-count">@(empLeaveCred.VL - countVl)</span><span class="slash">/</span><span class="progress-total">@empLeaveCred.VL</span></div>
                        </div>
                        <div class="credtitle">Vacation Leave</div>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="progress-bar-ol sl" style="--ol: @availableLeavetextOL">
                            <progress value="@empLeaveCred.OL" min="0" max="@empLeaveCred.OL" style="visibility:hidden;height:0;width:0;"></progress>
                            <div class="progress-text"><span class="progress-title">Available</span> <br> <span class="progress-count">@(empLeaveCred.OL - countOl)</span><span class="slash">/</span><span class="progress-total">@empLeaveCred.OL</span></div>
                        </div>
                        <div class="credtitle">Other</div>
                    </div>
                </div>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>



@code {
    
}
