<MudDialog>
    <DialogContent>
        <EditForm Model="@obj" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <div class="row">
                @* ERROR/SUCCESS ALERT *@
                @if (_showAlert)
                {
                    <div class="col-12 mb-2">
                        <MudAlert Severity="@_severity" ShowCloseIcon="true" CloseIconClicked="CloseMe" Class="mb-2">@_message</MudAlert>
                    </div>
                }
                <div class="col-12">
                    <MudText Typo="Typo.body2">AC_No</MudText>
                    <MudTextField @bind-Value="obj.AC_No" For="@(() => obj.AC_No)" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                </div>
                @* <div class="col-12">
                <MudText Typo="Typo.body2">Name</MudText>
                <MudTextField @bind-Value="obj.Name" For="@(() => obj.Name)" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                </div> *@
                <div class="col-12 col-md-6">
                    <MudText Typo="Typo.body2">Date</MudText>
                    <MudDatePicker @bind-Date="obj.Time" For="@(() => obj.Time)" Placeholder="Enter Date" Editable="true" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                </div>
                <div class="col-12 col-md-6">
                    <MudText Typo="Typo.body2">Time</MudText>
                    <MudTimePicker AmPm="true" @bind-Time="time" Editable="true" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                </div>
                <div class="col-12">
                    <MudText Typo="Typo.body2">State</MudText>
                    <MudSelect @bind-Value="obj.State" Placeholder="Please Select" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;">
                        <MudSelectItem Value="@("C/In")">C/In</MudSelectItem>
                        <MudSelectItem Value="@("C/Out")">C/Out</MudSelectItem>
                    </MudSelect>
                </div>

                <div class="d-flex justify-content-end align-items-center gap-2 mt-4">
                    <div class="dialogbtns" style="padding: 4px 0px 15px 10px;">
                        <button type="button" class="btn cancel" @onclick="Cancel">Cancel</button>
                        <button type="submit" class="save btn">Save</button>
                    </div>
                </div>
            </div>
        </EditForm>
    </DialogContent>
</MudDialog>