<MudDialog>
    <DialogContent>
        <EditForm Model="@obj" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="col-12">
                    <MudText Typo="Typo.body2">Timetable Name</MudText>
                    <MudTextField @bind-Value="obj.Timetable_Name" For="@(() => obj.Timetable_Name)" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                </div>
                <div class="col-12 col-md-6">
                    <MudText Typo="Typo.body2">On-duty Time</MudText>
                    <MudTimePicker @bind-Time="obj.OnDuty_Time" For="@(() => obj.OnDuty_Time)" Mask="@(new PatternMask("00:00"))" Editable="true" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                </div>

                <div class="col-12 col-md-6">
                    <MudText Typo="Typo.body2">Off-duty Time</MudText>
                    <MudTimePicker @bind-Time="obj.OffDuty_Time" For="@(() => obj.OffDuty_Time)" Mask="@(new PatternMask("00:00"))" Editable="true" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                </div>

                <div class="col-12">
                    <MudText Typo="Typo.body2">Late Time(Mins)</MudText>
                    <MudNumericField @bind-Value="obj.Late_Time" For="@(() => obj.Late_Time)" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                </div>

                <div class="col-12">
                    <MudText Typo="Typo.body2">Leave Early Time(Mins)</MudText>
                    <MudNumericField @bind-Value="obj.LeaveEarly_Time" For="@(() => obj.LeaveEarly_Time)" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                </div>

                <div class="col-12 col-md-6">
                    <MudText Typo="Typo.body2">Beginning In</MudText>
                    <MudTimePicker @bind-Time="obj.Begin_C_In" For="@(() => obj.Begin_C_In)" Mask="@(new PatternMask("00:00"))" Editable="true" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                </div>

                <div class="col-12 col-md-6">
                    <MudText Typo="Typo.body2">Ending In</MudText>
                    <MudTimePicker @bind-Time="obj.Ending_C_In" For="@(() => obj.Ending_C_In)" Mask="@(new PatternMask("00:00"))" Editable="true" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                </div>

                <div class="col-12 col-md-6">
                    <MudText Typo="Typo.body2">Beginning Out</MudText>
                    <MudTimePicker @bind-Time="obj.Begin_C_Out" For="@(() => obj.Begin_C_Out)" Mask="@(new PatternMask("00:00"))" Editable="true" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                </div>

                <div class="col-12 col-md-6">
                    <MudText Typo="Typo.body2">Ending Out</MudText>
                    <MudTimePicker @bind-Time="obj.Ending_C_Out" For="@(() => obj.Ending_C_Out)" Mask="@(new PatternMask("00:00"))" Editable="true" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                </div>

                <div class="col-12">
                    <MudText Typo="Typo.body2">Count as Workday</MudText>
                    <MudNumericField @bind-Value="obj.Workday_Count" For="@(() => obj.Workday_Count)" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                </div>

                <div class="col-12">
                    <MudText Typo="Typo.body2">Count as minute(minute)</MudText>
                    <MudNumericField @bind-Value="obj.Minute_Count" For="@(() => obj.Minute_Count)" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
                </div>

                <div class="col-12 d-flex justify-content-center">
                    <MudCheckBox @bind-Checked="@obj.Must_C_In"> Must C/In</MudCheckBox>
                    <MudCheckBox @bind-Checked="@obj.Must_C_Out">Must C/Out</MudCheckBox>
                </div>

                <div class="d-flex justify-content-end align-items-center gap-2 mt-4">
                    <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary">Save</MudButton>
                    <MudButton OnClick="Cancel">Cancel</MudButton>
                </div>
            </div>
        </EditForm>
    </DialogContent>
</MudDialog>

@code {
#nullable disable

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    private ShiftTimetableT obj = new();

    private async Task OnValidSubmit(EditContext context)
    {
        StateHasChanged();

        await TimeTblService.CreateTimetable(obj);
        await AuditlogService.CreateLog(Int32.Parse(GlobalConfigService.User_Id), "CREATE", "Model", DateTime.Now);
        _toastService.ShowSuccess(TokenCons.CREATESUCCESS);

        MudDialog.Close();
        StateService.SetState("TimetableList", await TimeTblService.GetTimetableList());
    }

    void Cancel() => MudDialog.Cancel();
}
