@page "/leave"
@inject ILeaveService LeaveService
@inject IDialogService DialogService
@inject StateService StateService


<PageTitle>Leave Management</PageTitle>


<div class="mb-5">
    <div class="d-flex flex-row mt-5 justify-content-between align-items-center">
        <span style="font-size: x-large;font-weight: 600;color: #424242;">Leave Management</span>
        <AuthorizeView Roles="HR, System Administrator">
            <Authorized>
                <MudButton OnClick="OpenAddLeave" Variant="Variant.Filled" Size="Size.Medium" StartIcon="@Icons.Material.Rounded.Add" Class="btnadd"> Leave Type</MudButton>
            </Authorized>
        </AuthorizeView>
    </div>
</div>

<div class="box w-auto">
    @if (_leaveTypesList == null || _leaveTypesList.Count == 0)
    {
        <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Class="my-7" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="auto" />
        <MudCardContent>
            <MudSkeleton Width="30%" Height="42px;" />
            <MudSkeleton Width="80%" />
            <MudSkeleton Width="100%" />
        </MudCardContent>
        <MudCardActions>
            <MudSkeleton Width="64px" Height="40px" Class="ml-2" />
            <MudSkeleton Width="105px" Height="40px" Class="ml-3" />
        </MudCardActions>
        <MudOverlay Visible="isVisible" DarkBackground="true" Absolute="true">
            <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
        </MudOverlay>
    }
    else
    {
        <MudTable Class="stable d-flex justify-content-between align-content-between flex-column h-100" Items="_leaveTypesList" Context="obj" SortLabel="Sort By" FixedHeader="true" Elevation="0" HorizontalScrollbar="true" Dense="true" Hover="true" Bordered="false" Striped="true" @bind-SelectedItem="selectedItem1">
            <HeaderContent>
                <MudTh Class="" Style="background: #e9ecef; font-weight: bold; font-size: 16px;">Code</MudTh>
                <MudTh Class="" Style="background: #e9ecef; font-weight: bold; font-size: 16px;">Name</MudTh>
                <MudTh Class="" Style="background: #e9ecef; font-weight: bold; font-size: 16px;">Statistical Rule</MudTh>
                <MudTh Class="" Style="background: #e9ecef; font-weight: bold; font-size: 16px;">Action</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="">@obj.Code</MudTd>
                <MudTd DataLabel="">@obj.Name</MudTd>
                <MudTd DataLabel="">@obj.Unit @obj.Description</MudTd>
                <MudTd>
                    <AuthorizeView Roles="System Administrator">
                        <Authorized>
                            <MudTooltip Text="Update">
                                <MudIconButton Class="btnedit" OnClick="(() => OpenUpdateLeave(obj.Id))" Icon="@Icons.Material.Rounded.Edit" aria-label="Edit"></MudIconButton>
                            </MudTooltip>
                        </Authorized>
                        <NotAuthorized>
                            <MudIconButton Disabled Class="btnedit" Icon="@Icons.Material.Rounded.Edit" aria-label="Edit"></MudIconButton>
                         </NotAuthorized>
                     </AuthorizeView>
                 </MudTd>
             </RowTemplate>
             <PagerContent>
                 <MudTablePager PageSizeOptions="new int[] { 10, 25, int.MaxValue }" InfoFormat="@($"Right {infoFormat}")" HorizontalAlignment="HorizontalAlignment.Right" />
             </PagerContent>
         </MudTable>
    }
</div>
@code {
    public List<LeaveTypesT> _leaveTypesList = new();
    private LeaveTypesT selectedItem1 = null;
    private string infoFormat = "{first_item}-{last_item} of {all_items}";

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(300);
        StateService.OnChange += OnStateChanged;
        await LoadList();
    }

    private async Task LoadList()
    {
        await LeaveService.GetLeave();
        StateService.SetState("LeaveList", LeaveService.LeaveTypesTs);
    }

    private void OnStateChanged()
    {
        // Handle state changes, e.g., update the areaList
        _leaveTypesList = StateService.GetState<List<LeaveTypesT>>("LeaveList");
        StateHasChanged();
    }

    private bool isVisible;
    public async void OpenOverlay()
    {
        isVisible = true;
        await Task.Delay(3000);
        isVisible = false;
        StateHasChanged();
    }


    private void OpenUpdateLeave(int id)
    {
        var parameters = new DialogParameters<UpdateLeaveDialog>();
        parameters.Add(x => x.Id, id);

        var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, MaxWidth = MaxWidth.ExtraSmall };
        DialogService.Show<UpdateLeaveDialog>("Update Leave", parameters, options);
    }

    private void OpenAddLeave()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, MaxWidth = MaxWidth.ExtraSmall };
        DialogService.Show<AddLeaveDialog>("New Leave Type", options);
    }
}
